openapi: 3.0.0
info:
  version: 1.0.0
  title: Trip Ninja API Documentation
  description: "<h2>Generate Solutions/h2>\nAfter your infrastructure has made the queries to your content\
    \ sources that Trip Ninja defined in /get-searches/, the \ngenerate-solutions/ endpoint will generate\
    \ a set of optimal itineraries including the ideal markup on those itineraries and then return them\
    \ to you. You can then present those itineraries on the front end of your platform to your customers.\n\
    \nThe /generate-solutions/ endpoint contains an optional metadata field that exists on each query\
    \ that your infrastructure performs. This field contains any metadata that you want to pass in (branded\
    \ fares, tax info, etc.). \n\n<b>1. Include Metadata Field</b>\nIf you choose to include the metadata\
    \ field, we will pass you these values in a list inside the corresponding itinerary when we have finished\
    \ generating the itineraries for the search.\nPros -The benefit of this extra metadata data is that\
    \ the response from the /generate-solutions/ endpoint will be ready to be displayed on the front end\
    \ of your platform.\nCons - This will inflate the request/response size considerably which can result\
    \ in longer loading times.\n\n<b>2. Ignore MetaData Field</b>\nIn approach, your infrastructure will\
    \ only send the required fields listed in our docs.\nPros - This will result in a much smaller request/response.\n\
    Cons - It will be up to your infrastructure and platform to process the data and add any additional\
    \ metadata to the itineraries returned.\n\n!\n"
servers:
- url: https://sandbox.tripninja.io
  description: Sandbox server for development and testing.
paths:
  /v3/generate-solutions/:
    post:
      summary: Generate Solutions
      description: ''
      operationId: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullGenerateSolutionsRequest'
            examples:
              oneWayGenerateSolutionRequest:
                $ref: '#/components/examples/OneWayGenerateSolutionRequest'
              twoWayGenerateSolutionRequest:
                $ref: '#/components/examples/TwoWayGenerateSolutionRequest'
              threeWayGenerateSolutionRequest:
                $ref: '#/components/examples/ThreeWayGenerateSolutionRequest'
              fourWayGenerateSolutionRequest:
                $ref: '#/components/examples/FourWayGenerateSolutionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSolutionsResponseTwo'
              examples:
                oneWayGenerateSolutionResponse:
                  $ref: '#/components/examples/OneWayGenerateSolutionResponse'
                twoWayGenerateSolutionResponse:
                  $ref: '#/components/examples/TwoWayGenerateSolutionResponse'
                threeWayGenerateSolutionResponse:
                  $ref: '#/components/examples/ThreeWayGenerateSolutionResponse'
                fourWayGenerateSolutionResponse:
                  $ref: '#/components/examples/FourWayGenerateSolutionResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: A human-readable error code. (e.g., <code>IE13</code>).
                    example: IE38
                  message:
                    type: string
                    description: A human-readable message providing more details about the error. (e.g.,
                      <code>Currency is required</code>).
                    example: Trip ID not found
              examples:
                IE52ErrorCode:
                  $ref: '#/components/examples/IE52ErrorCode'
                IE08ErrorCode:
                  $ref: '#/components/examples/IE08ErrorCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: A human-readable error code. (e.g., <code>IE13</code>).
                    example: IE44
                  message:
                    type: string
                    description: A human-readable message providing more details about the error. (e.g.,
                      <code>Currency is required</code>).
                    example: User is not authorized
        '500':
          description: Server Error
components:
  schemas:
    FullGenerateSolutionsRequest:
      type: object
      title: Generate Solutions Request
      properties:
        trip_id:
          description: Unique identifier for this search. Used in all subsequent requests related to this
            trip.
          type: string
          example: gAAAAABoD8kRt_phvyNxhfNxfWow40S4Tzlyte5Y-s85Rl4mMeCm7HADsOORIS8ib6hChNixixkBesrAKKf9DUMTr_-V0F-rT-m03k-LcGS9kD6gP_25-zkNVExb1fWzySyxUKEIHWMl3q7wcJQg4I9JT9tC81C6RWrBhaIVYTJfrF2S3xOXWZc2VANvMSoBWVWIPK_fU1BUvVGAeYwIdJPvY-9SHRJ9_mRzPhgfmvjDsNRzRDmACwMSC8FhBE3PdKS9l3ZfTCMB3zVjuL01ZkU0P5knyKMSHRr-cNNyVKA3VFPYIMb6v0tUroWdLzl9AxY2TDIl7Krtwrgg8UvyCVrCjfYAIYSP93WqeDvAGR2nFVfHF-wODtdglQOT5BRXAPgIn_k0v6WNMB5NNSOhewK6pKIos0_rxqjst60PjjQAqJ4Zm4hav7d2ln8xiKOWOU1FNyOt1RQdnmYxlrEOqi1FYmfGGyCEYtyCwyUttaTf67xruWPnQzb6YKeBBrCkXNWBfVbE-qxVkzF2ekxrE9-5DJhfgrqv6y08xkOt0s4MF_iO71_lwSJyU0fBmvX7SEuCTc3J96BQure4VBdfZtjwepSv_I5ooCF7cfnzg9boEAp_Pru3TlYXMxgxvN7DVBWVOg3r3BZmxC34S4m8t0dFhSc2P1Pxwdgz-Czl0XPKiz5cekEao3OhEHXoSay4-c6cfmTZaA-u1Q1dtJm9mX25uImYDXWlaL5uDFxRqPiYxtnRjjoWXj0qe2KhCA5L0ExWq-DIU1BePS53YHT8uH3otU0K0KN9dFC2w1A8dSrQFmoM9ytLZwz6ZbzJ0lnZgyn0Kgf9LJxLdzUOj3INt5Zj8ye9hnwuxqw6jxzGvcapr3Zb-G0N-Sr8Lrd-5qOzhv0OFBntwHPdWUcrgqsyLtErffVjlt0PheBLjqG4MacMogPV994zAjGH1ccNUE6DRHMDhtyxD11hZi8LhDhMuffQJ7bc6cVFuQ2ESmelQno-qbKTDMARvqXGqqlgL3OIbA-7o9ALQS7c9XML-sNDsT8niGCuYNQVPRJ08xhsGQcW2e2Rg-thwCq-egDfgZy4fqQYgzcNPQ_dgPMsHMfyE82425ykOquSq8HENPDKr-czRcYSZdbwIuLmNrUfPFmbHdCy5ZIBy2DjeLadJfHlwPAtkw0NTd8o8On3eYqjXgcHesqjZayI-yYMonujtJYGS4eZzmpKhXSdPoYitYhJ1nx81AHGjQ_HjJ7gyUy-MH132dxYj1E6lgUsuq_TToOYzhQkxy_9vMShvT1swTHC5261SKiv0VlkDGxo0UJv9Cz263OJvbUNbtOnm054kBAm8tacnhEZZztqs39ZyGHBasC0k6cbqbbtaeNOIxU_MzHuI1JaISrnTP3lfzXVtWZvk0jojyeROaJr1q3AbYUJP1xR1f4cWwUDE8WMbAbdXaKmhxOjzrxMdoqXR0eLQNR6OxCtK3B8tsntnhKTV-Yn80RxCVWCMz_6cuTFuuacml8U4ZPtJ7-2ydO18hRetyNcdGoOOnYqOJ6FoxgPXqWwxv2VADSH3hmqXsi1HOgxioxe0NqMuyksV_y7tZd2FxU0iHfhbmSUJEExCUIgCoRGz4kZ1ZrBtJM-w6Q3CRzRqtwQbKWMkTN9IQ6NIbDefuSOmgJVnGY3s-FY
        datasource_responses:
          description: List of datasource responses used to generate itinerary solutions.
          type: object
          allOf:
          - $ref: '#/components/schemas/FullDatasourceResponse'
    MinimalDatasourceResponse:
      type: object
      properties:
        1578b29999fc8f5cb0008df53679b10ea0856e16:
          description: The ID of the datasource request. The ID varies between requests.
          type: array
          items:
            $ref: '#/components/schemas/BasicGenerateDatasourceRequest'
    FullDatasourceResponse:
      type: object
      properties:
        1578b29999fc8f5cb0008df53679b10ea0856e16:
          description: Example <code>datasource_request_id</code> from <code>get-searches</code>. Use
            this ID as the key with your formatted search results as the value to map responses back to
            their original requests for itinerary generation.
          type: array
          items:
            $ref: '#/components/schemas/FullGenerateDatasourceRequest'
    MinimalDatasourceLegDetailsRequest:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - departure_timestamp
      - arrival_time
      - arrival_timestamp
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T08:00:00-04:00</code>).
          example: '2023-03-15T08:00:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in EPOCH time, in seconds (e.g., <code>1678892400</code>).
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T10:29:00-04:00</code>).
          example: '2023-03-15T10:29:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in EPOCH time, in seconds (e.g., <code>1678901340</code>).
        flight_number:
          type: string
          description: Flight number for the leg.
          example: '391'
        operating_carrier:
          type: string
          description: Two-letter code for the airline operating the flight.
          example: WS
        cabin_class:
          type: string
          description: Requested cabin class for the query. Can be set globally or per segment. <b>Values:</b>
            <code>"E"</code> (Economy), <code>"PE"</code> (Premium Economy), <code>"BC"</code> (Business
            Class), <code>"FC"</code> (First Class), <code>"PFC"</code> (Premium First Class).
          example: BC
        from_iata:
          type: string
          description: Three-digit IATA code representing the departure city / airport of the leg.
          example: YWG
        to_iata:
          type: string
          description: Three-digit IATA code representing the arrival city / airport of the leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Two-letter code for the carrier selling the flight tickets.
          example: AC
    MinimalDatasourceLegDetailsResponse:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - arrival_time
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T08:00:00-04:00</code>).
          example: '2023-03-15T08:00:00'
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. <code>2023-03-15T10:29:00-04:00</code>).
          example: '2023-03-15T10:29:00'
        flight_number:
          type: string
          description: Flight number for the leg.
          example: '391'
        operating_carrier:
          type: string
          description: Two-letter code for the airline operating the flight.
          example: WS
        cabin_class:
          type: string
          description: 'Returned cabin class for the leg. Can be set globally or per segment. Values:
            <code>"E"</code> (Economy), <code>"PE"</code> (Premium Economy), <code>"BC"</code> (Business
            Class), <code>"FC"</code> (First Class), <code>"PFC"</code> (Premium First Class).'
          example: BC
        from_iata:
          type: string
          description: Three-digit IATA code representing the departure city / airport of the leg.
          example: YWG
        to_iata:
          type: string
          description: Three-digit IATA code representing the arrival city / airport of the leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Two-letter code for the carrier selling the flight tickets.
          example: AC
        cancellation_probability:
          type: number
          description: Percentage probability of flight cancellation. Only returned for VI segments with
            self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: 7.86
        average_delay_time:
          type: number
          description: Average delay time for this flight in minutes. Negative values indicate early arrivals.
            Only returned for VI segments with self-transfers when the average delay time module is enabled
            in the Trip Ninja Admin Panel.Average delay time for this flight in minutes. Negative values
            indicate early arrivals. Only returned for VI segments with self-transfers when the average
            delay time module is enabled in the Trip Ninja Admin Panel.
          example: -5
        is_international:
          type: boolean
          description: Indicates whether this flight is international. Only returned for VI segments with
            self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: true
        self_transfer_time:
          type: number
          description: Transfer time in minutes between this flight's arrival and the next segment's departure.
            Only returned for VI segments with self-transfers when the average delay time module is enabled
            in the Trip Ninja Admin Panel.
          example: 134
    MinimalMetadataRequest:
      type: object
      description: Optional field for custom data. Values passed through remain unchanged. When segments
        are mixed and matched to create itineraries, the metadata from each constituent segment is included
        in the response with its associated details.
      properties:
        OriginName:
          type: string
          example: Halifax, NS, Canada (YHZ)
        Origin:
          type: string
          example: YHZ
        DestinationName:
          type: string
          example: Ottawa, ON, Canada (YOW)
        Destination:
          type: string
          example: YOW
        DepartureTime:
          type: string
          example: '2023-03-15T08:00:00'
        DepartureTimestamp:
          type: number
          example: 1678892400
        ArrivalTime:
          type: string
          example: '2023-03-15T10:29:00'
        ArrivalTimestamp:
          type: number
          example: 1678901340
        FlightNumber:
          type: string
          example: '391'
        Carrier:
          type: string
          example: PD
        CarrierFullName:
          type: string
          example: Porter Airlines, Inc.
        FlightTime:
          type: number
          example: 138
        AircraftType:
          type: string
          example: DH4
        AvailabilitySource:
          type: string
          example: A
        Key:
          type: string
          example: oMrDKtSqWDKAFrUOpAAAAA==
        BookingCode:
          type: string
          example: W
        cabin_class:
          type: string
          example: Business Class
    DatasourceLegDetailsResponse:
      allOf:
      - $ref: '#/components/schemas/MinimalDatasourceLegDetailsResponse'
      - properties:
          segment_leg_position:
            type: number
            description: Position of the leg within its segment.
            example: 0
    DatasourcePriceBreakdownDetails:
      type: object
      description: Displays the pricing for each passenger type.
      properties:
        passenger_type_code:
          type: string
          description: Passenger type code.
          example: ADT
        base_price:
          type: number
        total_price:
          type: number
        taxes:
          type: number
        tax_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/DatasourceTaxBreakdownDetails'
    DatasourceTaxBreakdownDetails:
      type: object
      description: Breakdown of taxes amount into their categories
      properties:
        category:
          type: string
          description: Tax category.
          example: FR
        amount:
          type: number
          description: Tax amount.
    GenerateSolutionsResponseTwo:
      title: 'Generate Solutions Request #2'
      type: object
      properties:
        trip_id:
          type: string
          description: Unique identifier for this search. Used in all subsequent requests related to this
            trip.
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency:
          type: string
          description: Three-letter currency code (e.g., <code>"USD"</code>, <code>"CAD"</code>) for provider
            queries and price calculations.
          example: MXN
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfoWithMarkup'
    DatasourceItineraryInfo:
      type: array
      description: Array of itineraries sorted by the <code>weight</code> parameter.
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary. Used in all subsequent requests related
              to this trip.
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Total price of the itinerary including fare and taxes.
            example: 197.1
          weight:
            type: number
            description: The calculated True Cost of Flight value (Flight Price + time penalty) used for
              sorting itineraries. This parameter shows the result of the time_value calculation, allowing
              you to see exactly how each itinerary was ranked. If <code>time_value</code> = 0 or is <code>null</code>,
              the itinerary will be sorted by price.
            example: 239
          is_virtual_interline:
            type: boolean
            description: Indicates whether the itinerary includes virtual interlining segments.
            example: false
          structure:
            type: array
            description: 'Defines how segments are grouped and booked. Each number represents a segment
              (starting from 0); parentheses indicate segments booked together on one PNR. For example:
              <br/><ul><li><code>[0, 1, 2]</code> = three separate one-way bookings</li> <br/><li><code>[0,
              (1, 2)]</code> = segment 0 as one-way, segments 1+2 as open-jaw</li> <br/><li><code>[(0,
              1, 2)]</code> = three segment booking (vs. <code>[0, 1, 2]</code> = three combined one-ways</li></ul><br/>For
              VI searches, midpoint layovers do not affect structure (e.g., a one-segment VI search remains
              <code>[0]</code> regardless of midpoints).'
            example: '[(0, 1), 2]'
          flight_numbers:
            type: array
            description: A list of flight numbers included in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: An array of segments for the itinerary.
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: Unique identifier for each itinerary in your datasource response. Generate
                    a unique ID for every <code>datasource_response</code> item.
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Indicates whether the segment uses virtual interlining.
                  example: false
                price:
                  type: number
                  description: Price of the segment including fare and taxes.
                  example: 671.88
                segment_position:
                  type: number or array of number
                  description: 'Position of the segment in the itinerary as an integer or list of integers.
                    Use with <code>segment_leg_position</code> to determine correct segment and leg ordering.
                    For example: <br/><ul><li><code>0</code> = the first segment of the itinerary</li><li><code>[0,
                    1, 2]</code> = the first, second, and third segments of the itinerary.</li></ul>'
                  example: 0
                legs:
                  type: array
                  description: Array of leg-specific flight details returned from your content source
                    searches. Include all leg-level information provided by your datasources.
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse'
          metadata:
            type: array
            description: Optional field for custom data. Values passed through remain unchanged.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest'
    DatasourceItineraryInfoWithMarkup:
      type: array
      description: Array of itineraries sorted by the weight parameter
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary. Used in all subsequent requests related
              to this trip.
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Total price of the itinerary including fare and taxes.
            example: 197.1
          weight:
            type: number
            description: The calculated True Cost of Flight value (Flight Price + time penalty) used for
              sorting itineraries. This parameter shows the result of the time_value calculation, allowing
              you to see exactly how each itinerary was ranked. If <code>time_value</code> = 0 or is <code>null</code>,
              the itinerary will be sorted by price.
            example: 239
          is_private_fare:
            type: boolean
            description: Indicates if segment uses a private fare. <code>is_private_fare</code> = <code>false</code>
              indicates public fare.
            example: false
          is_virtual_interline:
            type: boolean
            description: Indicates whether the itinerary includes virtual interlining segments.
            example: false
          structure:
            type: array
            description: 'Defines how segments are grouped and booked. Each number represents a segment
              (starting from 0); parentheses indicate segments booked together on one PNR. For example:
              <br/><ul><li><code>[0, 1, 2]</code> = three separate one-way bookings</li> <br/><li><code>[0,
              (1, 2)]</code> = segment 0 as one-way, segments 1+2 as open-jaw</li> <br/><li><code>[(0,
              1, 2)]</code> = three segment booking (vs. <code>[0, 1, 2]</code> = three combined one-ways</li></ul>
              <br/>For VI searches, midpoint layovers do not affect structure (e.g., a one-segment VI
              search remains <code>[0]</code> regardless of midpoints).'
            example: '[(0, 1), 2]'
          is_vi_openjaw:
            type: boolean
            description: Indicates whether the itinerary includes a virtual interline open-jaw segment.
            example: false
          flight_numbers:
            type: array
            description: A list of flight numbers included in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: An array of segments for the itinerary
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: Unique identifier for each itinerary in your datasource response. Generate
                    a unique ID for every <code>datasource_response</code> item.
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Indicates whether the segment uses virtual interlining.
                  example: false
                price:
                  type: number
                  description: Price of the segment including fare and taxes.
                  example: 671.88
                segment_position:
                  type: number or array of number
                  description: 'Position of the segment in the itinerary as an integer or list of integers.
                    Use with <code>segment_leg_position</code> to determine correct segment and leg ordering.
                    For example: <br/><ul><li><code>0</code> = the first segment of the itinerary</li><li><code>[0,
                    1, 2]</code> = the first, second, and third segments of the itinerary.</li></ul>'
                  example: 0
                segment_source:
                  type: string
                  description: Content source provider for the segment.
                  example: travelport
                baggage:
                  type: string
                  description: Baggage allowance per segment. Itineraries are grouped by baggage policy
                    (<code>null</code> allowances are grouped separately from defined allowances).
                  example: 2pc
                legs:
                  type: array
                  description: Array of leg-specific flight details returned from your content source
                    searches. Include all leg-level information provided by your datasources.
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse'
                risk_profile:
                  type: number
                  description: Estimated risk level of a VI solution as a percentage (e.g., <code>10.11</code>
                    = 10.11% risk). Configure risk thresholds in the Trip Ninja Admin Panel to filter
                    out VI itineraries exceeding your acceptable risk tolerance.
                  example: 8.42
          metadata:
            type: array
            description: Optional field for custom data. Values passed through remain unchanged.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest'
          markup:
            type: number
            description: Markup amount calculated by the Trip Ninja revenue management system.
            example: 20
    DatasourceItinerarySegmentInfo:
      type: object
      properties:
        segment_id:
          type: string
          description: String if one-way, Array of 2 Strings if open-jaw. Used for booking.
          example: 344d73be0d61f820aa9a6ace300742fed0672f2e
        price:
          type: number
          description: Price of the segment including fare and taxes.
          example: 72.3
    PercentageWithExtraInfo:
      type: object
      description: Information about penalty percentage and amount.
      properties:
        amount:
          type: number
          description: Penalty amount.
          example: 78
        percentage:
          type: number
          description: Penalty percentage.
          example: 0
    ChangePenaltyWithExtraInfo:
      type: object
      description: Information about changing.
      properties:
        amount:
          type: number
          description: Change penalty amount.
          example: 78
        percentage:
          $ref: '#/components/schemas/PercentageWithExtraInfo'
        applies_at:
          type: string
          description: When will the change penality apply at.
          example: Anytime
    CancelPenaltyWithExtraInfo:
      type: object
      description: Information about cancelling.
      properties:
        amount:
          type: number
          description: Cancel penalty amount.
          example: 78
        percentage:
          $ref: '#/components/schemas/PercentageWithExtraInfo'
        applies_at:
          type: string
          description: When will the cancel penality apply at.
          example: Anytime
    FareInfoBrandDetails:
      type: object
      description: Contains brand information for the fare.
      properties:
        name:
          type: string
          description: Name of the brand.
          example: STANDARD
        brand_description:
          type: string
          description: Description of the brand.
          example: 'Standard: Carry on baggage only'
        tag_line:
          type: string
          description: Tag line of the brand.
          example: Low Fares for Carefee Travel
        brand_services:
          type: object
          description: Contains information of what the brand offers.
          properties:
            carry_on_hand_baggage:
              type: string
              description: Are carry on bags permitted on this ticket. True/False or "$".
              example: true
            checked_baggage:
              type: string
              description: Are checked bags permitted on this ticket. True/False or "$".
              example: true
            rebooking:
              type: string
              description: Rebooking available on this ticket.
              example: $
            refund:
              type: boolean
              description: Refundability of the ticket.
              example: true
            seat_assignment:
              type: string
              description: Seat assignment availability on this ticket.
              example: $
            meals_and_beverages:
              type: boolean
              description: Are meals and beverages provided as part of this ticket.
              example: true
            wifi:
              type: string
              description: Wifi availability on the flight.
              example: $
        tier:
          type: string
          description: Brand tier.
          example: '0002'
    BrandFareInfo:
      type: array
      description: Contains fare info for the brand.
      items:
        type: object
        properties:
          origin:
            description: Origin of the segment.
            type: string
            example: YHZ
          destination:
            description: Destination of the segment.
            type: string
            example: YVR
          fare_basis:
            description: Fare Basis Code for the segment.
            type: string
            example: QUSDSI0E
          booking_code:
            description: Booking code for the segment.
            type: string
            example: 12S3TI3P
          cabin_class:
            description: Cabin class of the segment. Accepted values are E - Economy, PE - Premium Economy,
              BC - Business Class, FC - First Class, PFC - Premium First Class.
            type: string
            example: E
          brand:
            $ref: '#/components/schemas/FareInfoBrandDetails'
    DatasourceBrandDetails:
      type: array
      description: List of branded fares for the current segment.
      items:
        type: object
        properties:
          base_price:
            description: Base price of the segment (tax excluded).
            type: number
            example: 0
          taxes:
            description: Tax price of the segment.
            type: number
            example: 119.1
          fees:
            description: Fees for the segment *Travelport customers only*.
            type: number
            example: 0
          price:
            description: Price of the segment including fare and taxes.
            type: number
            example: 197.1
          change_penalty:
            $ref: '#/components/schemas/ChangePenaltyWithExtraInfo'
          cancel_penalty:
            $ref: '#/components/schemas/CancelPenaltyWithExtraInfo'
          baggage_info:
            description: Contains baggage information.
            type: object
            properties:
              pieces:
                description: Number of baggages included.
                type: integer
                example: 1
              units:
                description: Unit of the baggage.
                type: string
                example: pc
          fare_info:
            $ref: '#/components/schemas/BrandFareInfo'
    BasicGenerateDatasourceRequest:
      type: object
      description: blah
      required:
      - pricing_solution_id
      - total_price
      - segment_source
      - is_private_fare
      - segments
      properties:
        pricing_solution_id:
          type: string
          description: Unique identifier for each itinerary in your datasource response. Generate a unique
            ID (e.g., truncated 40-character hash) for every <code>datasource_response</code> item.
          example: 40495f0f293b54ffe64c833d987cd80ecdb5aca5
        total_price:
          type: number
          description: Total price of the segment including fare and taxes.
          example: 197.1
        segment_source:
          type: string
          description: Content provider for this segment. Configure available sources in your Trip Ninja
            Admin Panel.
          example: travelport
        is_private_fare:
          type: boolean
          description: Indicates if segment uses a private fare. <code>is_private_fare</code> = <code>false</code>
            indicates public fare.
          example: true
        segments:
          type: array
          description: A list of segments for the itinerary. Responses containing more than two segments
            are formatted in a nested list. (e.g., <code>[[segment_1_legs]</code>, <code>[segment_2_legs]]</code>).
          items:
            type: array
            description: Array of leg-specific flight details returned from your content source searches.
              Include all leg-level information provided by your datasources.
            items:
              $ref: '#/components/schemas/MinimalDatasourceLegDetailsRequest'
        baggage:
          type: string
          description: Baggage allowance per segment. Itineraries are grouped by baggage policy (<code>null</code>
            allowances are grouped separately from defined allowances).
          example: 2pc
        metadata:
          $ref: '#/components/schemas/MinimalMetadataRequest'
        refundable:
          type: boolean
          description: Indicates whether the booking is refundable.
          example: true
    FullGenerateDatasourceRequest:
      allOf:
      - $ref: '#/components/schemas/BasicGenerateDatasourceRequest'
    MetaDataDetails:
      type: array
      description: Contains a list of metadata for data mapping, this will not be populated if no metadata
        is passed in the generate solutions request.
      items:
        type: object
        properties:
          metadata_id:
            type: string
            description: A unique identifier that matches the metadata within each itinerary.
            example: c2f59ef0eeec039233d60e694fed09edc4dfa954
  examples:
    OneWayGenerateSolutionRequest:
      summary: One Way Generate Solution Request
      value:
        trip_id: gAAAAABoPaUGNlknuEEJZ0K3dfY5aKMqzVh6IXF3KKGF5Acky_ShkKUl1lH0Or5pyoa_rpJ8vquFo59-4RsNX9F-Hez0glRSANpGUz_1CTrIsX1WvueV8tRrj9nstrxcvgDBp9CMRIpXIB5gUdmF047z57_t3gpJcvRyIHiV_28Fi_UcWyRlp4wTDgL6H-89XmGO--r6PvBe_P_Gon2EJ9O9u1UI6FFsh29FFp3CqZ7q94QoB1Mr-MbXXvj1nkOYe-xL58lyV4gGHOYQ99AcDTQ11xs3R5hyCGyUKmwY6fNFydVV6ynax2yS0Yp6Qi0nT6zu_T-iY6iCTK30mkHsLSASjVUEZXnfEhlbdvVvXUyd3NSefl7ilyWClhMBJXn3zu46b_gLZkobD9-oxytXmo-NRtnBGLa881rU0lQwxYnz4jKqWGrD7Uyu7hdes4G0mR9kW1Rq9Jgxj2__8DRp-RqzzkBEe4YQMNN4zdHRpXpAiHX8qZB_FW2ar4jz_sH1Fgoa4AI7J1ZTuw6CeivBYy3nxeDb959MfXvjUei4PmxdgQIlq2o6tXty1Pn7oXFvL69MpnbNhCfjYkfOqPa1xKhm8SWNUX83JzNw3CPGr-ONfbVFQRUJ0ALFQ9eteqcz-OVDiehtV4CTAAmzdQDmSvjYYdYrgA88LWenxBpS3uAGbG03FDibLTXLsSSXN_znxqbX3Cri8B_6X9IX-qYafkfflf2wVn-nJ4EjaBYOwjsaZEgSgOMaHa1NDQeaGuSqaCaoKDA6sLBojb1ax6mQFGyUp33eCE1xg5QznorbOW3AG7S_KhLManFE0qZNpXLgMSYRulC-Z0gngC3CPdxWY6Zgji6olqLZXFqx9VsIrrfAkAxJumfsMXEjkt2D1X6lH1SYfILI-94OfhZ1H8O1TzvPmzH9ayoaYW9OojOjssnVZTfyxaLYj2ukG-WQYzXZuzbTSCIHQgBhWL1Z2A1oINDOu_VZywmjQxCcqPR1pJQIrYbTNZ303MMESaQWlh5xUHD_gDLrgC_eG93daNKfOwKeG9RduzvFIlHQXGUPA-WPI_z9W8MkomfMSqJtTPMJOiEPf35zCJAGEY1DwQmWzQRgp1W8KcapkKuh-SRtpQ1E_lJiwFigsKX-P_5gNKT8T8R7YrlF_lj3zn74CaijHNlrFc_sr1zKkIbjfLJSNn4513C1aXK7qo_5aVgxnQChRty4nkMUtdwvFczmAmfkaoPRltdEIZB97X7jBzn81aSgr76s_MDvSvM55M4x60PwET1r2zI-5MfKzdvCUnj0B5DnkaEqxTQYZsqQIVIE32sSg1Hs8ac4y8BfTzb8Skn5zRU6aFHLqOHB_WNmtUOt_cCYCZdfgcZzlMGQBayvYCAbiPaTf1-cz_eREhsotXuMnpnduuvv8zIkCacPj16hTFUEpRBr7PiEeI2cMZb8vKAoaYu2efTw4gcNQWnmihVc7_XgVvXVKQfMQACOvpLzMK9qI9Pu847Rw0ohbMUtvpN1pFk0-rBgAF5lDuhV8pMlG7kRUX2_RsaX4W6jCSHR_-fJJnCMHxs_PS2lOn8pRNy4g_1YP1IjsB4HTqfuBQtWvPfRMgqgdGwxMJBXRRxbmCWGIdQa7Cj-SM4iKt1u0lnS0M60wrvphFnm0Uq7Cjt1pTMv0kku9cEvkoRGhKFPfxsKW0V1gPf0QA==
        datasource_responses:
          1578b29999fc8f5cb0008df53679b10ea0856e16:
          - pricing_solution_id: 27da8b81a1f7a82c6b2a03ebca4ba642e2b8e99c
            total_price: 320.04
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T20:35:00.000+01:00'
                departure_timestamp: 1752608100
                arrival_time: '2025-07-15T22:50:00.000+02:00'
                arrival_timestamp: 1752612600
                flight_number: '326'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 1pc
          - pricing_solution_id: a5c7c6281483df5ec903a62aafdbc3b0149b81be
            total_price: 320.04
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T07:20:00.000+01:00'
                departure_timestamp: 1752560400
                arrival_time: '2025-07-15T09:40:00.000+02:00'
                arrival_timestamp: 1752565200
                flight_number: '304'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 20kg
          - pricing_solution_id: d55c80635e68fc9324213f9494da77a8a211ac2b
            total_price: 320.04
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T14:20:00.000+01:00'
                departure_timestamp: 1752585600
                arrival_time: '2025-07-15T16:40:00.000+02:00'
                arrival_timestamp: 1752590400
                flight_number: '316'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 23kg
          - pricing_solution_id: 8cb8afb204ff845f772186603e19e41252dfc43c
            total_price: 320.04
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T16:30:00.000+01:00'
                departure_timestamp: 1752593400
                arrival_time: '2025-07-15T18:50:00.000+02:00'
                arrival_timestamp: 1752598200
                flight_number: '318'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 1pc
          - pricing_solution_id: 57bea4d80f3a4626e312c697ca68d19619649d2a
            total_price: 320.04
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T18:30:00.000+01:00'
                departure_timestamp: 1752600600
                arrival_time: '2025-07-15T20:50:00.000+02:00'
                arrival_timestamp: 1752605400
                flight_number: '328'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 2pc
          - pricing_solution_id: e2ea2954cdb6cac6837848942de720baf8059728
            total_price: 342.16
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T10:35:00.000+01:00'
                departure_timestamp: 1752572100
                arrival_time: '2025-07-15T13:45:00.000+02:00'
                arrival_timestamp: 1752579900
                flight_number: '804'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: OSL
                marketing_carrier: SK
              - departure_time: '2025-07-15T17:00:00.000+02:00'
                departure_timestamp: 1752591600
                arrival_time: '2025-07-15T19:25:00.000+02:00'
                arrival_timestamp: 1752600300
                flight_number: '839'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: OSL
                to_iata: CDG
                marketing_carrier: SK
            baggage: 23kg
          - pricing_solution_id: 6d9ea4c8dbd514c454be3959b32e4c714036159d
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T19:45:00.000+01:00'
                departure_timestamp: 1752605100
                arrival_time: '2025-07-15T22:00:00.000+02:00'
                arrival_timestamp: 1752609600
                flight_number: '1181'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 20kg
          - pricing_solution_id: bdf4059c9df627811e867fad3a064a74a6a543b3
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:15:00.000+01:00'
                departure_timestamp: 1752556500
                arrival_time: '2025-07-15T08:35:00.000+02:00'
                arrival_timestamp: 1752561300
                flight_number: '1381'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 2pc
          - pricing_solution_id: f0dfcb308f3f385166433b5a755fa6f29fb1c471
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T09:00:00.000+01:00'
                departure_timestamp: 1752566400
                arrival_time: '2025-07-15T11:20:00.000+02:00'
                arrival_timestamp: 1752571200
                flight_number: '1681'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: null
          - pricing_solution_id: efb05dc6dcd1a841fe07816e805705375de6afea
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T11:30:00.000+01:00'
                departure_timestamp: 1752575400
                arrival_time: '2025-07-15T13:50:00.000+02:00'
                arrival_timestamp: 1752580200
                flight_number: '1581'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 2pc
          - pricing_solution_id: 0ca68b498e7533eb4366c7cdc8f993ccf26b727f
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T15:25:00.000+01:00'
                departure_timestamp: 1752589500
                arrival_time: '2025-07-15T17:45:00.000+02:00'
                arrival_timestamp: 1752594300
                flight_number: '1781'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 1pc
          - pricing_solution_id: a7704d6d3cf32fbd884223d89c82ac9f1926a8e9
            total_price: 401.66
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T17:35:00.000+01:00'
                departure_timestamp: 1752597300
                arrival_time: '2025-07-15T19:55:00.000+02:00'
                arrival_timestamp: 1752602100
                flight_number: '1281'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 20kg
          - pricing_solution_id: 0d9c801587a7bdd3fac637c97e61def10129589a
            total_price: 352.67
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:40:00.000+01:00'
                departure_timestamp: 1752558000
                arrival_time: '2025-07-15T10:05:00.000+02:00'
                arrival_timestamp: 1752566700
                flight_number: '1530'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: ARN
                marketing_carrier: SK
              - departure_time: '2025-07-15T17:05:00.000+02:00'
                departure_timestamp: 1752591900
                arrival_time: '2025-07-15T19:45:00.000+02:00'
                arrival_timestamp: 1752601500
                flight_number: '579'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: ARN
                to_iata: CDG
                marketing_carrier: SK
            baggage: 2pc
          - pricing_solution_id: 882da4eeeebf99d53f961a6395836413359e0c79
            total_price: 342.16
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T19:50:00.000+01:00'
                departure_timestamp: 1752605400
                arrival_time: '2025-07-15T23:00:00.000+02:00'
                arrival_timestamp: 1752613200
                flight_number: '812'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: OSL
                marketing_carrier: SK
              - departure_time: '2025-07-16T08:35:00.000+02:00'
                departure_timestamp: 1752647700
                arrival_time: '2025-07-16T11:05:00.000+02:00'
                arrival_timestamp: 1752656700
                flight_number: '837'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: OSL
                to_iata: CDG
                marketing_carrier: SK
            baggage: 1pc
          - pricing_solution_id: 0ebb4f145a2e06e1c7b5f59489a0a69904168ff7
            total_price: 418.37
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T17:10:00.000+01:00'
                departure_timestamp: 1752595800
                arrival_time: '2025-07-15T20:35:00.000+02:00'
                arrival_timestamp: 1752604500
                flight_number: '720'
                operating_carrier: IB
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: MAD
                marketing_carrier: IB
              - departure_time: '2025-07-15T21:45:00.000+02:00'
                departure_timestamp: 1752608700
                arrival_time: '2025-07-15T23:50:00.000+02:00'
                arrival_timestamp: 1752616200
                flight_number: '591'
                operating_carrier: IB
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: MAD
                to_iata: CDG
                marketing_carrier: IB
            baggage: 2pc
          - pricing_solution_id: 0c9b34c88f0ece6d0b458299b8af95c0d3a5059d
            total_price: 436.92
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:55:00.000+01:00'
                departure_timestamp: 1752566100
                arrival_time: '2025-07-15T12:00:00.000+02:00'
                arrival_timestamp: 1752573600
                flight_number: '7551'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: NCE
                marketing_carrier: AF
              - departure_time: '2025-07-15T13:00:00.000+02:00'
                departure_timestamp: 1752577200
                arrival_time: '2025-07-15T14:35:00.000+02:00'
                arrival_timestamp: 1752582900
                flight_number: '7319'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: NCE
                to_iata: CDG
                marketing_carrier: AF
            baggage: 23kg
          - pricing_solution_id: be651faef3faf4234fea6bba1dfb0c9a2780c7a6
            total_price: 388.15
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T19:30:00.000+01:00'
                departure_timestamp: 1752604200
                arrival_time: '2025-07-15T22:20:00.000+02:00'
                arrival_timestamp: 1752610800
                flight_number: '1508'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CPH
                marketing_carrier: SK
              - departure_time: '2025-07-16T08:20:00.000+02:00'
                departure_timestamp: 1752646800
                arrival_time: '2025-07-16T10:25:00.000+02:00'
                arrival_timestamp: 1752654300
                flight_number: '565'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: CPH
                to_iata: CDG
                marketing_carrier: SK
            baggage: 1pc
          - pricing_solution_id: 1b98657adae14b07715e11e8f6c7534d7f85636c
            total_price: 436.92
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:55:00.000+01:00'
                departure_timestamp: 1752566100
                arrival_time: '2025-07-15T12:00:00.000+02:00'
                arrival_timestamp: 1752573600
                flight_number: '7551'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: NCE
                marketing_carrier: AF
              - departure_time: '2025-07-15T15:10:00.000+02:00'
                departure_timestamp: 1752585000
                arrival_time: '2025-07-15T16:45:00.000+02:00'
                arrival_timestamp: 1752590700
                flight_number: '7307'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: NCE
                to_iata: CDG
                marketing_carrier: AF
            baggage: null
          - pricing_solution_id: 9ea1ea81def7b936598cee4578c43cfaf62e15c0
            total_price: 574.09
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:45:00.000+01:00'
                departure_timestamp: 1752565500
                arrival_time: '2025-07-15T11:05:00.000+02:00'
                arrival_timestamp: 1752570300
                flight_number: '306'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 1pc
          - pricing_solution_id: f77e7b0f9740337d0d08172fa539356f574bbbf4
            total_price: 578.69
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T14:45:00.000+01:00'
                departure_timestamp: 1752587100
                arrival_time: '2025-07-15T17:00:00.000+02:00'
                arrival_timestamp: 1752591600
                flight_number: '1010'
                operating_carrier: KL
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: AMS
                marketing_carrier: KL
              - departure_time: '2025-07-15T18:40:00.000+02:00'
                departure_timestamp: 1752597600
                arrival_time: '2025-07-15T20:05:00.000+02:00'
                arrival_timestamp: 1752602700
                flight_number: '2017'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: AMS
                to_iata: CDG
                marketing_carrier: KL
            baggage: null
          - pricing_solution_id: c91604fc70b12cfe4d3b0b467752c7e44431981a
            total_price: 578.69
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:30:00.000+01:00'
                departure_timestamp: 1752557400
                arrival_time: '2025-07-15T08:50:00.000+02:00'
                arrival_timestamp: 1752562200
                flight_number: '1000'
                operating_carrier: KL
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: AMS
                marketing_carrier: KL
              - departure_time: '2025-07-15T10:35:00.000+02:00'
                departure_timestamp: 1752568500
                arrival_time: '2025-07-15T11:55:00.000+02:00'
                arrival_timestamp: 1752573300
                flight_number: '2007'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: AMS
                to_iata: CDG
                marketing_carrier: KL
            baggage: 23kg
          - pricing_solution_id: 501668910b36a0abd449118bf541b8a28f891863
            total_price: 651.62
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T17:50:00.000+01:00'
                departure_timestamp: 1752598200
                arrival_time: '2025-07-15T20:50:00.000+02:00'
                arrival_timestamp: 1752605400
                flight_number: '2479'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T22:05:00.000+02:00'
                departure_timestamp: 1752609900
                arrival_time: '2025-07-15T23:40:00.000+02:00'
                arrival_timestamp: 1752615600
                flight_number: '4120'
                operating_carrier: VL
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: null
          - pricing_solution_id: 13888b1cb8763fa9333743f25e029c544c861508
            total_price: 651.62
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T13:45:00.000+01:00'
                departure_timestamp: 1752583500
                arrival_time: '2025-07-15T16:35:00.000+02:00'
                arrival_timestamp: 1752590100
                flight_number: '2475'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T18:10:00.000+02:00'
                departure_timestamp: 1752595800
                arrival_time: '2025-07-15T19:45:00.000+02:00'
                arrival_timestamp: 1752601500
                flight_number: '2236'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: 23kg
          - pricing_solution_id: 3352acf37766beb370571b9b888b713566a00ff2
            total_price: 678.77
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T13:30:00.000+01:00'
                departure_timestamp: 1752582600
                arrival_time: '2025-07-15T16:05:00.000+02:00'
                arrival_timestamp: 1752588300
                flight_number: '907'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: FRA
                marketing_carrier: LH
              - departure_time: '2025-07-15T17:20:00.000+02:00'
                departure_timestamp: 1752592800
                arrival_time: '2025-07-15T18:35:00.000+02:00'
                arrival_timestamp: 1752597300
                flight_number: '1046'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: FRA
                to_iata: CDG
                marketing_carrier: LH
            baggage: 2pc
          - pricing_solution_id: a16873249d686434d9be371a935ea4e1007f3839
            total_price: 678.77
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:30:00.000+01:00'
                departure_timestamp: 1752564600
                arrival_time: '2025-07-15T11:05:00.000+02:00'
                arrival_timestamp: 1752570300
                flight_number: '925'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: FRA
                marketing_carrier: LH
              - departure_time: '2025-07-15T12:30:00.000+02:00'
                departure_timestamp: 1752575400
                arrival_time: '2025-07-15T13:50:00.000+02:00'
                arrival_timestamp: 1752580200
                flight_number: '1034'
                operating_carrier: LH
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: FRA
                to_iata: CDG
                marketing_carrier: LH
            baggage: 23kg
          - pricing_solution_id: 660ef060439c789273e483febb081d3886613f4e
            total_price: 678.12
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T09:05:00.000+01:00'
                departure_timestamp: 1752566700
                arrival_time: '2025-07-15T12:20:00.000+02:00'
                arrival_timestamp: 1752574800
                flight_number: '452'
                operating_carrier: OS
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: VIE
                marketing_carrier: OS
              - departure_time: '2025-07-15T13:05:00.000+02:00'
                departure_timestamp: 1752577500
                arrival_time: '2025-07-15T15:05:00.000+02:00'
                arrival_timestamp: 1752584700
                flight_number: '415'
                operating_carrier: OS
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: VIE
                to_iata: CDG
                marketing_carrier: OS
            baggage: null
          - pricing_solution_id: 363163e2c5ecd08e4c6a826839b97dc666918a72
            total_price: 678.12
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T10:25:00.000+01:00'
                departure_timestamp: 1752571500
                arrival_time: '2025-07-15T13:45:00.000+02:00'
                arrival_timestamp: 1752579900
                flight_number: '454'
                operating_carrier: BT
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: VIE
                marketing_carrier: OS
              - departure_time: '2025-07-15T15:00:00.000+02:00'
                departure_timestamp: 1752584400
                arrival_time: '2025-07-15T17:00:00.000+02:00'
                arrival_timestamp: 1752591600
                flight_number: '409'
                operating_carrier: OS
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: VIE
                to_iata: CDG
                marketing_carrier: OS
            baggage: null
          - pricing_solution_id: 3eb5cace1f7826f40c70943f0f87d4181bcbea41
            total_price: 792.66
            segment_source: travelport
            is_private_fare: false
            refundable: true
            segments:
            - - departure_time: '2025-07-15T16:35:00.000+01:00'
                departure_timestamp: 1752593700
                arrival_time: '2025-07-15T22:15:00.000+03:00'
                arrival_timestamp: 1752606900
                flight_number: '603'
                operating_carrier: A3
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: ATH
                marketing_carrier: A3
              - departure_time: '2025-07-16T07:40:00.000+03:00'
                departure_timestamp: 1752640800
                arrival_time: '2025-07-16T10:10:00.000+02:00'
                arrival_timestamp: 1752653400
                flight_number: '610'
                operating_carrier: A3
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: ATH
                to_iata: CDG
                marketing_carrier: A3
            baggage: 1pc
          - pricing_solution_id: 60895c51e7359b443ba0ff6c98d74c4b2be88a7a
            total_price: 861.79
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:40:00.000+01:00'
                departure_timestamp: 1752558000
                arrival_time: '2025-07-15T09:30:00.000+02:00'
                arrival_timestamp: 1752564600
                flight_number: '500'
                operating_carrier: SK
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CPH
                marketing_carrier: SK
              - departure_time: '2025-07-15T11:35:00.000+02:00'
                departure_timestamp: 1752572100
                arrival_time: '2025-07-15T13:35:00.000+02:00'
                arrival_timestamp: 1752579300
                flight_number: '9827'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: CPH
                to_iata: CDG
                marketing_carrier: SK
            baggage: 23kg
          - pricing_solution_id: 46e8fbd5239cfebd3a456d02e0f3e61c573a475d
            total_price: 1022.83
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T09:55:00.000+01:00'
                departure_timestamp: 1752569700
                arrival_time: '2025-07-15T13:05:00.000+02:00'
                arrival_timestamp: 1752577500
                flight_number: '6651'
                operating_carrier: VY
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: BCN
                marketing_carrier: VY
              - departure_time: '2025-07-15T15:05:00.000+02:00'
                departure_timestamp: 1752584700
                arrival_time: '2025-07-15T17:05:00.000+02:00'
                arrival_timestamp: 1752591900
                flight_number: '8244'
                operating_carrier: VY
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: BCN
                to_iata: CDG
                marketing_carrier: VY
            baggage: 23kg
    OneWayGenerateSolutionResponse:
      summary: One Way Generate Solution Response
      value:
        trip_id: gAAAAABoPaUGNlknuEEJZ0K3dfY5aKMqzVh6IXF3KKGF5Acky_ShkKUl1lH0Or5pyoa_rpJ8vquFo59-4RsNX9F-Hez0glRSANpGUz_1CTrIsX1WvueV8tRrj9nstrxcvgDBp9CMRIpXIB5gUdmF047z57_t3gpJcvRyIHiV_28Fi_UcWyRlp4wTDgL6H-89XmGO--r6PvBe_P_Gon2EJ9O9u1UI6FFsh29FFp3CqZ7q94QoB1Mr-MbXXvj1nkOYe-xL58lyV4gGHOYQ99AcDTQ11xs3R5hyCGyUKmwY6fNFydVV6ynax2yS0Yp6Qi0nT6zu_T-iY6iCTK30mkHsLSASjVUEZXnfEhlbdvVvXUyd3NSefl7ilyWClhMBJXn3zu46b_gLZkobD9-oxytXmo-NRtnBGLa881rU0lQwxYnz4jKqWGrD7Uyu7hdes4G0mR9kW1Rq9Jgxj2__8DRp-RqzzkBEe4YQMNN4zdHRpXpAiHX8qZB_FW2ar4jz_sH1Fgoa4AI7J1ZTuw6CeivBYy3nxeDb959MfXvjUei4PmxdgQIlq2o6tXty1Pn7oXFvL69MpnbNhCfjYkfOqPa1xKhm8SWNUX83JzNw3CPGr-ONfbVFQRUJ0ALFQ9eteqcz-OVDiehtV4CTAAmzdQDmSvjYYdYrgA88LWenxBpS3uAGbG03FDibLTXLsSSXN_znxqbX3Cri8B_6X9IX-qYafkfflf2wVn-nJ4EjaBYOwjsaZEgSgOMaHa1NDQeaGuSqaCaoKDA6sLBojb1ax6mQFGyUp33eCE1xg5QznorbOW3AG7S_KhLManFE0qZNpXLgMSYRulC-Z0gngC3CPdxWY6Zgji6olqLZXFqx9VsIrrfAkAxJumfsMXEjkt2D1X6lH1SYfILI-94OfhZ1H8O1TzvPmzH9ayoaYW9OojOjssnVZTfyxaLYj2ukG-WQYzXZuzbTSCIHQgBhWL1Z2A1oINDOu_VZywmjQxCcqPR1pJQIrYbTNZ303MMESaQWlh5xUHD_gDLrgC_eG93daNKfOwKeG9RduzvFIlHQXGUPA-WPI_z9W8MkomfMSqJtTPMJOiEPf35zCJAGEY1DwQmWzQRgp1W8KcapkKuh-SRtpQ1E_lJiwFigsKX-P_5gNKT8T8R7YrlF_lj3zn74CaijHNlrFc_sr1zKkIbjfLJSNn4513C1aXK7qo_5aVgxnQChRty4nkMUtdwvFczmAmfkaoPRltdEIZB97X7jBzn81aSgr76s_MDvSvM55M4x60PwET1r2zI-5MfKzdvCUnj0B5DnkaEqxTQYZsqQIVIE32sSg1Hs8ac4y8BfTzb8Skn5zRU6aFHLqOHB_WNmtUOt_cCYCZdfgcZzlMGQBayvYCAbiPaTf1-cz_eREhsotXuMnpnduuvv8zIkCacPj16hTFUEpRBr7PiEeI2cMZb8vKAoaYu2efTw4gcNQWnmihVc7_XgVvXVKQfMQACOvpLzMK9qI9Pu847Rw0ohbMUtvpN1pFk0-rBgAF5lDuhV8pMlG7kRUX2_RsaX4W6jCSHR_-fJJnCMHxs_PS2lOn8pRNy4g_1YP1IjsB4HTqfuBQtWvPfRMgqgdGwxMJBXRRxbmCWGIdQa7Cj-SM4iKt1u0lnS0M60wrvphFnm0Uq7Cjt1pTMv0kku9cEvkoRGhKFPfxsKW0V1gPf0QA==
        currency: USD
        itineraries:
        - itinerary_id: 761f9e1b1f7d6544e49ccdd2d93780c3762d8461
          total_price: 320.04
          weight: 320.04
          is_private_fare: false
          is_virtual_interline: false
          structure: '[0]'
          is_vi_openjaw: false
          flight_numbers:
          - BA326
          segments:
          - pricing_solution_id: 27da8b81a1f7a82c6b2a03ebca4ba642e2b8e99c
            is_vi_segment: false
            price: 320.04
            segment_position: 0
            segment_source: travelport
            baggage: 1pc
            legs:
            - departure_time: '2025-07-15T20:35:00.000+01:00'
              arrival_time: '2025-07-15T22:50:00.000+02:00'
              flight_number: '326'
              operating_carrier: BA
              cabin_class: E
              from_iata: LHR
              to_iata: CDG
              marketing_carrier: BA
              cancellation_probability: null
              average_delay_time: null
              self_transfer_time: null
              is_international: true
              segment_leg_position: 0
            risk_profile: null
          metadata: []
          markup: 41
        - itinerary_id: 85380cc20ad180c87ecbc9526617686a5d9b1394
          total_price: 320.04
          weight: 320.04
          is_private_fare: false
          is_virtual_interline: false
          structure: '[0]'
          is_vi_openjaw: false
          flight_numbers:
          - BA304
          segments:
          - pricing_solution_id: a5c7c6281483df5ec903a62aafdbc3b0149b81be
            is_vi_segment: false
            price: 320.04
            segment_position: 0
            segment_source: travelport
            baggage: 20kg
            legs:
            - departure_time: '2025-07-15T07:20:00.000+01:00'
              arrival_time: '2025-07-15T09:40:00.000+02:00'
              flight_number: '304'
              operating_carrier: BA
              cabin_class: E
              from_iata: LHR
              to_iata: CDG
              marketing_carrier: BA
              cancellation_probability: null
              average_delay_time: null
              self_transfer_time: null
              is_international: true
              segment_leg_position: 0
            risk_profile: null
          metadata: []
          markup: 41
        - itinerary_id: af59fe12c425afde85503f0b074bb40d6e37eda6
          total_price: 320.04
          weight: 320.04
          is_private_fare: false
          is_virtual_interline: false
          structure: '[0]'
          is_vi_openjaw: false
          flight_numbers:
          - BA316
          segments:
          - pricing_solution_id: d55c80635e68fc9324213f9494da77a8a211ac2b
            is_vi_segment: false
            price: 320.04
            segment_position: 0
            segment_source: travelport
            baggage: 23kg
            legs:
            - departure_time: '2025-07-15T14:20:00.000+01:00'
              arrival_time: '2025-07-15T16:40:00.000+02:00'
              flight_number: '316'
              operating_carrier: BA
              cabin_class: E
              from_iata: LHR
              to_iata: CDG
              marketing_carrier: BA
              cancellation_probability: null
              average_delay_time: null
              self_transfer_time: null
              is_international: true
              segment_leg_position: 0
            risk_profile: null
          metadata: []
          markup: 41
    TwoWayGenerateSolutionRequest:
      summary: Two Way Generate Solution Request
      value:
        trip_id: gAAAAABoPaa7MBa_dcG_R0E48UY6YzNj5lvuMRHUPYGF-Xv8cBe35heoVoIGbhumpNWRW7zSzarl6qfMh6wBjSE3EEZ7ASrdqeBtPf-Qtj-WBZnKkCjLti884ThkZNFP6lBTC8nunanNxYuivTtIdWXd0bFA801gW46yH4a7jVFT9bJTj3yCdGK7k-Gc_Yh5yiFSP5Ix90v71BOejD4zz9P87OIgavEb8kVdrcKceANjSl4Lm7fTxAgPejWWYA_6uqr4EjxMcD0c0NrQ5rk-ykAlOv3reAQiUBEGq29G0FszdLfXNqd6DUcyHX9gNtHyTC9DNOP5ENXFpG5aa3qbyFKywwhfofI1L0mOSwcKq_10thuXZed6qv8-Cn2CmMbDzZ-2tRVCN0r-vcbEhDoR4oXURheEx9e-umwuHwnQmnQ0e_3FDFrnKbek08QFtnQwITmcN4EoJNdO0Y-mjKEY8txmwa1IscdKwd8MYnfsKZE5msz27nuD2tWdki2ODBu43ocjuZ10pSHn8DspnED0xzRn-1lpaXdYF6Pd8mN_QEWatA9ND3geaGJKAjU5c7U3u_Q9iA2s7AxcFtSj50epubcNtKJgLBlbUK0hfg34cve2bEsPZ-n0JVme1_dSjduMUNAxKQvMJ6qgCvJ33LeRWdf7pU9pRyruU8CTWcZnjmYe4AFpU9QWl9BRC7uanawEB7MJInmo75L0_D0uSVyWPbiu8Pu9e3RJVtdeOgADAy2tI5GxC-HqupjH45DjBcUOhMYbO-viF1vFXKFAP_WDfWMC7ifCiiXVLDZpLAu-SS9MXUToVXmk86hv5jBRgN8azX2ZjY4c1ODPOq2STWs-51TAxexZq-5si0wLCVpai0Y4a97-SU9wVJ_VGvz1KvyYMtnwnqJxjBh0iHBC-xgXbPS1Ea6HbrcphmHhMXBVQo7bHyoo9x0i774dA5cTX_l03L2wTpMLiVuLPSgDVDnvKsivvWE_AfdI6wq7wI_vsJzHX-Mj1uIVap5w0kXQMa64y16KWJejNoqX8Sgeeey44TsSOrq0ZH2LKcbuGGybJGK9cvxN8cOGpTU1_MTB7RuCuUTymJjntC4z54rGDSBu7u7Z4V1j9nKMGnuJY8RQEwcNg26OC_odNaZyZwt7sIBWKAckjmoub_2HN58KtylXQWZD3ov91RdQkYqGxdRdolmcIrwvxP4Gu5MISah1voqEGmD6kVCqVeQpOa7VB_2ejxLXLq9mIutLkU3-b9Z3vK18hreW_391J6aSZ_WOrFPA9JkVfNn_mE1-n-wKDOHBvDF7C1KLcuz0rjJ_GVF_xHgb9Y5UY29lgonJvsOjEzRyzbErj_gseqo_stZWssCQKb70hJOuxl2UGgOtrsQNKAthv1sibjvHg5SlA1kFtcd8NFO0mhQ9EGvNtbUhLHFSIJX-j7tpk7TCK_pIqeLCaOuRMgOz_NG5wxmgU770kSAUf1V40dIYxeDvej9C0LrxMCTDT_Lqp_MNyUmb0Z4Gff1PpU2s7BcfR9SV_hicEKfsp750yui38KjAZHRqm8V66SeqVQoIuGCwcychCM4MHj121Q3ahzfLVa9JM2OlMANy1NwbBNuG-e3TLNVhp4XWoYBoRljVx3YW3C7wKLxFjqhcKl_NMgG6fkoDJ_5o4DDdK4wYocEL-YEakgzTSGDFivQ-yqsnyAVwmrf9OGT6-jGnbAFf9LdYBJmX-e7ejgQic2YmtW9pF7jdIsc2zrAiib6EiVXfKvHus7YhohL8Z8hhEM4TPiagQQS3tQictFNeGo2lUIX5yzQltGCpuvGYOxO_Xz7Td0XfL0lqd-sOoq-dQWaxFcwLs1HQCY2VV9oTeYRapTveOpGIZWRq-4rytNXXqsyrgu9zZKIV5lm--PrrClNqXRZC_N_60Bj1MUZc4zoQZc-UAO8Y80Z-a-_shVnZkkiXFEqEzrVanb4Bpm1lxVj0Q_4ywunHz07S9y7gpzfQ5R2pcjPoaxFTZVK-gXdLH1TjHpwx0-AtDpsvfYoMo_XUtq9vFfQ=
        datasource_responses:
          76a6c524a9f3d36a4d4a9b88c6da2758174c79ad:
          - pricing_solution_id: 2d20b31977d8050059a7cb79bc04c04533594d8c
            total_price: 154.1
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T07:20:00.000+01:00'
                departure_timestamp: 1752560400
                arrival_time: '2025-07-15T09:40:00.000+02:00'
                arrival_timestamp: 1752565200
                flight_number: '304'
                operating_carrier: BA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: BA
            baggage: 20kg
          - pricing_solution_id: 918353fbb1c98f6cf3ac729a3acb11e9d926622b
            total_price: 197.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T19:45:00.000+01:00'
                departure_timestamp: 1752605100
                arrival_time: '2025-07-15T22:00:00.000+02:00'
                arrival_timestamp: 1752609600
                flight_number: '1181'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 20kg
          - pricing_solution_id: 6aae56b2042dd4c5abd8f217c49b3f894102fd5c
            total_price: 197.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T15:25:00.000+01:00'
                departure_timestamp: 1752589500
                arrival_time: '2025-07-15T17:45:00.000+02:00'
                arrival_timestamp: 1752594300
                flight_number: '1781'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: null
          - pricing_solution_id: b8ce3b0afc3d0efa9777527b8794520b2f124a3d
            total_price: 186.1
            segment_source: amadeus
            is_private_fare: false
            refundable: true
            segments:
            - - departure_time: '2025-07-15T22:15:00+01:00'
                departure_timestamp: 1752614100
                arrival_time: '2025-07-16T03:50:00+03:00'
                arrival_timestamp: 1752627000
                flight_number: '609'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: ATH
                marketing_carrier: A3
              - departure_time: '2025-07-16T07:40:00+03:00'
                departure_timestamp: 1752640800
                arrival_time: '2025-07-16T10:10:00+02:00'
                arrival_timestamp: 1752653400
                flight_number: '610'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATH
                to_iata: CDG
                marketing_carrier: A3
            baggage: 2pc
          - pricing_solution_id: b4d1233445d74670dd2f592546e3be361e484f28
            total_price: 248.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T17:35:00.000+01:00'
                departure_timestamp: 1752597300
                arrival_time: '2025-07-15T19:55:00.000+02:00'
                arrival_timestamp: 1752602100
                flight_number: '1281'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 20kg
          - pricing_solution_id: 337e8027591d498b0fc2aef144d7828ee59373dd
            total_price: 261.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T09:00:00.000+01:00'
                departure_timestamp: 1752566400
                arrival_time: '2025-07-15T11:20:00.000+02:00'
                arrival_timestamp: 1752571200
                flight_number: '1681'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 1pc
          - pricing_solution_id: 85d6d1456899fac76a75761f4701e655853e7dfd
            total_price: 186.1
            segment_source: amadeus
            is_private_fare: false
            refundable: true
            segments:
            - - departure_time: '2025-07-15T22:15:00+01:00'
                departure_timestamp: 1752614100
                arrival_time: '2025-07-16T03:50:00+03:00'
                arrival_timestamp: 1752627000
                flight_number: '609'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: ATH
                marketing_carrier: A3
              - departure_time: '2025-07-16T10:40:00+03:00'
                departure_timestamp: 1752651600
                arrival_time: '2025-07-16T13:10:00+02:00'
                arrival_timestamp: 1752664200
                flight_number: '616'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATH
                to_iata: CDG
                marketing_carrier: A3
            baggage: 23kg
          - pricing_solution_id: 68e8a74925dc1f85580ca7bfb82cb85cfb0b9cf4
            total_price: 186.1
            segment_source: amadeus
            is_private_fare: false
            refundable: true
            segments:
            - - departure_time: '2025-07-15T19:00:00+01:00'
                departure_timestamp: 1752602400
                arrival_time: '2025-07-16T00:35:00+03:00'
                arrival_timestamp: 1752615300
                flight_number: '605'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: ATH
                marketing_carrier: A3
              - departure_time: '2025-07-16T07:40:00+03:00'
                departure_timestamp: 1752640800
                arrival_time: '2025-07-16T10:10:00+02:00'
                arrival_timestamp: 1752653400
                flight_number: '610'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATH
                to_iata: CDG
                marketing_carrier: A3
            baggage: 1pc
          - pricing_solution_id: c769bd2b3fcd7f49ad50e44a2c3c879061d140d5
            total_price: 186.1
            segment_source: amadeus
            is_private_fare: false
            refundable: true
            segments:
            - - departure_time: '2025-07-15T19:00:00+01:00'
                departure_timestamp: 1752602400
                arrival_time: '2025-07-16T00:35:00+03:00'
                arrival_timestamp: 1752615300
                flight_number: '605'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: ATH
                marketing_carrier: A3
              - departure_time: '2025-07-16T10:40:00+03:00'
                departure_timestamp: 1752651600
                arrival_time: '2025-07-16T13:10:00+02:00'
                arrival_timestamp: 1752664200
                flight_number: '616'
                operating_carrier: A3
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATH
                to_iata: CDG
                marketing_carrier: A3
            baggage: 2pc
          - pricing_solution_id: 335d33a0baea9cd69f3406830522b6985a222f1c
            total_price: 283.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:15:00.000+01:00'
                departure_timestamp: 1752556500
                arrival_time: '2025-07-15T08:35:00.000+02:00'
                arrival_timestamp: 1752561300
                flight_number: '1381'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 2pc
          - pricing_solution_id: db1f7766b611355ed3254a7b002a5f1fe9144ca6
            total_price: 268.2
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:55:00+01:00'
                departure_timestamp: 1752566100
                arrival_time: '2025-07-15T12:00:00+02:00'
                arrival_timestamp: 1752573600
                flight_number: '7551'
                operating_carrier: AF
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: NCE
                marketing_carrier: AF
              - departure_time: '2025-07-15T12:55:00+02:00'
                departure_timestamp: 1752576900
                arrival_time: '2025-07-15T14:30:00+02:00'
                arrival_timestamp: 1752582600
                flight_number: '7317'
                operating_carrier: AF
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: NCE
                to_iata: CDG
                marketing_carrier: AF
            baggage: 23kg
          - pricing_solution_id: cb6cfe389a244d629322c455ebd9353d904501f6
            total_price: 264.8
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:55:00.000+01:00'
                departure_timestamp: 1752566100
                arrival_time: '2025-07-15T12:00:00.000+02:00'
                arrival_timestamp: 1752573600
                flight_number: '7551'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: NCE
                marketing_carrier: AF
              - departure_time: '2025-07-15T15:10:00.000+02:00'
                departure_timestamp: 1752585000
                arrival_time: '2025-07-15T16:45:00.000+02:00'
                arrival_timestamp: 1752590700
                flight_number: '7307'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: NCE
                to_iata: CDG
                marketing_carrier: AF
            baggage: null
          - pricing_solution_id: 2a36c1b5b7852846c3841109c89207c264ef3182
            total_price: 324.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T11:30:00.000+01:00'
                departure_timestamp: 1752575400
                arrival_time: '2025-07-15T13:50:00.000+02:00'
                arrival_timestamp: 1752580200
                flight_number: '1581'
                operating_carrier: AF
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: LHR
                to_iata: CDG
                marketing_carrier: AF
            baggage: 20kg
          - pricing_solution_id: a6ea025852af52368683395227b56a2fcf1dd0f5
            total_price: 315.7
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T14:50:00+01:00'
                departure_timestamp: 1752587400
                arrival_time: '2025-07-15T17:25:00+02:00'
                arrival_timestamp: 1752593100
                flight_number: '7463'
                operating_carrier: EW
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: HAM
                marketing_carrier: EW
              - departure_time: '2025-07-15T18:50:00+02:00'
                departure_timestamp: 1752598200
                arrival_time: '2025-07-15T20:20:00+02:00'
                arrival_timestamp: 1752603600
                flight_number: '7404'
                operating_carrier: EW
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: HAM
                to_iata: CDG
                marketing_carrier: EW
            baggage: null
          - pricing_solution_id: f9542b8a6341e9d78fbeff8e4018d0ae4f53eaef
            total_price: 337.8
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:30:00+01:00'
                departure_timestamp: 1752557400
                arrival_time: '2025-07-15T08:50:00+02:00'
                arrival_timestamp: 1752562200
                flight_number: '1000'
                operating_carrier: KL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: AMS
                marketing_carrier: KL
              - departure_time: '2025-07-15T10:35:00+02:00'
                departure_timestamp: 1752568500
                arrival_time: '2025-07-15T11:55:00+02:00'
                arrival_timestamp: 1752573300
                flight_number: '2007'
                operating_carrier: AF
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: AMS
                to_iata: CDG
                marketing_carrier: KL
            baggage: null
          - pricing_solution_id: b9edf139a34d9a5ec31f108576c99769fb63a843
            total_price: 318.9
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T09:55:00+01:00'
                departure_timestamp: 1752569700
                arrival_time: '2025-07-15T13:05:00+02:00'
                arrival_timestamp: 1752577500
                flight_number: '5169'
                operating_carrier: VY
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: BCN
                marketing_carrier: IB
              - departure_time: '2025-07-15T17:40:00+02:00'
                departure_timestamp: 1752594000
                arrival_time: '2025-07-15T19:40:00+02:00'
                arrival_timestamp: 1752601200
                flight_number: '5222'
                operating_carrier: VY
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: BCN
                to_iata: CDG
                marketing_carrier: IB
            baggage: 20kg
          - pricing_solution_id: 0e12609541070ddd90685058fda8e7faf080c384
            total_price: 337.8
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T08:40:00+01:00'
                departure_timestamp: 1752565200
                arrival_time: '2025-07-15T11:00:00+02:00'
                arrival_timestamp: 1752570000
                flight_number: '1002'
                operating_carrier: KL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: AMS
                marketing_carrier: KL
              - departure_time: '2025-07-15T14:05:00+02:00'
                departure_timestamp: 1752581100
                arrival_time: '2025-07-15T15:30:00+02:00'
                arrival_timestamp: 1752586200
                flight_number: '2009'
                operating_carrier: AF
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: AMS
                to_iata: CDG
                marketing_carrier: KL
            baggage: 20kg
          - pricing_solution_id: adc2df0cab6dc00334c607730871d60d47ad2d68
            total_price: 357.2
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T07:25:00+01:00'
                departure_timestamp: 1752560700
                arrival_time: '2025-07-15T10:15:00+02:00'
                arrival_timestamp: 1752567300
                flight_number: '2485'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T11:55:00+02:00'
                departure_timestamp: 1752573300
                arrival_time: '2025-07-15T13:30:00+02:00'
                arrival_timestamp: 1752579000
                flight_number: '2230'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: null
          - pricing_solution_id: 475d25435146f421456fed7c37ee4c88a23cc7cf
            total_price: 357.2
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T07:25:00+01:00'
                departure_timestamp: 1752560700
                arrival_time: '2025-07-15T10:15:00+02:00'
                arrival_timestamp: 1752567300
                flight_number: '2485'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T11:55:00+02:00'
                departure_timestamp: 1752573300
                arrival_time: '2025-07-15T13:30:00+02:00'
                arrival_timestamp: 1752579000
                flight_number: '4118'
                operating_carrier: VL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: 20kg
          - pricing_solution_id: 50610a989c076f374ef0693cef05fcf4173b6e34
            total_price: 357.2
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:55:00+01:00'
                departure_timestamp: 1752558900
                arrival_time: '2025-07-15T09:45:00+02:00'
                arrival_timestamp: 1752565500
                flight_number: '2483'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T11:55:00+02:00'
                departure_timestamp: 1752573300
                arrival_time: '2025-07-15T13:30:00+02:00'
                arrival_timestamp: 1752579000
                flight_number: '2230'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: 20kg
          - pricing_solution_id: 2e1124edb4e658d3e107c2db92c48b3fe71533ea
            total_price: 357.2
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
            - - departure_time: '2025-07-15T06:55:00+01:00'
                departure_timestamp: 1752558900
                arrival_time: '2025-07-15T09:45:00+02:00'
                arrival_timestamp: 1752565500
                flight_number: '2483'
                operating_carrier: LH
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LHR
                to_iata: MUC
                marketing_carrier: LH
              - departure_time: '2025-07-15T11:55:00+02:00'
                departure_timestamp: 1752573300
                arrival_time: '2025-07-15T13:30:00+02:00'
                arrival_timestamp: 1752579000
                flight_number: '4118'
                operating_carrier: VL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: MUC
                to_iata: CDG
                marketing_carrier: LH
            baggage: null
          - pricing_solution_id: 5dc28f20de39a7614e5459265f16ffef5ffb86e1
            total_price: 368.9
            segment_source: amadeus
            is_private_fare: false
            refundable: false
            segments:
[...]
