openapi: 3.2.0
info:
  version: 4.15.0
  title: Trip Ninja API Documentation Cancel API
  description: 'Introduction


    Trip Ninja uses a REST API with requests and responses in JSON format.'
  x-logo:
    url: https://s3.amazonaws.com/tn-api-docs/trip_ninja_logo.png
    altText: Trip Ninja logo
    href: https://www.tripninja.io/
servers:
- url: https://preprodapi.tripninja.io
  description: Pre-Production server
tags:
- name: Cancel
paths:
  /cancel/:
    post:
      summary: Cancel Booking Report
      description: 'To cancel a booking you have previously booked, report it to the Trip Ninja Service endpoint: “/cancel/”'
      operationId: CancelBookingReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: Trip has been cancelled.
        400:
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: States whether request to cancel was successful.
                    example: Could not cancel trip, check your trip_id.
      tags:
      - Cancel
components:
  schemas:
    CancelRequest:
      title: Request
      type: object
      properties:
        trip_id:
          type: string
          description: Trip ID returned in search response
          example: 6be6e72c60102bd489ac46434d4ac6c11e047ee8
