openapi: 3.2.0
info:
  title: Webjet Generate Solutions API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Generate Solutions across 4 of this provider''s published API definitions: webjet-tripninja-farestructure-generate-solutions-openapi.yml, webjet-tripninja-smartflights-generate-solutions-openapi.yml, webjet-tripninja-v2-core-openapi.yml, webjet-tripninja-virtual-interlining-generate-solutions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox.tripninja.io
  description: Sandbox server for development and testing
- url: https://preprodapi.tripninja.io
  description: Pre-Production server for development and testing
tags:
- name: Generate Solutions
paths:
  /v2/generate-solutions/:
    post:
      summary: Generate Solutions
      description: ''
      operationId: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullGenerateSolutionsRequest'
            examples:
              oneWayGenerateSolutionRequest:
                $ref: '#/components/examples/OneWayGenerateSolutionRequest'
              twoWayGenerateSolutionRequest:
                $ref: '#/components/examples/TwoWayGenerateSolutionRequest'
              threeWayGenerateSolutionRequest:
                $ref: '#/components/examples/ThreeWayGenerateSolutionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSolutionsResponseTwo'
              examples:
                oneWayGenerateSolutionResponse:
                  $ref: '#/components/examples/OneWayGenerateSolutionResponse'
                twoWayGenerateSolutionResponse:
                  $ref: '#/components/examples/TwoWayGenerateSolutionResponse'
                threeWayGenerateSolutionResponse:
                  $ref: '#/components/examples/ThreeWayGenerateSolutionResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error code and 0 for success response
                    example: IE38
                  message:
                    type: string
                    description: Contains the error message
                    example: Trip ID not found
              examples:
                IE52ErrorCode:
                  $ref: '#/components/examples/IE52ErrorCode'
                IE08ErrorCode:
                  $ref: '#/components/examples/IE08ErrorCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error code and 0 for success response
                    example: IE44
                  message:
                    type: string
                    description: Contains the error message
                    example: User is not authorized
        '500':
          description: Server Error
      tags:
      - Generate Solutions
    servers:
    - url: https://sandbox.tripninja.io
      description: Sandbox server for development and testing
  /v3/generate-solutions/:
    post:
      summary: Generate Solutions
      description: ''
      operationId: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullGenerateSolutionsRequest_2'
            examples:
              oneWayGenerateSolutionRequest:
                $ref: '#/components/examples/OneWayGenerateSolutionRequest_2'
              twoWayGenerateSolutionRequest:
                $ref: '#/components/examples/TwoWayGenerateSolutionRequest_2'
              threeWayGenerateSolutionRequest:
                $ref: '#/components/examples/ThreeWayGenerateSolutionRequest_2'
              fourWayGenerateSolutionRequest:
                $ref: '#/components/examples/FourWayGenerateSolutionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSolutionsResponseTwo_2'
              examples:
                oneWayGenerateSolutionResponse:
                  $ref: '#/components/examples/OneWayGenerateSolutionResponse_2'
                twoWayGenerateSolutionResponse:
                  $ref: '#/components/examples/TwoWayGenerateSolutionResponse_2'
                threeWayGenerateSolutionResponse:
                  $ref: '#/components/examples/ThreeWayGenerateSolutionResponse_2'
                fourWayGenerateSolutionResponse:
                  $ref: '#/components/examples/FourWayGenerateSolutionResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: A human-readable error code. (e.g., <code>IE13</code>).
                    example: IE38
                  message:
                    type: string
                    description: A human-readable message providing more details about the error. (e.g., <code>Currency is required</code>).
                    example: Trip ID not found
              examples:
                IE52ErrorCode:
                  $ref: '#/components/examples/IE52ErrorCode'
                IE08ErrorCode:
                  $ref: '#/components/examples/IE08ErrorCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: A human-readable error code. (e.g., <code>IE13</code>).
                    example: IE44
                  message:
                    type: string
                    description: A human-readable message providing more details about the error. (e.g., <code>Currency is required</code>).
                    example: User is not authorized
        '500':
          description: Server Error
      tags:
      - Generate Solutions
    servers:
    - url: https://sandbox.tripninja.io
      description: Sandbox server for development and testing.
  /generate-solutions/:
    post:
      summary: Generate Solutions
      description: ' There are two ways to approach this endpoint. For each search the OTA performed, we have provided a optional metadata field per pricing solution. This allows the customer to pass in any metadata (branded fares, tax info, ect) regarding that specific pricing solution. When we have finished generating the itineraries for the search, we will pass these values in a list inside the corresponding itinerary.<br/> This will allow the response from the generate-solutions endpoint to be totally FE ready, in whatever format the OTA decides. The downside of this approach is this will inflate the request/response size considerably.<br/> An alternative is to simply ignore the metadata field. Using this minimal approach the OTA simply sends all the required fields listed in our docs. This will result in a much smaller request/response, however it will be up to the OTA to process the data on their end and add any additional metadata to the itineraries returned. '
      operationId: GenerateSolutionsRequest
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/FullGenerateSolutionsRequest_3'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSolutionsResponse'
        400:
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error code and 0 for success response
                    example: IE38
                  message:
                    type: string
                    description: Contains the error message
                    example: Trip ID not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: sting
                    description: Error code and 0 for success response
                    example: IE44
                  message:
                    type: string
                    description: Contains the error message
                    example: User is not authorized
        500:
          description: Server Error
      tags:
      - Generate Solutions
    servers:
    - url: https://preprodapi.tripninja.io
      description: Pre-Production server for development and testing
components:
  schemas:
    MinimalDatasourceLegDetails:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - departure_timestamp
      - arrival_time
      - arrival_timestamp
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g. 2023-03-15T08:00:00-04:00).
          example: '2023-03-15T08:00:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in epoch time, in seconds (e.g. 1678892400).
          example: 1678892400
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. 2023-03-15T10:29:00-04:00).
          example: '2023-03-15T10:29:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in epoch time, in seconds (e.g. 1678901340).
          example: 1678901340
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg. Accepted values are E - Economy, PE - Premium Economy, BC - Business Class, FC - First Class, PFC - Premium First Class.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
        from_iata:
          type: string
          description: IATA of departure airport for leg.
          example: YWG
        to_iata:
          type: string
          description: IATA of arrival airport for leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Marketing carrier
          example: AC
    MinimalMetadataRequest:
      type: object
      description: Any data can be provided to this optional field. We will not alter the data within this field.
      properties:
        OriginName:
          type: string
          example: Halifax, NS, Canada (YHZ)
        Origin:
          type: string
          example: YHZ
        DestinationName:
          type: string
          example: Ottawa, ON, Canada (YOW)
        Destination:
          type: string
          example: YOW
        DepartureTime:
          type: string
          example: '2023-03-15T08:00:00'
        DepartureTimestamp:
          type: number
          example: 1678892400
        ArrivalTime:
          type: string
          example: '2023-03-15T10:29:00'
        ArrivalTimestamp:
          type: number
          example: 1678901340
        FlightNumber:
          type: string
          example: '391'
        Carrier:
          type: string
          example: PD
        CarrierFullName:
          type: string
          example: Porter Airlines, Inc.
        FlightTime:
          type: number
          example: 138
        AircraftType:
          type: string
          example: DH4
        AvailabilitySource:
          type: string
          example: A
        Key:
          type: string
          example: oMrDKtSqWDKAFrUOpAAAAA==
        BookingCode:
          type: string
          example: W
        cabin_class:
          type: string
          example: Business Class
    FullDatasourceResponse:
      type: object
      properties:
        4f499298b303c55a1ee522118afce28abe2f68e4:
          description: The datasource_request_id of a datasource request returned from the first get-searches call after the OTA has performed the flight searches requested. The value of this id will be the formatted results from that search.
          type: array
          items:
            $ref: '#/components/schemas/FullGenerateDatasourceRequest'
    DatasourceLegDetailsResponse:
      allOf:
      - $ref: '#/components/schemas/MinimalDatasourceLegDetails'
      properties:
        segment_leg_position:
          type: number
          description: Indicates the segment position of this specific leg.
          example: 0
    GenerateSolutionsResponseTwo:
      title: 'Generate Solutions Request #2'
      type: object
      properties:
        trip_id:
          type: string
          description: A unique key used for identification and when booking a trip.
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency:
          type: string
          description: Currency that was passed in get-searches
          example: MXN
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfoWithMarkup'
    FullGenerateSolutionsRequest:
      type: object
      title: Generate Solutions Request
      properties:
        trip_id:
          description: The trip id of the search. This will be used in all future requests relating to this search.
          type: string
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        datasource_responses:
          description: The list of datasource responses to be used to generate solutions.
          type: object
          allOf:
          - $ref: '#/components/schemas/FullDatasourceResponse'
    DatasourceItineraryInfoWithMarkup:
      type: array
      description: Array of itineraries sorted by weight.
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Price of the itinerary (fare and tax included).
            example: 197.1
          weight:
            type: number
            description: Weight of the segment (time-value considered).
            example: 239
          refundable:
            type: boolean
            description: Denotes whether the booking will be refundable.
            example: true
          transportation_time:
            type: integer
            description: Total transportation time for the itinerary.
            example: 425
          is_virtual_interline:
            type: boolean
            description: Denotes whether the itinerary contains virtual interline.
            example: false
          structure:
            type: array
            description: "\"Array representing the structure of the trip in terms of one-ways and open-jaw segments. \nFor example: [(0, 1), (3, 4), 2] means there would be three bookings. One openjaw for segments ”0 and 1”, \none for segments ”3 and 4” and a one-way for segment ‘2”.\"\n"
            example: '[(0, 1), 2]'
          flight_numbers:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: A unique identifier that matches objects within metadata_details
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Denotes whether the segment is a virtual interline segment.
                  example: false
                price:
                  type: number
                  description: Price of the segment (fare and tax included)
                  example: 671.88
                weight:
                  type: number
                  description: Weight of the segment (time-value considered).
                  example: 716
                segment_position:
                  type: number or array of number
                  description: Position of the segment in the itinerary. For example, `[0, 2]` means the combined segment is an open-jaw segment and it represents the **first** segment of the itinerary and the **third** segment of the itinerary.
                  example: 0
                is_private_fare:
                  type: boolean
                  description: Indicates whether or not this segment is a private fare. If this value is false, it is considered to be a public fare.
                  example: true
                baggage:
                  type: string
                  description: A string value representing the baggage for this itinerary. Will be a string value if baggage is present, otherwise will be `null`.
                  example: 2pc
                legs:
                  type: array
                  description: A list of required legs information for this segment
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse'
          metadata:
            type: array
            description: This field is completely optional and we will not alter the data within this object. Whatever passed within this object will be returned as-is back to the OTA.<br/> This array contains all the metadata that correlates with the related itineraries. This will not be populated if no metadata is passed in the generate solutions request.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest'
          markup:
            type: number
            description: Markup amount determined by Trip Ninja's revenue management system.
            example: 20
    FullGenerateDatasourceRequest:
      allOf:
      - $ref: '#/components/schemas/BasicGenerateDatasourceRequest'
    BasicGenerateDatasourceRequest:
      type: object
      description: blah
      required:
      - pricing_solution_id
      - total_price
      - segment_source
      - is_private_fare
      - segments
      properties:
        pricing_solution_id:
          type: string
          description: A unique identifier that represents the itinerary details.
          example: 40495f0f293b54ffe64c833d987cd80ecdb5aca5
        total_price:
          type: number
          description: Total price of the segment (fare and tax included).
          example: 197.1
        segment_source:
          type: string
          description: GDS or LCC provider source for the segment. Please see all supported content sources in the Admin Panel.
          example: travelport
        is_private_fare:
          type: boolean
          description: Indicates whether or not this segment is a private fare. If this value is false, it is considered to be a public fare.
          example: true
        segments:
          type: array
          description: A list of segments for this itinerary
          items:
            type: array
            description: A list of required legs information for this segment
            items:
              $ref: '#/components/schemas/MinimalDatasourceLegDetails'
        baggage:
          type: string
          description: A string value representing the baggage allowance per segment. Itineraries are built and returned based on their baggage allowances. (Eg. segments with a `null` baggage allowance will be grouped together, while segments with a baggage allowance will be grouped together.)
          example: 2pc
        metadata:
          $ref: '#/components/schemas/MinimalMetadataRequest'
        refundable:
          type: boolean
          description: Explains whether the booking will be refundable.
          example: true
    GenerateSolutionsResponseTwo_2:
      title: 'Generate Solutions Request #2'
      type: object
      properties:
        trip_id:
          type: string
          description: Unique identifier for this search. Used in all subsequent requests related to this trip.
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency:
          type: string
          description: Three-letter currency code (e.g., <code>"USD"</code>, <code>"CAD"</code>) for provider queries and price calculations.
          example: MXN
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfoWithMarkup_2'
    BasicGenerateDatasourceRequest_2:
      type: object
      description: blah
      required:
      - pricing_solution_id
      - total_price
      - segment_source
      - is_private_fare
      - segments
      properties:
        pricing_solution_id:
          type: string
          description: Unique identifier for each itinerary in your datasource response. Generate a unique ID (e.g., truncated 40-character hash) for every <code>datasource_response</code> item.
          example: 40495f0f293b54ffe64c833d987cd80ecdb5aca5
        total_price:
          type: number
          description: Total price of the segment including fare and taxes.
          example: 197.1
        segment_source:
          type: string
          description: Content provider for this segment. Configure available sources in your Trip Ninja Admin Panel.
          example: travelport
        is_private_fare:
          type: boolean
          description: Indicates if segment uses a private fare. <code>is_private_fare</code> = <code>false</code> indicates public fare.
          example: true
        segments:
          type: array
          description: A list of segments for the itinerary. Responses containing more than two segments are formatted in a nested list. (e.g., <code>[[segment_1_legs]</code>, <code>[segment_2_legs]]</code>).
          items:
            type: array
            description: Array of leg-specific flight details returned from your content source searches. Include all leg-level information provided by your datasources.
            items:
              $ref: '#/components/schemas/MinimalDatasourceLegDetailsRequest'
        baggage:
          type: string
          description: Baggage allowance per segment. Itineraries are grouped by baggage policy (<code>null</code> allowances are grouped separately from defined allowances).
          example: 2pc
        metadata:
          $ref: '#/components/schemas/MinimalMetadataRequest_2'
        refundable:
          type: boolean
          description: Indicates whether the booking is refundable.
          example: true
    MinimalDatasourceLegDetailsRequest:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - departure_timestamp
      - arrival_time
      - arrival_timestamp
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T08:00:00-04:00</code>).
          example: '2023-03-15T08:00:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in EPOCH time, in seconds (e.g., <code>1678892400</code>).
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T10:29:00-04:00</code>).
          example: '2023-03-15T10:29:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in EPOCH time, in seconds (e.g., <code>1678901340</code>).
        flight_number:
          type: string
          description: Flight number for the leg.
          example: '391'
        operating_carrier:
          type: string
          description: Two-letter code for the airline operating the flight.
          example: WS
        cabin_class:
          type: string
          description: Requested cabin class for the query. Can be set globally or per segment. <b>Values:</b> <code>"E"</code> (Economy), <code>"PE"</code> (Premium Economy), <code>"BC"</code> (Business Class), <code>"FC"</code> (First Class), <code>"PFC"</code> (Premium First Class).
          example: BC
        from_iata:
          type: string
          description: Three-digit IATA code representing the departure city / airport of the leg.
          example: YWG
        to_iata:
          type: string
          description: Three-digit IATA code representing the arrival city / airport of the leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Two-letter code for the carrier selling the flight tickets.
          example: AC
    FullDatasourceResponse_2:
      type: object
      properties:
        1578b29999fc8f5cb0008df53679b10ea0856e16:
          description: Example <code>datasource_request_id</code> from <code>get-searches</code>. Use this ID as the key with your formatted search results as the value to map responses back to their original requests for itinerary generation.
          type: array
          items:
            $ref: '#/components/schemas/FullGenerateDatasourceRequest'
    DatasourceLegDetailsResponse_2:
      allOf:
      - $ref: '#/components/schemas/MinimalDatasourceLegDetailsResponse'
      - properties:
          segment_leg_position:
            type: number
            description: Position of the leg within its segment.
            example: 0
    FullGenerateSolutionsRequest_2:
      type: object
      title: Generate Solutions Request
      properties:
        trip_id:
          description: Unique identifier for this search. Used in all subsequent requests related to this trip.
          type: string
          example: gAAAAABoD8kRt_phvyNxhfNxfWow40S4Tzlyte5Y-s85Rl4mMeCm7HADsOORIS8ib6hChNixixkBesrAKKf9DUMTr_-V0F-rT-m03k-LcGS9kD6gP_25-zkNVExb1fWzySyxUKEIHWMl3q7wcJQg4I9JT9tC81C6RWrBhaIVYTJfrF2S3xOXWZc2VANvMSoBWVWIPK_fU1BUvVGAeYwIdJPvY-9SHRJ9_mRzPhgfmvjDsNRzRDmACwMSC8FhBE3PdKS9l3ZfTCMB3zVjuL01ZkU0P5knyKMSHRr-cNNyVKA3VFPYIMb6v0tUroWdLzl9AxY2TDIl7Krtwrgg8UvyCVrCjfYAIYSP93WqeDvAGR2nFVfHF-wODtdglQOT5BRXAPgIn_k0v6WNMB5NNSOhewK6pKIos0_rxqjst60PjjQAqJ4Zm4hav7d2ln8xiKOWOU1FNyOt1RQdnmYxlrEOqi1FYmfGGyCEYtyCwyUttaTf67xruWPnQzb6YKeBBrCkXNWBfVbE-qxVkzF2ekxrE9-5DJhfgrqv6y08xkOt0s4MF_iO71_lwSJyU0fBmvX7SEuCTc3J96BQure4VBdfZtjwepSv_I5ooCF7cfnzg9boEAp_Pru3TlYXMxgxvN7DVBWVOg3r3BZmxC34S4m8t0dFhSc2P1Pxwdgz-Czl0XPKiz5cekEao3OhEHXoSay4-c6cfmTZaA-u1Q1dtJm9mX25uImYDXWlaL5uDFxRqPiYxtnRjjoWXj0qe2KhCA5L0ExWq-DIU1BePS53YHT8uH3otU0K0KN9dFC2w1A8dSrQFmoM9ytLZwz6ZbzJ0lnZgyn0Kgf9LJxLdzUOj3INt5Zj8ye9hnwuxqw6jxzGvcapr3Zb-G0N-Sr8Lrd-5qOzhv0OFBntwHPdWUcrgqsyLtErffVjlt0PheBLjqG4MacMogPV994zAjGH1ccNUE6DRHMDhtyxD11hZi8LhDhMuffQJ7bc6cVFuQ2ESmelQno-qbKTDMARvqXGqqlgL3OIbA-7o9ALQS7c9XML-sNDsT8niGCuYNQVPRJ08xhsGQcW2e2Rg-thwCq-egDfgZy4fqQYgzcNPQ_dgPMsHMfyE82425ykOquSq8HENPDKr-czRcYSZdbwIuLmNrUfPFmbHdCy5ZIBy2DjeLadJfHlwPAtkw0NTd8o8On3eYqjXgcHesqjZayI-yYMonujtJYGS4eZzmpKhXSdPoYitYhJ1nx81AHGjQ_HjJ7gyUy-MH132dxYj1E6lgUsuq_TToOYzhQkxy_9vMShvT1swTHC5261SKiv0VlkDGxo0UJv9Cz263OJvbUNbtOnm054kBAm8tacnhEZZztqs39ZyGHBasC0k6cbqbbtaeNOIxU_MzHuI1JaISrnTP3lfzXVtWZvk0jojyeROaJr1q3AbYUJP1xR1f4cWwUDE8WMbAbdXaKmhxOjzrxMdoqXR0eLQNR6OxCtK3B8tsntnhKTV-Yn80RxCVWCMz_6cuTFuuacml8U4ZPtJ7-2ydO18hRetyNcdGoOOnYqOJ6FoxgPXqWwxv2VADSH3hmqXsi1HOgxioxe0NqMuyksV_y7tZd2FxU0iHfhbmSUJEExCUIgCoRGz4kZ1ZrBtJM-w6Q3CRzRqtwQbKWMkTN9IQ6NIbDefuSOmgJVnGY3s-FY
        datasource_responses:
          description: List of datasource responses used to generate itinerary solutions.
          type: object
          allOf:
          - $ref: '#/components/schemas/FullDatasourceResponse_2'
    MinimalMetadataRequest_2:
      type: object
      description: Optional field for custom data. Values passed through remain unchanged. When segments are mixed and matched to create itineraries, the metadata from each constituent segment is included in the response with its associated details.
      properties:
        OriginName:
          type: string
          example: Halifax, NS, Canada (YHZ)
        Origin:
          type: string
          example: YHZ
        DestinationName:
          type: string
          example: Ottawa, ON, Canada (YOW)
        Destination:
          type: string
          example: YOW
        DepartureTime:
          type: string
          example: '2023-03-15T08:00:00'
        DepartureTimestamp:
          type: number
          example: 1678892400
        ArrivalTime:
          type: string
          example: '2023-03-15T10:29:00'
        ArrivalTimestamp:
          type: number
          example: 1678901340
        FlightNumber:
          type: string
          example: '391'
        Carrier:
          type: string
          example: PD
        CarrierFullName:
          type: string
          example: Porter Airlines, Inc.
        FlightTime:
          type: number
          example: 138
        AircraftType:
          type: string
          example: DH4
        AvailabilitySource:
          type: string
          example: A
        Key:
          type: string
          example: oMrDKtSqWDKAFrUOpAAAAA==
        BookingCode:
          type: string
          example: W
        cabin_class:
          type: string
          example: Business Class
    DatasourceItineraryInfoWithMarkup_2:
      type: array
      description: Array of itineraries sorted by the weight parameter
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary. Used in all subsequent requests related to this trip.
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Total price of the itinerary including fare and taxes.
            example: 197.1
          weight:
            type: number
            description: The calculated True Cost of Flight value (Flight Price + time penalty) used for sorting itineraries. This parameter shows the result of the time_value calculation, allowing you to see exactly how each itinerary was ranked. If <code>time_value</code> = 0 or is <code>null</code>, the itinerary will be sorted by price.
            example: 239
          is_private_fare:
            type: boolean
            description: Indicates if segment uses a private fare. <code>is_private_fare</code> = <code>false</code> indicates public fare.
            example: false
          is_virtual_interline:
            type: boolean
            description: Indicates whether the itinerary includes virtual interlining segments.
            example: false
          structure:
            type: array
            description: 'Defines how segments are grouped and booked. Each number represents a segment (starting from 0); parentheses indicate segments booked together on one PNR. For example: <br/><ul><li><code>[0, 1, 2]</code> = three separate one-way bookings</li> <br/><li><code>[0, (1, 2)]</code> = segment 0 as one-way, segments 1+2 as open-jaw</li> <br/><li><code>[(0, 1, 2)]</code> = three segment booking (vs. <code>[0, 1, 2]</code> = three combined one-ways</li></ul> <br/>For VI searches, midpoint layovers do not affect structure (e.g., a one-segment VI search remains <code>[0]</code> regardless of midpoints).'
            example: '[(0, 1), 2]'
          is_vi_openjaw:
            type: boolean
            description: Indicates whether the itinerary includes a virtual interline open-jaw segment.
            example: false
          flight_numbers:
            type: array
            description: A list of flight numbers included in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: An array of segments for the itinerary
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: Unique identifier for each itinerary in your datasource response. Generate a unique ID for every <code>datasource_response</code> item.
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Indicates whether the segment uses virtual interlining.
                  example: false
                price:
                  type: number
                  description: Price of the segment including fare and taxes.
                  example: 671.88
                segment_position:
                  type: number or array of number
                  description: 'Position of the segment in the itinerary as an integer or list of integers. Use with <code>segment_leg_position</code> to determine correct segment and leg ordering. For example: <br/><ul><li><code>0</code> = the first segment of the itinerary</li><li><code>[0, 1, 2]</code> = the first, second, and third segments of the itinerary.</li></ul>'
                  example: 0
                segment_source:
                  type: string
                  description: Content source provider for the segment.
                  example: travelport
                baggage:
                  type: string
                  description: Baggage allowance per segment. Itineraries are grouped by baggage policy (<code>null</code> allowances are grouped separately from defined allowances).
                  example: 2pc
                legs:
                  type: array
                  description: Array of leg-specific flight details returned from your content source searches. Include all leg-level information provided by your datasources.
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse_2'
                risk_profile:
                  type: number
                  description: Estimated risk level of a VI solution as a percentage (e.g., <code>10.11</code> = 10.11% risk). Configure risk thresholds in the Trip Ninja Admin Panel to filter out VI itineraries exceeding your acceptable risk tolerance.
                  example: 8.42
          metadata:
            type: array
            description: Optional field for custom data. Values passed through remain unchanged.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest_2'
          markup:
            type: number
            description: Markup amount calculated by the Trip Ninja revenue management system.
            example: 20
    MinimalDatasourceLegDetailsResponse:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - arrival_time
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g., <code>2023-03-15T08:00:00-04:00</code>).
          example: '2023-03-15T08:00:00'
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. <code>2023-03-15T10:29:00-04:00</code>).
          example: '2023-03-15T10:29:00'
        flight_number:
          type: string
          description: Flight number for the leg.
          example: '391'
        operating_carrier:
          type: string
          description: Two-letter code for the airline operating the flight.
          example: WS
        cabin_class:
          type: string
          description: 'Returned cabin class for the leg. Can be set globally or per segment. Values: <code>"E"</code> (Economy), <code>"PE"</code> (Premium Economy), <code>"BC"</code> (Business Class), <code>"FC"</code> (First Class), <code>"PFC"</code> (Premium First Class).'
          example: BC
        from_iata:
          type: string
          description: Three-digit IATA code representing the departure city / airport of the leg.
          example: YWG
        to_iata:
          type: string
          description: Three-digit IATA code representing the arrival city / airport of the leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Two-letter code for the carrier selling the flight tickets.
          example: AC
        cancellation_probability:
          type: number
          description: Percentage probability of flight cancellation. Only returned for VI segments with self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: 7.86
        average_delay_time:
          type: number
          description: Average delay time for this flight in minutes. Negative values indicate early arrivals. Only returned for VI segments with self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.Average delay time for this flight in minutes. Negative values indicate early arrivals. Only returned for VI segments with self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: -5
        is_international:
          type: boolean
          description: Indicates whether this flight is international. Only returned for VI segments with self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: true
        self_transfer_time:
          type: number
          description: Transfer time in minutes between this flight's arrival and the next segment's departure. Only returned for VI segments with self-transfers when the average delay time module is enabled in the Trip Ninja Admin Panel.
          example: 134
    DatasourceItineraryInfo:
      type: array
      description: Array of itineraries sorted by weight.
      items:
        properties:
          weight:
            type: float
            description: Weight of the segment (time-value considered).
            example: 239
          total_price:
            type: float
            description: Price of the itinerary (fare and tax included).
            example: 197.1
          transportation_time:
            type: integer
            description: Total transportation time for the itinerary
            example: 425
          structure:
            type: Array of ints and/or Array of tuple/or Array of tuple and int
            description: "\"Array representing the structure of the trip in terms of one-ways and open-jaw segments. \nFor example: [(0, 1), (3, 4), 2] means there would be three bookings. One openjaw with key “01”, \none with key “34” and a one-way with key ‘2”.\"\nSee Price Confirm Report segment_ids field for more detail.\n"
            example: '[(0, 1), 2]'
          metadata:
            type: array
            description: Contains extra information about the segment that was sent by the OTA. This field is completely optional and we will not alter the data within this object. Whatever passed within this object will be returned as-is back to the OTA.<br/> This array contains all the metadata that correlates with the related itineraries. This will not be populated if no metadata is passed in the generate solutions request.
            items:
              type: object
              properties:
                metadata_id:
                  type: string
                  description: A unique identifier that matches objects within metadata_details
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
    MinimalDatasourceLegDetails_2:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - arrival_time
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      properties:
        departure_time:
          type: string
          description: Departure time.
          example: '2023-03-15T08:00:00'
        arrival_time:
          type: string
          description: Arrival time.
          example: '2023-03-15T10:29:00'
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
    MetaDataDetails:
      type: array
      description: Contains a list of metadata for data mapping, this will not be populated if no metadata is passed in the generate solutions request.
      items:
        type: object
        properties:
          metadata_id:
            type: string
            description: A unique identifier that matches the metadata within each itinerary
            example: c2f59ef0eeec039233d60e694fed09edc4dfa954
    FullGenerateSolutionsRequest_3:
      type: object
      title: Generate Solutions Request
      properties:
        trip_id:
          description: The trip id of the search. This will be used in all future requests relating to this search.
          type: string
          example: fb3d8eff432a329dc21fad8449c686fa93e5ce24
        datasource_responses:
          description: The list of datasource responses to be used to generate solutions.
          type: object
          allOf:
          - $ref: '#/components/schemas/FullDatasourceResponse'
    FullGenerateDatasourceRequest_2:
      allOf:
      - $ref: '#/components/schemas/BasicGenerateDatasourceRequest_3'
      - type: object
        properties:
          metadata:
            type: object
            description: Contains extra information about the segment that was sent by the OTA. This field is completely optional and we will not alter the data within this object. Whatever passed within this object will be returned as-is back to the OTA.
            example: {}
    BasicGenerateDatasourceRequest_3:
      type: object
      description: blah
      required:
      - pricing_solution_id
      - total_price
      - segment_source
      - legs
      properties:
        pricing_solution_id:
          type: string
          description: A unqiue identifier that represents the itinerary details.
          example: 40495f0f293b54ffe64c833d987cd80ecdb5aca5
        total_price:
          type: float
          description: Total price of the segment (fare and tax included).
          example: 197.1
        segment_source:
          type: string
          description: GDS or LCC provider source for segment.
          example: travelport
        segments:
          type: array
          description: A list of segments for this itinerary
          items:
            type: array
            description: A list of required legs information for this segment
            items:
              $ref: '#/components/schemas/MinimalDatasourceLegDetails_2'
        refundable:
          type: boolean
          description: Explains whether the booking will be refundable.
          example: true
    GenerateSolutionsResponse:
      title: Generate Solutions Response
      type: object
      properties:
        trip_id:
          type: string
          description: A unique key used for identification and when booking a trip.
          example: fb3d8eff432a329dc21fad8449c686fa93e5ce24
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfo'
        metadata_details:
          $ref: '#/components/schemas/MetaDataDetails'
    DatasourceItineraryInfo_2:
      type: array
      description: Array of itineraries sorted by weight.
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Price of the itinerary (fare and tax included).
            example: 197.1
          weight:
            type: number
            description: Weight of the segment (time-value considered).
            example: 239
          refundable:
            type: boolean
            description: Denotes whether the booking will be refundable.
            example: true
          transportation_time:
            type: integer
            description: Total transportation time for the itinerary.
            example: 425
          is_virtual_interline:
            type: boolean
            description: Denotes whether the itinerary contains virtual interline.
            example: true
          structure:
            type: array
            description: "\"Array representing the structure of the trip in terms of one-ways and open-jaw segments. \nFor example: [(0, 1), (3, 4), 2] means there would be three bookings. One openjaw for segments ”0 and 1”, \none for segments ”3 and 4” and a one-way for segment ‘2”.\"\n"
            example: '[(0, 1), 2]'
          is_vi_openjaw:
            type: boolean
            description: Identifies whether the itinerary includes an open jaw.
            example: true
          flight_numbers:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: A unique identifier that matches objects within metadata_details
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Denotes whether the segment is a virtual interline segment.
                  example: false
                price:
                  type: number
                  description: Price of the segment (fare and tax included)
                  example: 671.88
                weight:
                  type: number
                  description: Weight of the segment (time-value considered).
                  example: 716
                segment_position:
                  type: number or array of number
                  description: Position of the segment in the itinerary. For example, `[0, 2]` means the combined segment is an open-jaw segment and it represents the **first** segment of the itinerary and the **third** segment of the itinerary.
                  example: 0
                is_private_fare:
                  type: boolean
                  description: Indicates whether or not this segment is a private fare. If this value is false, it is considered to be a public fare.
                  example: true
                baggage:
                  type: string
                  description: A string value representing the baggage for this itinerary. Will be a string value if baggage is present, otherwise will be `null`.
                  example: 2pc
                vi_solution_id:
                  type: string
                  description: The concatenation of all VI segment's pricing_solution_id seperated by two underscores, e.g. __
                  example: 0714d9db826c3719eda04e022c0af6e8d343680c__3124b0fa3a99f6dffc279c1312c8d9be407f2f36
                vi_solution_index:
                  type: number
                  description: The position the current segment is within the VI solution (if a VI solution has 2 segments, can be 0 or 1). If an open jaw is included in the response, the vi_solution_index describes the position of the inbound and outbound segments of the open jaw trip i.e. (1,2)
                  example: 1
                risk_profile:
                  type: number
                  description: The probability of missing the connection and not performing the self-transfer during the VI self-connection
                  example: 8.42
                segment_type:
                  type: string
                  description: Denotes whether the segment is an open jaw or a one-way.
                  example: Open Jaw
                legs:
                  type: array
                  description: A list of required legs information for this segment
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse_3'
          metadata:
            type: array
            description: This field is completely optional and we will not alter the data within this object. Whatever passed within this object will be returned as-is back to the OTA.<br/> This array contains all the metadata that correlates with the related itineraries. This will not be populated if no metadata is passed in the generate solutions request.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest'
    GenerateSolutionsResponse_2:
      title: Generate Solutions Response
      type: object
      properties:
        trip_id:
          type: string
          description: A unique key used for identification and when booking a trip.
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency:
          type: string
          description: Currency that was passed in get-searches
          example: MXN
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfo_2'
        markup:
          type: number
          description: Markup amount determined by Trip Ninja's revenue management system.
          example: 32.23
    DatasourceLegDetailsResponse_3:
      description: A list of required info for each leg of this segment.
      type: object
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g. 2023-03-15T08:00:00-04:00).
          example: '2023-11-15T16:00:00.000+07:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in epoch time (e.g. 1678892400).
          example: 1678892400
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. 2023-03-15T10:29:00-04:00).
          example: '2023-11-15T20:00:00.000+07:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in epoch time (e.g. 1678901340).
          example: 1678901340
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg. Accepted values are E - Economy, PE - Premium Economy, BC - Business Class, FC - First Class, PFC - Premium First Class.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
        cancellation_probability:
          type: number
          description: The probability percentage that this flight will be cancelled (only returned if you have our average delay time module enabled, and only for VI segments with a self transfer)
          example: 7.86
        average_delay_time:
          type: number
          description: The average delay time of this flight in minutes. A negative value indicates an average early arrival time. (only returned if you have our average delay time module enabled, and only for VI segments with a self transfer)
          example: -5
        is_international:
          type: boolean
          description: Indicates whether this flight is international. (only returned if you have our average delay time module enabled, and only for VI segments with a self transfer)
          example: true
        self_transfer_time:
          type: number
          description: The self transfer time in minutes between this flights arrival time and the next segments departure time. (only returned if you have our average delay time module enabled, and only for VI segments with a self transfer)
          example: 134
        segment_leg_position:
          type: number
          description: 'Indicates the segment position of this specific leg. For an open jaw VI response, the segment_leg_position can either be 0 or 1, representing the first or second segment searched. '
          example: 0
        marketing_carrier:
          type: string
          description: Marketing carrier.
          example: AC
    MinimalDatasourceLegDetails_3:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - departure_timestamp
      - arrival_time
      - arrival_timestamp
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g. 2023-03-15T08:00:00-04:00).
          example: '2023-03-15T08:00:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in epoch time, in seconds (e.g. 1678892400).
          example: 1678892400
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. 2023-03-15T10:29:00-04:00).
          example: '2023-03-15T10:29:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in epoch time, in seconds (e.g. 1678901340).
          example: 1678901340
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg. Accepted values are E - Economy, PE - Premium Economy, BC - Business Class, FC - First Class, PFC - Premium First Class.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
        from_iata:
          type: string
          description: IATA of departure airport for leg.
          example: YWG
        to_iata:
          type: string
          description: IATA of arrival airport for leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Marketing carrier.
          example: AC
  examples:
    IE52ErrorCode:
      summary: Trip Id Validation Error
      value:
        status: IE52
        message: Trip Id not found
    TwoWayGenerateSolutionResponse:
      summary: Two Way Generate Solution Response
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency: USD
        itineraries:
        - itinerary_id: cdac1656cd37658471d0cd9acc43739198bfb1d4
          total_price: 8508.73
          weight: 8508.73
          transportation_time: 2005
          refundable: false
          is_virtual_interline: false
          structure: '[0, 1]'
          flight_numbers:
          - AC361
          - FI455
          - FI607
          segments:
          - pricing_solution_id: e394589376cc6d9ce1a95c7e813b0dd63132f30a
            is_vi_segment: false
            price: 4433.18
            weight: 4433.18
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-20T21:25:00.000+01:00'
              departure_timestamp: 1724185500
              arrival_time: '2024-06-20T23:40:00.000+00:00'
              arrival_timestamp: 1724197200
              flight_number: '455'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: LHR
              to_iata: KEF
              segment_leg_position: 0
            - departure_time: '2024-06-21T18:35:00.000+00:00'
              departure_timestamp: 1724265300
              arrival_time: '2024-06-21T20:30:00.000-03:00'
              arrival_timestamp: 1724283000
              flight_number: '607'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: KEF
              to_iata: YHZ
              segment_leg_position: 0
          - pricing_solution_id: 15267582c311e11cf9ce5ab5a9a1890358873b17
            is_vi_segment: false
            price: 4075.55
            weight: 4075.55
            segment_position: 1
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-25T10:05:00.000-03:00'
              departure_timestamp: 1724591100
              arrival_time: '2024-06-25T12:25:00.000-07:00'
              arrival_timestamp: 1724613900
              flight_number: '361'
              operating_carrier: AC
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: YHZ
              to_iata: YVR
              segment_leg_position: 1
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LHR)
              Origin: LHR
              DestinationName: Reykjavik, Iceland (KEF)
              Destination: KEF
              DepartureTime: '2024-06-20T21:25:00.000+01:00'
              DepartureTimestamp: 1724185500
              ArrivalTime: '2024-06-20T23:40:00.000+00:00'
              ArrivalTimestamp: 1724197200
              FlightNumber: '455'
              Carrier: FI
              CarrierFullName: Icelandair
              FlightTime: 195
              AircraftType: 76W
              AvailabilitySource: S
              Key: lbzAnAVqWDKADif+NAsfAA==
              BookingCode: A
              cabin_class: Business
            - OriginName: Reykjavik, Iceland (KEF)
              Origin: KEF
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-06-21T18:35:00.000+00:00'
              DepartureTimestamp: 1724265300
              ArrivalTime: '2024-06-21T20:30:00.000-03:00'
              ArrivalTimestamp: 1724283000
              FlightNumber: '607'
              Carrier: FI
              CarrierFullName: Icelandair
              FlightTime: 295
              AircraftType: 7M8
              AvailabilitySource: S
              Key: lbzAnAVqWDKAFif+NAsfAA==
              BookingCode: A
              cabin_class: Business
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-06-25T10:05:00.000-03:00'
              DepartureTimestamp: 1724591100
              ArrivalTime: '2024-06-25T12:25:00.000-07:00'
              ArrivalTimestamp: 1724613900
              FlightNumber: '361'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 380
              AircraftType: 7M8
              AvailabilitySource: S
              Key: eAo/mASqWDKA9eC9NAsfAA==
              BookingCode: P
              cabin_class: Business
          markup: 323
        - itinerary_id: 6ce451c1de96ad276e087b5b87e2300a9f9b88f8
          total_price: 25152.89
          weight: 25127.89
          transportation_time: 1970
          refundable: false
          is_virtual_interline: false
          structure: '[(0, 1)]'
          flight_numbers:
          - 4Y7386
          - AC361
          - LH919
          segments:
          - pricing_solution_id: 8c98f6bd8c322983b0bb22d4466c25d79a91b32a
            is_vi_segment: false
            price: 25152.89
            weight: 25152.89
            segment_position:
            - 0
            - 1
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-20T19:30:00.000+01:00'
              departure_timestamp: 1724178600
              arrival_time: '2024-06-20T22:05:00.000+02:00'
              arrival_timestamp: 1724184300
              flight_number: '919'
              operating_carrier: LH
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: LHR
              to_iata: FRA
              segment_leg_position: 0
            - departure_time: '2024-06-21T15:40:00.000+02:00'
              departure_timestamp: 1724247600
              arrival_time: '2024-06-21T18:00:00.000-03:00'
              arrival_timestamp: 1724274000
              flight_number: '7386'
              operating_carrier: 4Y
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: FRA
              to_iata: YHZ
              segment_leg_position: 0
            - departure_time: '2024-06-25T10:05:00.000-03:00'
              departure_timestamp: 1724591100
              arrival_time: '2024-06-25T12:25:00.000-07:00'
              arrival_timestamp: 1724613900
              flight_number: '361'
              operating_carrier: AC
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: YHZ
              to_iata: YVR
              segment_leg_position: 1
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LHR)
              Origin: LHR
              DestinationName: Frankfurt, Germany (FRA)
              Destination: FRA
              DepartureTime: '2024-06-20T19:30:00.000+01:00'
              DepartureTimestamp: 1724178600
              ArrivalTime: '2024-06-20T22:05:00.000+02:00'
              ArrivalTimestamp: 1724184300
              FlightNumber: '919'
              Carrier: LH
              CarrierFullName: Lufthansa German Airlines
              FlightTime: 95
              AircraftType: 32N
              AvailabilitySource: S
              Key: lbzAnAVqWDKAUDg+NAsfAA==
              BookingCode: J
              cabin_class: Business
            - OriginName: Frankfurt, Germany (FRA)
              Origin: FRA
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-06-21T15:40:00.000+02:00'
              DepartureTimestamp: 1724247600
              ArrivalTime: '2024-06-21T18:00:00.000-03:00'
              ArrivalTimestamp: 1724274000
              FlightNumber: '7386'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 440
              AircraftType: '333'
              AvailabilitySource: S
              Key: lbzAnAVqWDKAWDg+NAsfAA==
              BookingCode: J
              cabin_class: Business
              OperatingCarrier: 4Y
              OperatingCarrierFullName: Yute Air Aka Flight Alaska
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-06-25T10:05:00.000-03:00'
              DepartureTimestamp: 1724591100
              ArrivalTime: '2024-06-25T12:25:00.000-07:00'
              ArrivalTimestamp: 1724613900
              FlightNumber: '361'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 380
              AircraftType: 7M8
              AvailabilitySource: S
              Key: lbzAnAVqWDKAZDg+NAsfAA==
              BookingCode: J
              cabin_class: Business
          markup: 352
    OneWayGenerateSolutionResponse:
      summary: One Way Generate Solution Response
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency: MXN
        itineraries:
        - itinerary_id: 3e5438fd21674dc539b1ef2fa0720e23c01d495d
          total_price: 9623.2
          weight: 9623.2
          transportation_time: 990
          refundable: false
          is_virtual_interline: false
          structure: '[0]'
          flight_numbers:
          - WS18
          - WS235
          segments:
          - pricing_solution_id: a70de9b20c927e2d93996f8ada28adc2a8cfdbb1
            is_vi_segment: false
            price: 9623.2
            weight: 9623.2
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-20T15:30:00.000-03:00'
              departure_timestamp: 1721500200
              arrival_time: '2024-06-20T18:08:00.000-06:00'
              arrival_timestamp: 1721520480
              flight_number: '235'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YHZ
              to_iata: YYC
              segment_leg_position: 0
            - departure_time: '2024-06-20T20:35:00.000-06:00'
              departure_timestamp: 1721529300
              arrival_time: '2024-06-21T12:00:00.000+01:00'
              arrival_timestamp: 1721559600
              flight_number: '18'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: YYC
              to_iata: LHR
              segment_leg_position: 0
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Calgary, AB, Canada (YYC)
              Destination: YYC
              DepartureTime: '2024-06-20T15:30:00.000-03:00'
              DepartureTimestamp: 1721500200
              ArrivalTime: '2024-06-20T18:08:00.000-06:00'
              ArrivalTimestamp: 1721520480
              FlightNumber: '235'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 338
              AircraftType: 7M8
              AvailabilitySource: P
              Key: eAo/mASqWDKABuv4NAABdAA==
              BookingCode: K
              cabin_class: Economy
            - OriginName: Calgary, AB, Canada (YYC)
              Origin: YYC
              DestinationName: London, United Kingdom (LHR)
              Destination: LHR
              DepartureTime: '2024-06-20T20:35:00.000-06:00'
              DepartureTimestamp: 1721529300
              ArrivalTime: '2024-06-21T12:00:00.000+01:00'
              ArrivalTimestamp: 1721559600
              FlightNumber: '18'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 505
              AircraftType: '789'
              AvailabilitySource: P
              Key: eAo/mASqWDKADuv4NAABdAA==
              BookingCode: D
              cabin_class: Business
          markup: 323
        - itinerary_id: 54aad547029a628303a47a21844fef0332070bbb
          total_price: 17550.34
          weight: 17550.34
          transportation_time: 545
          refundable: false
          is_virtual_interline: false
          structure: '[0]'
          flight_numbers:
          - AC667
          - AC866
          segments:
          - pricing_solution_id: e0edb24bc906f445f7c1bc05e1a4434bd97cc425
            is_vi_segment: false
            price: 17550.34
            weight: 17550.34
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-20T17:25:00.000-03:00'
              departure_timestamp: 1721507100
              arrival_time: '2024-06-20T18:04:00.000-04:00'
              arrival_timestamp: 1721513040
              flight_number: '667'
              operating_carrier: AC
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: YHZ
              to_iata: YUL
              segment_leg_position: 0
            - departure_time: '2024-06-20T18:50:00.000-04:00'
              departure_timestamp: 1721515800
              arrival_time: '2024-06-21T06:30:00.000+01:00'
              arrival_timestamp: 1721539800
              flight_number: '866'
              operating_carrier: AC
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: BC
              from_iata: YUL
              to_iata: LHR
              segment_leg_position: 0
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Montreal, PQ, Canada (YUL)
              Destination: YUL
              DepartureTime: '2024-06-20T17:25:00.000-03:00'
              DepartureTimestamp: 1721507100
              ArrivalTime: '2024-06-20T18:04:00.000-04:00'
              ArrivalTimestamp: 1721513040
              FlightNumber: '667'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 99
              AircraftType: '333'
              AvailabilitySource: Q
              Key: eAo/mASqWDKAZuv4NAABdAA==
              BookingCode: J
              cabin_class: Business
            - OriginName: Montreal, PQ, Canada (YUL)
              Origin: YUL
              DestinationName: London, United Kingdom (LHR)
              Destination: LHR
              DepartureTime: '2024-06-20T18:50:00.000-04:00'
              DepartureTimestamp: 1721515800
              ArrivalTime: '2024-06-21T06:30:00.000+01:00'
              ArrivalTimestamp: 1721539800
              FlightNumber: '866'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 400
              AircraftType: '788'
              AvailabilitySource: Q
              Key: eAo/mASqWDKAcuv4NAABdAA==
              BookingCode: J
              cabin_class: Business
          markup: 325
    IE08ErrorCode:
      summary: Request Decompress Error
      value:
        status: IE08
        message: Please send a compressed request using zlib, more details can be found here:/generate-solutions/
    ThreeWayGenerateSolutionResponse:
      summary: Three Way Generate Solution Response
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency: USD
        itineraries:
        - itinerary_id: d8997bee5c8b53d21a85987d1fc05b959e789b42
          total_price: 2247.71
          weight: 2247.71
          transportation_time: 1047
          refundable: false
          is_virtual_interline: false
          structure: '[(0, 1), 2]'
          flight_numbers:
          - F81204
          - WS25
          - WS385
          segments:
          - pricing_solution_id: b931713ca37719cb0c1b40387cebf3bfc5522c9b
            is_vi_segment: false
            price: 1849.2
            weight: 1849.2
            segment_position:
            - 0
            - 1
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-20T11:00:00.000+01:00'
              departure_timestamp: 1724148000
              arrival_time: '2024-08-20T13:46:00.000-03:00'
              arrival_timestamp: 1724172360
              flight_number: '25'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: LGW
              to_iata: YHZ
              segment_leg_position: 0
            - departure_time: '2024-08-25T07:15:00.000-03:00'
              departure_timestamp: 1724580900
              arrival_time: '2024-08-25T09:46:00.000-07:00'
              arrival_timestamp: 1724604360
              flight_number: '385'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YHZ
              to_iata: YVR
              segment_leg_position: 1
          - pricing_solution_id: 1c3ac84c0b9a811ad9165fcf2ae24834c15e1e5a
            is_vi_segment: false
            price: 398.51
            weight: 398.51
            segment_position: 2
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-30T23:55:00.000-07:00'
              departure_timestamp: 1725087300
              arrival_time: '2024-08-31T07:05:00.000-04:00'
              arrival_timestamp: 1725102300
              flight_number: '1204'
              operating_carrier: F8
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YXX
              to_iata: YKF
              segment_leg_position: 2
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LGW)
              Origin: LGW
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-08-20T11:00:00.000+01:00'
              DepartureTimestamp: 1724148000
              ArrivalTime: '2024-08-20T13:46:00.000-03:00'
              ArrivalTimestamp: 1724172360
              FlightNumber: '25'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 406
              AircraftType: 7M8
              AvailabilitySource: P
              Key: lbzAnAVqWDKAHuZFOAAAAA==
              BookingCode: L
              cabin_class: Economy
              fare_info_ref: lbzAnAVqWDKAUuZFOAAAAA==
              fare_rule_key: gws-eJxNjsEKgzAQRD9G5j67MdreIlErKqFQi9hD//8zuoktdCE7s7zNJCEEpdZstA7/VeFd7Q+kZwQS1M4xveAcFZIHkI3Hem9ntwwLSsZFaSgVfKqUxeijM8HIUU6UC0fp6203xpJsKsgvI1u7gZ/pNrOp67chUoRCT+2vX8gW9tUP0W8r4g==
              fare_type: PublicFare
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-08-25T07:15:00.000-03:00'
              DepartureTimestamp: 1724580900
              ArrivalTime: '2024-08-25T09:46:00.000-07:00'
              ArrivalTimestamp: 1724604360
              FlightNumber: '385'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 391
              AircraftType: 73W
              AvailabilitySource: P
              Key: lbzAnAVqWDKAJuZFOAAAAA==
              BookingCode: L
              cabin_class: Economy
              fare_info_ref: lbzAnAVqWDKAcuZFOAAAAA==
              fare_rule_key: gws-eJxNj80OAiEMhB+GzL3Uri43NuxGD4bEvzV48P0fw6FqdICGMtMvIeesoiZbtfyvgGe4X1BvBahQnraeoTtNo3cVQuFY1llOyx4OGXVw67cimgcZ9c3SutH1qe3woPEm048I2NikU892hIn5OLyb5quT+IaY0he+FA5SThQbeOUPXiEnL1w=
              fare_type: PublicFare
          - segment_source: travelport
            legs:
            - OriginName: Abbotsford, BC, Canada (YXX)
              Origin: YXX
              DestinationName: Kitchener, ON, Canada (YKF)
              Destination: YKF
              DepartureTime: '2024-08-30T23:55:00.000-07:00'
              DepartureTimestamp: 1725087300
              ArrivalTime: '2024-08-31T07:05:00.000-04:00'
              ArrivalTimestamp: 1725102300
              FlightNumber: '1204'
              Carrier: W1
              CarrierFullName: W1
              FlightTime: 250
              AircraftType: 7M8
              AvailabilitySource: A
              Key: FywAnATqWDKAsi9IOAAAAA==
              BookingCode: M
              cabin_class: Economy
              fare_info_ref: FywAnATqWDKAzi9IOAAAAA==
              fare_rule_key: gws-eJxNj8EOwiAQRD+GzH0XV0JvYLEXYy+aWDz4/5/hsNXoABsmM7yEUkqUaJKilX8FvMJDMdcGrIg8/bJAY1KD0q0QCte25Oep3uCQfBCPfkvRvciqb44+gqHP7NvGYCczVwTInPSsssNMzJ/DXW33QdJR1Gn6wpdMTzlR7Mgrf/AG2w0u9A==
              fare_type: PublicFare
              OperatingCarrier: F8
              OperatingCarrierFullName: Freedom Airlines d/b/a HP Expr
          markup: 323
        - itinerary_id: bd309a5305032c1d94b403aba8a52da20712fa94
          total_price: 2294.25
          weight: 2294.25
          transportation_time: 1139
          refundable: false
          is_virtual_interline: false
          structure: '[0, 1, 2]'
          flight_numbers:
          - F81204
          - PD244
          - PD267
          - WS25
          segments:
          - pricing_solution_id: 6f97d49268a6dad7fded97f617bac71f17d992ba
            is_vi_segment: false
            price: 836.2
            weight: 836.2
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-20T11:00:00.000+01:00'
              departure_timestamp: 1724148000
              arrival_time: '2024-08-20T13:46:00.000-03:00'
              arrival_timestamp: 1724172360
              flight_number: '25'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: LGW
              to_iata: YHZ
              segment_leg_position: 0
          - pricing_solution_id: 8a167f4755dafcfae6c79ebd05897ec3b56e2b52
            is_vi_segment: false
            price: 1059.54
            weight: 1059.54
            segment_position: 1
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-25T17:05:00.000-03:00'
              departure_timestamp: 1724616300
              arrival_time: '2024-08-25T17:54:00.000-04:00'
              arrival_timestamp: 1724622840
              flight_number: '244'
              operating_carrier: PD
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YHZ
              to_iata: YOW
              segment_leg_position: 1
            - departure_time: '2024-08-25T18:45:00.000-04:00'
              departure_timestamp: 1724625900
              arrival_time: '2024-08-25T21:08:00.000-07:00'
              arrival_timestamp: 1724645280
              flight_number: '267'
              operating_carrier: PD
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YOW
              to_iata: YVR
              segment_leg_position: 1
          - pricing_solution_id: 1c3ac84c0b9a811ad9165fcf2ae24834c15e1e5a
            is_vi_segment: false
            price: 398.51
            weight: 398.51
            segment_position: 2
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-30T23:55:00.000-07:00'
              departure_timestamp: 1725087300
              arrival_time: '2024-08-31T07:05:00.000-04:00'
              arrival_timestamp: 1725102300
              flight_number: '1204'
              operating_carrier: F8
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YXX
              to_iata: YKF
              segment_leg_position: 2
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LGW)
              Origin: LGW
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-08-20T11:00:00.000+01:00'
              DepartureTimestamp: 1724148000
              ArrivalTime: '2024-08-20T13:46:00.000-03:00'
              ArrivalTimestamp: 1724172360
              FlightNumber: '25'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 406
              AircraftType: 7M8
              AvailabilitySource: S
              Key: lbzAnAVqWDKAZYZFOAAAAA==
              BookingCode: E
              cabin_class: Economy
              fare_info_ref: lbzAnAVqWDKAgYZFOAAAAA==
              fare_rule_key: gws-eJxNjtEKwjAMRT9m3PfbbF31rXN1iitFcDK2B///M0yqgoHkXnJCkhijUDr20sX/aPBq1gfKcwQKRHO77nAS4MyD7D3yPdza+TSjrjgIFZWKP+rq4OhTq4KJkzUUWmCrNV9WZaRtNoEdRm0R+JlhUVuGtJwznaOjp6TjFzJAP30Drn8ryA==
              fare_type: PublicFare
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Ottawa, ON, Canada (YOW)
              Destination: YOW
              DepartureTime: '2024-08-25T17:05:00.000-03:00'
              DepartureTimestamp: 1724616300
              ArrivalTime: '2024-08-25T17:54:00.000-04:00'
              ArrivalTimestamp: 1724622840
              FlightNumber: '244'
              Carrier: PD
              CarrierFullName: Porter Airlines, Inc.
              FlightTime: 109
              AircraftType: '295'
              AvailabilitySource: A
              Key: lbzAnAVqWDKANGZFOAAAAA==
              BookingCode: W
              cabin_class: Economy
              fare_info_ref: lbzAnAVqWDKAWGZFOAAAAA==
              fare_rule_key: gws-eJxNj8EKwyAQRD9G5r6aNSQ3rR56KBJCaTGH/v9ndNymtLO6uMzsA1NKQYLKHDT9y+HltoqSK9AQePtjx6RRBJ5Tg1B4zkWOfbvBIEuIZv3Ko1uQUTtsndWGzt6vB40Pmb6Hw1SyzyM7ECpq67Ap1/tJWuDX9Qu/ZC5SRhSNfPIHb/zeLzE=
              fare_type: PublicFare
            - OriginName: Ottawa, ON, Canada (YOW)
              Origin: YOW
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-08-25T18:45:00.000-04:00'
              DepartureTimestamp: 1724625900
              ArrivalTime: '2024-08-25T21:08:00.000-07:00'
              ArrivalTimestamp: 1724645280
              FlightNumber: '267'
              Carrier: PD
              CarrierFullName: Porter Airlines, Inc.
              FlightTime: 323
              AircraftType: '295'
              AvailabilitySource: A
              Key: lbzAnAVqWDKAPGZFOAAAAA==
              BookingCode: W
              cabin_class: Economy
              fare_info_ref: lbzAnAVqWDKAWGZFOAAAAA==
              fare_rule_key: gws-eJxNj8EKwyAQRD9G5r6aNSQ3rR56KBJCaTGH/v9ndNymtLO6uMzsA1NKQYLKHDT9y+HltoqSK9AQePtjx6RRBJ5Tg1B4zkWOfbvBIEuIZv3Ko1uQUTtsndWGzt6vB40Pmb6Hw1SyzyM7ECpq67Ap1/tJWuDX9Qu/ZC5SRhSNfPIHb/zeLzE=
              fare_type: PublicFare
          - segment_source: travelport
            legs:
            - OriginName: Abbotsford, BC, Canada (YXX)
              Origin: YXX
              DestinationName: Kitchener, ON, Canada (YKF)
              Destination: YKF
              DepartureTime: '2024-08-30T23:55:00.000-07:00'
              DepartureTimestamp: 1725087300
              ArrivalTime: '2024-08-31T07:05:00.000-04:00'
              ArrivalTimestamp: 1725102300
              FlightNumber: '1204'
              Carrier: W1
              CarrierFullName: W1
              FlightTime: 250
              AircraftType: 7M8
              AvailabilitySource: A
              Key: FywAnATqWDKAsi9IOAAAAA==
              BookingCode: M
              cabin_class: Economy
              fare_info_ref: FywAnATqWDKAzi9IOAAAAA==
              fare_rule_key: gws-eJxNj8EOwiAQRD+GzH0XV0JvYLEXYy+aWDz4/5/hsNXoABsmM7yEUkqUaJKilX8FvMJDMdcGrIg8/bJAY1KD0q0QCte25Oep3uCQfBCPfkvRvciqb44+gqHP7NvGYCczVwTInPSsssNMzJ/DXW33QdJR1Gn6wpdMTzlR7Mgrf/AG2w0u9A==
              fare_type: PublicFare
              OperatingCarrier: F8
              OperatingCarrierFullName: Freedom Airlines d/b/a HP Expr
          markup: 188
        - itinerary_id: ac236d9a9e90aa0b416649d8b9130f2b4a1c8309
          total_price: 2770.45
          weight: 2770.45
          transportation_time: 1262
          refundable: false
          is_virtual_interline: false
          structure: '[0, (1, 2)]'
          flight_numbers:
          - WS118
          - WS131
          - WS233
          - WS25
          - WS568
          segments:
          - pricing_solution_id: 6f97d49268a6dad7fded97f617bac71f17d992ba
            is_vi_segment: false
            price: 836.2
            weight: 836.2
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-20T11:00:00.000+01:00'
              departure_timestamp: 1724148000
              arrival_time: '2024-06-20T13:46:00.000-03:00'
              arrival_timestamp: 1724172360
              flight_number: '25'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: LGW
              to_iata: YHZ
              segment_leg_position: 0
          - pricing_solution_id: 8dcf639c40501a1ace3a24bde358d412b3b54980
            is_vi_segment: false
            price: 1934.25
            weight: 1934.25
            segment_position:
            - 1
            - 2
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-06-25T18:05:00.000-03:00'
              departure_timestamp: 1724619900
              arrival_time: '2024-06-25T20:40:00.000-06:00'
              arrival_timestamp: 1724640000
              flight_number: '233'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YHZ
              to_iata: YYC
              segment_leg_position: 1
            - departure_time: '2024-06-25T21:25:00.000-06:00'
              departure_timestamp: 1724642700
              arrival_time: '2024-06-25T21:59:00.000-07:00'
              arrival_timestamp: 1724648340
              flight_number: '131'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YYC
              to_iata: YVR
              segment_leg_position: 1
            - departure_time: '2024-06-30T15:30:00.000-07:00'
              departure_timestamp: 1725057000
              arrival_time: '2024-06-30T17:57:00.000-06:00'
              arrival_timestamp: 1725062220
              flight_number: '118'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YVR
              to_iata: YYC
              segment_leg_position: 2
            - departure_time: '2024-06-30T19:15:00.000-06:00'
              departure_timestamp: 1725066900
              arrival_time: '2024-07-01T00:52:00.000-04:00'
              arrival_timestamp: 1725079920
              flight_number: '568'
              operating_carrier: WS
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: YYC
              to_iata: YKF
              segment_leg_position: 2
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LGW)
              Origin: LGW
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-06-20T11:00:00.000+01:00'
              DepartureTimestamp: 1724148000
              ArrivalTime: '2024-06-20T13:46:00.000-03:00'
              ArrivalTimestamp: 1724172360
              FlightNumber: '25'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 406
              AircraftType: 7M8
              AvailabilitySource: S
              Key: lbzAnAVqWDKAZYZFOAAAAA==
              BookingCode: E
              cabin_class: Economy
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Calgary, AB, Canada (YYC)
              Destination: YYC
              DepartureTime: '2024-06-25T18:05:00.000-03:00'
              DepartureTimestamp: 1724619900
              ArrivalTime: '2024-06-25T20:40:00.000-06:00'
              ArrivalTimestamp: 1724640000
              FlightNumber: '233'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 335
              AircraftType: 7M8
              AvailabilitySource: P
              Key: eAo/mASqWDKAxHSEOAAAAA==
              BookingCode: E
              cabin_class: Economy
            - OriginName: Calgary, AB, Canada (YYC)
              Origin: YYC
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-06-25T21:25:00.000-06:00'
              DepartureTimestamp: 1724642700
              ArrivalTime: '2024-06-25T21:59:00.000-07:00'
              ArrivalTimestamp: 1724648340
              FlightNumber: '131'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 94
              AircraftType: 73H
              AvailabilitySource: P
              Key: eAo/mASqWDKAzHSEOAAAAA==
              BookingCode: E
              cabin_class: Economy
            - OriginName: Vancouver, BC, Canada (YVR)
              Origin: YVR
              DestinationName: Calgary, AB, Canada (YYC)
              Destination: YYC
              DepartureTime: '2024-06-30T15:30:00.000-07:00'
              DepartureTimestamp: 1725057000
              ArrivalTime: '2024-06-30T17:57:00.000-06:00'
              ArrivalTimestamp: 1725062220
              FlightNumber: '118'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 87
              AircraftType: 7M8
              AvailabilitySource: S
              Key: eAo/mASqWDKA1HSEOAAAAA==
              BookingCode: E
              cabin_class: Economy
            - OriginName: Calgary, AB, Canada (YYC)
              Origin: YYC
              DestinationName: Kitchener, ON, Canada (YKF)
              Destination: YKF
              DepartureTime: '2024-06-30T19:15:00.000-06:00'
              DepartureTimestamp: 1725066900
              ArrivalTime: '2024-07-01T00:52:00.000-04:00'
              ArrivalTimestamp: 1725079920
              FlightNumber: '568'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 217
              AircraftType: 73W
              AvailabilitySource: S
              Key: eAo/mASqWDKA3HSEOAAAAA==
              BookingCode: E
              cabin_class: Economy
          markup: 210
        - itinerary_id: 456c8f9da33b7dbd284949be27b35370803a69c9
          total_price: 2105.05
          weight: 2105.05
          transportation_time: 1245
          refundable: false
          is_virtual_interline: false
          structure: '[(0, 2), 1]'
          flight_numbers:
          - PD256
          - TS7772
          - WS25
          - WS718
          segments:
          - pricing_solution_id: c7168b7f775eaf7eccddaacd50f2b08055871274
            is_vi_segment: false
            price: 495.09
            weight: 495.09
            segment_position: 1
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-25T17:50:00-03:00'
              departure_timestamp: 1724619000
              arrival_time: '2024-08-25T18:20:00-04:00'
              arrival_timestamp: 1724624400
              flight_number: '256'
              operating_carrier: PD
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: YHZ
              to_iata: YUL
              segment_leg_position: 1
            - departure_time: '2024-08-25T20:30:00-04:00'
              departure_timestamp: 1724632200
              arrival_time: '2024-08-25T23:15:00-07:00'
              arrival_timestamp: 1724652900
              flight_number: '7772'
              operating_carrier: TS
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: YUL
              to_iata: YVR
              segment_leg_position: 1
          - pricing_solution_id: ff787dc1d6ef2d82fdea93268ee9167c87222d0f
            is_vi_segment: false
            price: 1609.96
            weight: 1609.96
            segment_position:
            - 0
            - 2
            segment_source: travelport
            is_private_fare: false
            baggage: 2pc
            legs:
            - departure_time: '2024-08-20T11:00:00+01:00'
              departure_timestamp: 1724148000
              arrival_time: '2024-08-20T13:46:00-03:00'
              arrival_timestamp: 1724172360
              flight_number: '25'
              operating_carrier: WS
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: LGW
              to_iata: YHZ
              segment_leg_position: 0
            - departure_time: '2024-08-30T15:15:00-07:00'
              departure_timestamp: 1725056100
              arrival_time: '2024-08-30T22:49:00-04:00'
              arrival_timestamp: 1725072540
              flight_number: '718'
              operating_carrier: WS
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: YVR
              to_iata: YYZ
              segment_leg_position: 2
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: Halifax, NS, Canada (YHZ)
              Origin: YHZ
              DestinationName: Montreal, PQ, Canada (YUL)
              Destination: YUL
              DepartureTime: '2024-08-25T17:50:00-03:00'
              DepartureTimestamp: 1724619000
              ArrivalTime: '2024-08-25T18:20:00-04:00'
              ArrivalTimestamp: 1724624400
              FlightNumber: '256'
              Carrier: PD
              CarrierFullName: Porter Airlines, Inc.
              FlightTime: 90
              Key: dabc73bcbec56e68344b712fc60d00a2f35138ef
              fare_type: Published fare
              FareBasisCode: L0N3ZOZS
              BookingCode: L
              cabin_class: Economic Standard
            - OriginName: Montreal, PQ, Canada (YUL)
              Origin: YUL
              DestinationName: Vancouver, BC, Canada (YVR)
              Destination: YVR
              DepartureTime: '2024-08-25T20:30:00-04:00'
              DepartureTimestamp: 1724632200
              ArrivalTime: '2024-08-25T23:15:00-07:00'
              ArrivalTimestamp: 1724652900
              FlightNumber: '7772'
              Carrier: PD
              CarrierFullName: Porter Airlines, Inc.
              FlightTime: 345
              Key: e1ed2a29f953c40d8620293c97ff888a58602406
              fare_type: Published fare
              OperatingCarrier: TS
              OperatingCarrierFullName: Air Transat
              FareBasisCode: L0N3ZOZS
              BookingCode: L
              cabin_class: Economic Standard
          - segment_source: travelport
            legs:
            - OriginName: London, United Kingdom (LGW)
              Origin: LGW
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-08-20T11:00:00+01:00'
              DepartureTimestamp: 1724148000
              ArrivalTime: '2024-08-20T13:46:00-03:00'
              ArrivalTimestamp: 1724172360
              FlightNumber: '25'
              Carrier: WS
              CarrierFullName: Westjet
              FlightTime: 406
              Key: 010935c02243f72aad58835bd8c35c684e3f4ce2
              fare_type: Published fare
              FareBasisCode: LP7J3KES
              BookingCode: L
              cabin_class: Economic Standard
            - OriginName: Vancouver, BC, Canada (YVR)
              Origin: YVR
              DestinationName: Toronto, ON, Canada (YYZ)
              Destination: YYZ
              DepartureTime: '2024-08-30T15:15:00-07:00'
              DepartureTimestamp: 1725056100
              ArrivalTime: '2024-08-30T22:49:00-04:00'
[...]
