openapi: 3.2.0
info:
  version: 4.15.0
  title: Trip Ninja API Documentation Ticketing API
  description: 'Introduction


    Trip Ninja uses a REST API with requests and responses in JSON format.'
  x-logo:
    url: https://s3.amazonaws.com/tn-api-docs/trip_ninja_logo.png
    altText: Trip Ninja logo
    href: https://www.tripninja.io/
servers:
- url: https://preprodapi.tripninja.io
  description: Pre-Production server
tags:
- name: Ticketing
paths:
  /ticketing/:
    post:
      summary: Ticketing Report
      description: When tickets are issued for a trip, please hit the following endpoint
      operationId: TicketingReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketingReportRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
        400:
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: States whether request to book was successful.
                    example: Not booked
      tags:
      - Ticketing
components:
  schemas:
    TicketingReportRequest:
      title: Request
      type: object
      required: trip_id segment_ids
      properties:
        trip_id:
          type: string
          description: Trip ID returned in search response
          example: 6be6e72c60102bd489ac46434d4ac6c11e047ee8
        segment_ids:
          type: array
          description: Array of segment_id’s for the booked segments - These will be strings for one-ways and arrays of strings for open-jaws.
          items:
            type: string
            example:
            - 18fd1992fd90e6e2cf44d49308a1482b2ecd7f67
            - 59e15240be759a023c950e66379dca775fd8aaf1
        queue:
          type: string
          description: Length of the queue number has to be within 3 letters.
          example: '001'
