openapi: 3.2.0
info:
  version: 2.0.0
  title: Trip Ninja API Documentation Super Trip API
  description: 'Introduction


    Trip Ninja uses a REST API with requests and responses in JSON format.'
  x-logo:
    url: https://s3.amazonaws.com/tn-api-docs/trip_ninja_logo.png
    altText: Trip Ninja logo
    href: https://www.tripninja.io/
servers:
- url: https://preprodapi.tripninja.io
  description: Pre-Production server
tags:
- name: Super Trip
paths:
  /super_trip/{id}/:
    put:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Super Trip ID provided
        example: aksdhiywehe96wewe76
      summary: Super Trip Nickname
      description: This can be used to add a nickname to a super trip
      operationId: SuperTrip
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuperTripUpdateRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: success
        500:
          description: Unable to update the nickname
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unable to update the nickname. Internal Error
      tags:
      - Super Trip
  /super_trip/{id}/part/:
    delete:
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Super Trip ID provided
        example: aksdhiywehe96wewe76
      summary: Super Trip Nickname
      description: This can be used to remove flights/hotels/cars from a super trip
      operationId: SuperTripPartDeletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuperTripPartDeletionRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperTripPartDeletionResponse'
        500:
          description: Unable to update the nickname
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unable to update the nickname. Internal Error
      tags:
      - Super Trip
components:
  schemas:
    SuperTripPartDeletionResponse:
      type: object
      properties:
        markup:
          type: number
          description: Only if part type is flight. Trip Ninja provided markup for all flights in this supertrip, updated based on the removed flight
          example: 20.0
    SuperTripPartDeletionRequest:
      type: object
      properties:
        part_type:
          type: string
          description: Super Trip Part Type
          example: itinerary
          enum:
          - itinerary
          - hotel
          - car
        part_id:
          type: string
          description: Super Trip Part ID. (itinerary_id, hotel_reservation_id, car_rental_id)
          example: hgasd65ashdg7a6w5
    SuperTripUpdateRequest:
      type: object
      properties:
        nickname:
          type: string
          description: Super Trip Nick name
          example: My Super Trip
