openapi: 3.0.0
info:
  version: 1.0.0
  title: Trip Ninja API Documentation
  description: "<h2>Generate Solutions/h2>\nAfter your infrastructure has made the queries to your content\
    \ sources that Trip Ninja defined in /get-searches/, the \ngenerate-solutions/ endpoint will generate\
    \ a set of optimal itineraries including the ideal markup on those itineraries and then return them\
    \ to you. You can then present those itineraries on the front end of your platform to your customers.\n\
    \nThe /generate-solutions/ endpoint contains an optional metadata field that exists on each query\
    \ that your infrastructure performs. This field contains any metadata that you want to pass in (branded\
    \ fares, tax info, etc.). \n\n<b>1. Include Metadata Field</b>\nIf you choose to include the metadata\
    \ field, we will pass you these values in a list inside the corresponding itinerary when we have finished\
    \ generating the itineraries for the search.\nPros -The benefit of this extra metadata data is that\
    \ the response from the /generate-solutions/ endpoint will be ready to be displayed on the front end\
    \ of your platform.\nCons - This will inflate the request/response size considerably which can result\
    \ in longer loading times.\n\n<b>2. Ignore MetaData Field</b>\nIn approach, your infrastructure will\
    \ only send the required fields listed in our docs.\nPros - This will result in a much smaller request/response.\n\
    Cons - It will be up to your infrastructure and platform to process the data and add any additional\
    \ metadata to the itineraries returned.\n\n!\n"
servers:
- url: https://sandbox.tripninja.io
  description: Sandbox server for development and testing
paths:
  /v2/generate-solutions/:
    post:
      summary: Generate Solutions
      description: ''
      operationId: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FullGenerateSolutionsRequest'
            examples:
              oneWayVIGenerateSolutionRequest:
                $ref: '#/components/examples/OneWayVIGenerateSolutionRequest'
              twoWayVIGenerateSolutionRequest:
                $ref: '#/components/examples/TwoWayVIGenerateSolutionRequest'
              twoWayOJVIGenerateSolutionRequest:
                $ref: '#/components/examples/TwoWayOJVIGenerateSolutionRequest'
              threeWayVIGenerateSolutionRequest:
                $ref: '#/components/examples/ThreeWayVIGenerateSolutionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSolutionsResponse'
              examples:
                oneWayVIGenerateSolutionResponse:
                  $ref: '#/components/examples/OneWayVIGenerateSolutionResponse'
                twoWayVIGenerateSolutionResponse:
                  $ref: '#/components/examples/TwoWayVIGenerateSolutionResponse'
                twoWayOJVIGenerateSolutionResponse:
                  $ref: '#/components/examples/TwoWayOJVIGenerateSolutionResponse'
                threeWayVIGenerateSolutionResponse:
                  $ref: '#/components/examples/ThreeWayVIGenerateSolutionResponse'
        '400':
          description: Invalid Input
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error code and 0 for success response
                    example: IE38
                  message:
                    type: string
                    description: Contains the error message
                    example: Trip ID not found
              examples:
                IE52ErrorCode:
                  $ref: '#/components/examples/IE52ErrorCode'
                IE08ErrorCode:
                  $ref: '#/components/examples/IE08ErrorCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Error code and 0 for success response
                    example: IE44
                  message:
                    type: string
                    description: Contains the error message
                    example: User is not authorized
        '500':
          description: Server Error
components:
  schemas:
    FullGenerateSolutionsRequest:
      type: object
      title: Generate Solutions Request
      properties:
        trip_id:
          description: The trip id of the search. This will be used in all future requests relating to
            this search.
          type: string
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        datasource_responses:
          description: The list of datasource responses to be used to generate solutions.
          type: object
          allOf:
          - $ref: '#/components/schemas/FullDatasourceResponse'
    MinimalDatasourceResponse:
      type: object
      properties:
        4f499298b303c55a1ee522118afce28abe2f68e4:
          description: The ID of the datasource request. The ID varies between requests.
          type: array
          items:
            $ref: '#/components/schemas/BasicGenerateDatasourceRequest'
    FullDatasourceResponse:
      type: object
      properties:
        4f499298b303c55a1ee522118afce28abe2f68e4:
          description: The datasource_request_id of a datasource request returned from the first get-searches
            call after the OTA has performed the flight searches requested. The value of this id will
            be the formatted results from that search.
          type: array
          items:
            $ref: '#/components/schemas/FullGenerateDatasourceRequest'
    MinimalDatasourceLegDetails:
      description: A list of required info for each leg of this segment.
      type: object
      required:
      - departure_time
      - departure_timestamp
      - arrival_time
      - arrival_timestamp
      - flight_number
      - operating_carrier
      - transportation_type
      - fare_type
      - cabin_class
      - from_iata
      - to_iata
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g. 2023-03-15T08:00:00-04:00).
          example: '2023-03-15T08:00:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in epoch time, in seconds (e.g. 1678892400).
          example: 1678892400
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. 2023-03-15T10:29:00-04:00).
          example: '2023-03-15T10:29:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in epoch time, in seconds (e.g. 1678901340).
          example: 1678901340
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg. Accepted values are E - Economy, PE - Premium Economy,
            BC - Business Class, FC - First Class, PFC - Premium First Class.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
        from_iata:
          type: string
          description: IATA of departure airport for leg.
          example: YWG
        to_iata:
          type: string
          description: IATA of arrival airport for leg.
          example: FCO
        marketing_carrier:
          type: string
          description: Marketing carrier.
          example: AC
    MinimalMetadataRequest:
      type: object
      description: Any data can be provided to this optional field. We will not alter the data within
        this field.
      properties:
        OriginName:
          type: string
          example: Halifax, NS, Canada (YHZ)
        Origin:
          type: string
          example: YHZ
        DestinationName:
          type: string
          example: Ottawa, ON, Canada (YOW)
        Destination:
          type: string
          example: YOW
        DepartureTime:
          type: string
          example: '2023-03-15T08:00:00'
        DepartureTimestamp:
          type: number
          example: 1678892400
        ArrivalTime:
          type: string
          example: '2023-03-15T10:29:00'
        ArrivalTimestamp:
          type: number
          example: 1678901340
        FlightNumber:
          type: string
          example: '391'
        Carrier:
          type: string
          example: PD
        CarrierFullName:
          type: string
          example: Porter Airlines, Inc.
        FlightTime:
          type: number
          example: 138
        AircraftType:
          type: string
          example: DH4
        AvailabilitySource:
          type: string
          example: A
        Key:
          type: string
          example: oMrDKtSqWDKAFrUOpAAAAA==
        BookingCode:
          type: string
          example: W
        cabin_class:
          type: string
          example: Business Class
    DatasourceLegDetailsResponse:
      description: A list of required info for each leg of this segment.
      type: object
      properties:
        departure_time:
          type: string
          description: Departure time written in the ISO 8601 datetime format (e.g. 2023-03-15T08:00:00-04:00).
          example: '2023-11-15T16:00:00.000+07:00'
        departure_timestamp:
          type: int
          description: Departure timestamp written in epoch time (e.g. 1678892400).
          example: 1678892400
        arrival_time:
          type: string
          description: Arrival time written in the ISO 8601 datetime format (e.g. 2023-03-15T10:29:00-04:00).
          example: '2023-11-15T20:00:00.000+07:00'
        arrival_timestamp:
          type: int
          description: Arrival timestamp written in epoch time (e.g. 1678901340).
          example: 1678901340
        flight_number:
          type: string
          description: Flight number.
          example: '391'
        operating_carrier:
          type: string
          description: Operating carrier.
          example: WS
        transportation_type:
          type: string
          description: Transportation vehicle used for this segment.
          example: flight
        fare_type:
          type: string
          description: Fare Type of the segment
          example: Published
        cabin_class:
          type: string
          description: The cabin class of the leg. Accepted values are E - Economy, PE - Premium Economy,
            BC - Business Class, FC - First Class, PFC - Premium First Class.
          example: BC
          enum:
          - E
          - PE
          - BC
          - FC
          - PFC
        cancellation_probability:
          type: number
          description: The probability percentage that this flight will be cancelled (only returned if
            you have our average delay time module enabled, and only for VI segments with a self transfer)
          example: 7.86
        average_delay_time:
          type: number
          description: The average delay time of this flight in minutes. A negative value indicates an
            average early arrival time. (only returned if you have our average delay time module enabled,
            and only for VI segments with a self transfer)
          example: -5
        is_international:
          type: boolean
          description: Indicates whether this flight is international. (only returned if you have our
            average delay time module enabled, and only for VI segments with a self transfer)
          example: true
        self_transfer_time:
          type: number
          description: The self transfer time in minutes between this flights arrival time and the next
            segments departure time. (only returned if you have our average delay time module enabled,
            and only for VI segments with a self transfer)
          example: 134
        segment_leg_position:
          type: number
          description: 'Indicates the segment position of this specific leg. For an open jaw VI response,
            the segment_leg_position can either be 0 or 1, representing the first or second segment searched. '
          example: 0
        marketing_carrier:
          type: string
          description: Marketing carrier.
          example: AC
    DatasourcePriceBreakdownDetails:
      type: object
      description: Displays the pricing for each passenger type
      properties:
        passenger_type_code:
          type: string
          description: Passenger type code.
          example: ADT
        base_price:
          type: number
        total_price:
          type: number
        taxes:
          type: number
        tax_breakdown:
          type: array
          items:
            $ref: '#/components/schemas/DatasourceTaxBreakdownDetails'
    DatasourceTaxBreakdownDetails:
      type: object
      description: Breakdown of taxes amount into their categories
      properties:
        category:
          type: string
          description: Tax category.
          example: FR
        amount:
          type: number
          description: Tax amount.
    GenerateSolutionsResponse:
      title: Generate Solutions Response
      type: object
      properties:
        trip_id:
          type: string
          description: A unique key used for identification and when booking a trip.
          example: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency:
          type: string
          description: Currency that was passed in get-searches
          example: MXN
        itineraries:
          $ref: '#/components/schemas/DatasourceItineraryInfo'
        markup:
          type: number
          description: Markup amount determined by Trip Ninja's revenue management system.
          example: 32.23
    DatasourceItineraryInfo:
      type: array
      description: Array of itineraries sorted by weight.
      items:
        properties:
          itinerary_id:
            type: string
            description: Unique identifier for the itinerary
            example: f557310419e4c08a6ba40cc2785447970e7aea4c
          total_price:
            type: number
            description: Price of the itinerary (fare and tax included).
            example: 197.1
          weight:
            type: number
            description: Weight of the segment (time-value considered).
            example: 239
          refundable:
            type: boolean
            description: Denotes whether the booking will be refundable.
            example: true
          transportation_time:
            type: integer
            description: Total transportation time for the itinerary.
            example: 425
          is_virtual_interline:
            type: boolean
            description: Denotes whether the itinerary contains virtual interline.
            example: true
          structure:
            type: array
            description: "\"Array representing the structure of the trip in terms of one-ways and open-jaw\
              \ segments. \nFor example: [(0, 1), (3, 4), 2] means there would be three bookings. One\
              \ openjaw for segments ”0 and 1”, \none for segments ”3 and 4” and a one-way for segment\
              \ ‘2”.\"\n"
            example: '[(0, 1), 2]'
          is_vi_openjaw:
            type: boolean
            description: Identifies whether the itinerary includes an open jaw.
            example: true
          flight_numbers:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: string
              example: AC135
          segments:
            type: array
            description: Array of strings listing the flight numbers in this itinerary.
            items:
              type: object
              properties:
                pricing_solution_id:
                  type: string
                  description: A unique identifier that matches objects within metadata_details
                  example: c2f59ef0eeec039233d60e694fed09edc4dfa954
                is_vi_segment:
                  type: boolean
                  description: Denotes whether the segment is a virtual interline segment.
                  example: false
                price:
                  type: number
                  description: Price of the segment (fare and tax included)
                  example: 671.88
                weight:
                  type: number
                  description: Weight of the segment (time-value considered).
                  example: 716
                segment_position:
                  type: number or array of number
                  description: Position of the segment in the itinerary. For example, `[0, 2]` means the
                    combined segment is an open-jaw segment and it represents the **first** segment of
                    the itinerary and the **third** segment of the itinerary.
                  example: 0
                is_private_fare:
                  type: boolean
                  description: Indicates whether or not this segment is a private fare. If this value
                    is false, it is considered to be a public fare.
                  example: true
                baggage:
                  type: string
                  description: A string value representing the baggage for this itinerary. Will be a string
                    value if baggage is present, otherwise will be `null`.
                  example: 2pc
                vi_solution_id:
                  type: string
                  description: The concatenation of all VI segment's pricing_solution_id seperated by
                    two underscores, e.g. __
                  example: 0714d9db826c3719eda04e022c0af6e8d343680c__3124b0fa3a99f6dffc279c1312c8d9be407f2f36
                vi_solution_index:
                  type: number
                  description: The position the current segment is within the VI solution (if a VI solution
                    has 2 segments, can be 0 or 1). If an open jaw is included in the response, the vi_solution_index
                    describes the position of the inbound and outbound segments of the open jaw trip i.e.
                    (1,2)
                  example: 1
                risk_profile:
                  type: number
                  description: The probability of missing the connection and not performing the self-transfer
                    during the VI self-connection
                  example: 8.42
                segment_type:
                  type: string
                  description: Denotes whether the segment is an open jaw or a one-way.
                  example: Open Jaw
                legs:
                  type: array
                  description: A list of required legs information for this segment
                  items:
                    $ref: '#/components/schemas/DatasourceLegDetailsResponse'
          metadata:
            type: array
            description: This field is completely optional and we will not alter the data within this
              object. Whatever passed within this object will be returned as-is back to the OTA.<br/>
              This array contains all the metadata that correlates with the related itineraries. This
              will not be populated if no metadata is passed in the generate solutions request.
            items:
              $ref: '#/components/schemas/MinimalMetadataRequest'
    DatasourceItinerarySegmentInfo:
      type: object
      properties:
        segment_id:
          type: string
          description: String if one-way, Array of 2 Strings if open-jaw. Used for booking.
          example: 344d73be0d61f820aa9a6ace300742fed0672f2e
        price:
          type: number
          description: Price of the segment (fare and tax included)
          example: 72.3
    PercentageWithExtraInfo:
      type: object
      description: Information about penalty percentage and amount
      properties:
        amount:
          type: number
          description: Penalty amount
          example: 78
        percentage:
          type: number
          description: Penalty percentage
          example: 0
    ChangePenaltyWithExtraInfo:
      type: object
      description: Information about changing.
      properties:
        amount:
          type: number
          description: Change penalty amount
          example: 78
        percentage:
          $ref: '#/components/schemas/PercentageWithExtraInfo'
        applies_at:
          type: string
          description: When will the change penality apply at
          example: Anytime
    CancelPenaltyWithExtraInfo:
      type: object
      description: Information about cancelling.
      properties:
        amount:
          type: number
          description: Cancel penalty amount
          example: 78
        percentage:
          $ref: '#/components/schemas/PercentageWithExtraInfo'
        applies_at:
          type: string
          description: When will the cancel penality apply at
          example: Anytime
    FareInfoBrandDetails:
      type: object
      description: Contains brand information for the fare
      properties:
        name:
          type: string
          description: Name of the brand
          example: STANDARD
        brand_description:
          type: string
          description: Description of the brand
          example: 'Standard: Carry on baggage only'
        tag_line:
          type: string
          description: Tag line of the brand
          example: Low Fares for Carefee Travel
        brand_services:
          type: object
          description: Contains information of what the brand offers
          properties:
            carry_on_hand_baggage:
              type: string
              description: Are carry on bags permitted on this ticket. True/False or "$"
              example: true
            checked_baggage:
              type: string
              description: Are checked bags permitted on this ticket. True/False or "$"
              example: true
            rebooking:
              type: string
              description: Rebooking available on this ticket.
              example: $
            refund:
              type: boolean
              description: Refundability of the ticket.
              example: true
            seat_assignment:
              type: string
              description: Seat assignment availability on this ticket.
              example: $
            meals_and_beverages:
              type: boolean
              description: Are meals and beverages provided as part of this ticket.
              example: true
            wifi:
              type: string
              description: Wifi availability on the flight.
              example: $
        tier:
          type: string
          description: Brand tier
          example: '0002'
    BrandFareInfo:
      type: array
      description: Contains fare info for the brand
      items:
        type: object
        properties:
          origin:
            description: Origin of the segment
            type: string
            example: YHZ
          destination:
            description: Destination of the segment
            type: string
            example: YVR
          fare_basis:
            description: Fare Basis Code for the segment.
            type: string
            example: QUSDSI0E
          booking_code:
            description: Booking code for the segment
            type: string
            example: 12S3TI3P
          cabin_class:
            description: Cabin class of the segment. Accepted values are E - Economy, PE - Premium Economy,
              BC - Business Class, FC - First Class, PFC - Premium First Class.
            type: string
            example: E
          brand:
            $ref: '#/components/schemas/FareInfoBrandDetails'
    DatasourceBrandDetails:
      type: array
      description: List of branded fares for the current segment
      items:
        type: object
        properties:
          base_price:
            description: Base price of the segment (tax excluded)
            type: number
            example: 0
          taxes:
            description: Tax price of the segment
            type: number
            example: 119.1
          fees:
            description: Fees for the segment *Travelport customers only*
            type: number
            example: 0
          price:
            description: Price of the segment (fare and tax included).
            type: number
            example: 197.1
          change_penalty:
            $ref: '#/components/schemas/ChangePenaltyWithExtraInfo'
          cancel_penalty:
            $ref: '#/components/schemas/CancelPenaltyWithExtraInfo'
          baggage_info:
            description: Contains baggage information.
            type: object
            properties:
              pieces:
                description: Number of baggages included
                type: integer
                example: 1
              units:
                description: Unit of the baggage
                type: string
                example: pc
          fare_info:
            $ref: '#/components/schemas/BrandFareInfo'
    BasicGenerateDatasourceRequest:
      type: object
      description: blah
      required:
      - pricing_solution_id
      - total_price
      - segment_source
      - is_private_fare
      - segments
      properties:
        pricing_solution_id:
          type: string
          description: A unique identifier that represents the itinerary details.
          example: 40495f0f293b54ffe64c833d987cd80ecdb5aca5
        total_price:
          type: number
          description: Total price of the segment (fare and tax included).
          example: 197.1
        segment_source:
          type: string
          description: GDS or LCC provider source for the segment. Please see all supported content sources
            in the Admin Panel.
          example: travelport
        is_private_fare:
          type: boolean
          description: Indicates whether or not this segment is a private fare. If this value is false,
            it is considered to be a public fare.
          example: true
        segments:
          type: array
          description: A list of segments for this itinerary
          items:
            type: array
            description: A list of required legs information for this segment
            items:
              $ref: '#/components/schemas/MinimalDatasourceLegDetails'
        baggage:
          type: string
          description: A string value representing the baggage allowance per segment. Itineraries are
            built and returned based on their baggage allowances. (Eg. segments with a `null` baggage
            allowance will be grouped together, while segments with a baggage allowance will be grouped
            together.)
          example: 2pc
        metadata:
          $ref: '#/components/schemas/MinimalMetadataRequest'
        refundable:
          type: boolean
          description: Explains whether the booking will be refundable.
          example: true
    FullGenerateDatasourceRequest:
      allOf:
      - $ref: '#/components/schemas/BasicGenerateDatasourceRequest'
    MetaDataDetails:
      type: array
      description: Contains a list of metadata for data mapping, this will not be populated if no metadata
        is passed in the generate solutions request.
      items:
        type: object
        properties:
          metadata_id:
            type: string
            description: A unique identifier that matches the metadata within each itinerary
            example: c2f59ef0eeec039233d60e694fed09edc4dfa954
  examples:
    OneWayVIGenerateSolutionRequest:
      summary: One Way VI Generate Solution Request
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        datasource_responses:
          045ce44555be2c68819bc889a9e50d1fc5d5bf80:
          - pricing_solution_id: 174be060bdb360650eda9da3465c175e940c3031
            total_price: 602.2
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T23:00:00.000-04:00'
                departure_timestamp: 1723777200
                arrival_time: '2024-08-16T11:10:00.000+01:00'
                arrival_timestamp: 1723803000
                flight_number: '146'
                operating_carrier: UA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: EWR
                to_iata: LHR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-15T23:00:00.000-04:00'
                DepartureTimestamp: 1723777200
                ArrivalTime: '2024-08-16T11:10:00.000+01:00'
                ArrivalTimestamp: 1723803000
                FlightNumber: '146'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 430
                AircraftType: '763'
                AvailabilitySource: S
                Key: lbzAnAVqWDKA84rqOAAAAA==
                BookingCode: W
                cabin_class: Economy
          - pricing_solution_id: 121a36a657ec33e0dd98c2fe6325311cd60f9303
            total_price: 602.2
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T18:55:00.000-04:00'
                departure_timestamp: 1723762500
                arrival_time: '2024-08-16T07:15:00.000+01:00'
                arrival_timestamp: 1723788900
                flight_number: '14'
                operating_carrier: UA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: EWR
                to_iata: LHR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-15T18:55:00.000-04:00'
                DepartureTimestamp: 1723762500
                ArrivalTime: '2024-08-16T07:15:00.000+01:00'
                ArrivalTimestamp: 1723788900
                FlightNumber: '14'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 440
                AircraftType: '763'
                AvailabilitySource: S
                Key: lbzAnAVqWDKAL5rqOAAAAA==
                BookingCode: W
                cabin_class: Economy
          df90edc75d6eb7e5159be9b03162312a708c64b2:
          - pricing_solution_id: 8373483e6353fd4a3833f8971feb9e70f0cc74ba
            total_price: 217.5
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T19:10:00.000-04:00'
                departure_timestamp: 1723763400
                arrival_time: '2024-08-15T20:41:00.000-04:00'
                arrival_timestamp: 1723768860
                flight_number: '2494'
                operating_carrier: UA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: EWR
                to_iata: IAD
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: Washington, DC, USA (IAD)
                Destination: IAD
                DepartureTime: '2024-08-15T19:10:00.000-04:00'
                DepartureTimestamp: 1723763400
                ArrivalTime: '2024-08-15T20:41:00.000-04:00'
                ArrivalTimestamp: 1723768860
                FlightNumber: '2494'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 91
                AircraftType: '752'
                AvailabilitySource: S
                Key: FywAnATqWDKAv6EuOAAAAA==
                BookingCode: T
                cabin_class: Economy
          - pricing_solution_id: f691f4c8df4d3b58fb9af347d1560b7dfb89ff18
            total_price: 383.1
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T15:00:00.000-04:00'
                departure_timestamp: 1723748400
                arrival_time: '2024-08-15T16:20:00.000-04:00'
                arrival_timestamp: 1723753200
                flight_number: '1992'
                operating_carrier: UA
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: EWR
                to_iata: IAD
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: Washington, DC, USA (IAD)
                Destination: IAD
                DepartureTime: '2024-08-15T15:00:00.000-04:00'
                DepartureTimestamp: 1723748400
                ArrivalTime: '2024-08-15T16:20:00.000-04:00'
                ArrivalTimestamp: 1723753200
                FlightNumber: '1992'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 80
                AircraftType: '319'
                AvailabilitySource: S
                Key: FywAnATqWDKA56EuOAAAAA==
                BookingCode: H
                cabin_class: Economy
          aed2e648f78be1a1566f859262bf7da65a59c6ef:
          - pricing_solution_id: d57d0ecac2ea525054b64bdf6936f52e7ed89c91
            total_price: 355.2
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T20:30:00.000-04:00'
                departure_timestamp: 1723768200
                arrival_time: '2024-08-16T06:25:00.000+00:00'
                arrival_timestamp: 1723789500
                flight_number: '644'
                operating_carrier: FI
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: IAD
                to_iata: KEF
              - departure_time: '2024-08-16T07:40:00.000+00:00'
                departure_timestamp: 1723794000
                arrival_time: '2024-08-16T11:55:00.000+01:00'
                arrival_timestamp: 1723805700
                flight_number: '450'
                operating_carrier: FI
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: KEF
                to_iata: LHR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Washington, DC, USA (IAD)
                Origin: IAD
                DestinationName: Reykjavik, Iceland (KEF)
                Destination: KEF
                DepartureTime: '2024-08-15T20:30:00.000-04:00'
                DepartureTimestamp: 1723768200
                ArrivalTime: '2024-08-16T06:25:00.000+00:00'
                ArrivalTimestamp: 1723789500
                FlightNumber: '644'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 355
                AircraftType: 7M9
                AvailabilitySource: S
                Key: H1rAnAUqWDKAEOOmOAAAAA==
                BookingCode: O
                cabin_class: Economy
              - OriginName: Reykjavik, Iceland (KEF)
                Origin: KEF
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-16T07:40:00.000+00:00'
                DepartureTimestamp: 1723794000
                ArrivalTime: '2024-08-16T11:55:00.000+01:00'
                ArrivalTimestamp: 1723805700
                FlightNumber: '450'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 195
                AircraftType: 75T
                AvailabilitySource: S
                Key: H1rAnAUqWDKAGOOmOAAAAA==
                BookingCode: O
                cabin_class: Economy
          - pricing_solution_id: 6f27b5cdeabda2e890e7145357057971c8eeb9ce
            total_price: 453.2
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T23:15:00.000-04:00'
                departure_timestamp: 1723778100
                arrival_time: '2024-08-16T09:05:00.000+00:00'
                arrival_timestamp: 1723799100
                flight_number: '648'
                operating_carrier: FI
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: IAD
                to_iata: KEF
              - departure_time: '2024-08-16T16:10:00.000+00:00'
                departure_timestamp: 1723824600
                arrival_time: '2024-08-16T20:20:00.000+01:00'
                arrival_timestamp: 1723836000
                flight_number: '454'
                operating_carrier: FI
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: KEF
                to_iata: LHR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Washington, DC, USA (IAD)
                Origin: IAD
                DestinationName: Reykjavik, Iceland (KEF)
                Destination: KEF
                DepartureTime: '2024-08-15T23:15:00.000-04:00'
                DepartureTimestamp: 1723778100
                ArrivalTime: '2024-08-16T09:05:00.000+00:00'
                ArrivalTimestamp: 1723799100
                FlightNumber: '648'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 350
                AircraftType: 7M8
                AvailabilitySource: S
                Key: H1rAnAUqWDKAVOOmOAAAAA==
                BookingCode: W
                cabin_class: Economy
              - OriginName: Reykjavik, Iceland (KEF)
                Origin: KEF
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-16T16:10:00.000+00:00'
                DepartureTimestamp: 1723824600
                ArrivalTime: '2024-08-16T20:20:00.000+01:00'
                ArrivalTimestamp: 1723836000
                FlightNumber: '454'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 190
                AircraftType: 7M8
                AvailabilitySource: S
                Key: H1rAnAUqWDKAXOOmOAAAAA==
                BookingCode: W
                cabin_class: Economy
    OneWayVIGenerateSolutionResponse:
      summary: One Way VI Generate Solution Response
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency: CAD
        itineraries:
        - itinerary_id: 02e53b66f9b78bba846c61a0c04ff63db9956c85
          total_price: 738.3
          weight: 1215.8
          transportation_time: 955
          refundable: false
          is_virtual_interline: true
          structure: '[0]'
          flight_numbers:
          - FI450
          - FI644
          - UA1992
          segments:
          - pricing_solution_id: f691f4c8df4d3b58fb9af347d1560b7dfb89ff18
            is_vi_segment: true
            price: 383.1
            weight: 423.1
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: f691f4c8df4d3b58fb9af347d1560b7dfb89ff18__d57d0ecac2ea525054b64bdf6936f52e7ed89c91
            vi_solution_index: 0
            risk_profile: 5
            legs:
            - departure_time: '2024-08-15T15:00:00.000-04:00'
              departure_timestamp: 1723748400
              arrival_time: '2024-08-15T16:20:00.000-04:00'
              arrival_timestamp: 1723753200
              flight_number: '1992'
              operating_carrier: UA
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: EWR
              to_iata: IAD
              cancellation_probability: 0
              average_delay_time: 5
              is_international: false
              self_transfer_time: 250
              segment_leg_position: 0
          - pricing_solution_id: d57d0ecac2ea525054b64bdf6936f52e7ed89c91
            is_vi_segment: true
            price: 355.2
            weight: 667.7
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: f691f4c8df4d3b58fb9af347d1560b7dfb89ff18__d57d0ecac2ea525054b64bdf6936f52e7ed89c91
            vi_solution_index: 1
            risk_profile: 5
            legs:
            - departure_time: '2024-08-15T20:30:00.000-04:00'
              departure_timestamp: 1723768200
              arrival_time: '2024-08-16T06:25:00.000+00:00'
              arrival_timestamp: 1723789500
              flight_number: '644'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: IAD
              to_iata: KEF
              segment_leg_position: 0
            - departure_time: '2024-08-16T07:40:00.000+00:00'
              departure_timestamp: 1723794000
              arrival_time: '2024-08-16T11:55:00.000+01:00'
              arrival_timestamp: 1723805700
              flight_number: '450'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: KEF
              to_iata: LHR
              segment_leg_position: 0
          metadata:
          - - segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: Washington, DC, USA (IAD)
                Destination: IAD
                DepartureTime: '2024-08-15T15:00:00.000-04:00'
                DepartureTimestamp: 1723748400
                ArrivalTime: '2024-08-15T16:20:00.000-04:00'
                ArrivalTimestamp: 1723753200
                FlightNumber: '1992'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 80
                AircraftType: '319'
                AvailabilitySource: S
                Key: FywAnATqWDKA56EuOAAAAA==
                BookingCode: H
                cabin_class: Economy
            - segment_source: travelport
              legs:
              - OriginName: Washington, DC, USA (IAD)
                Origin: IAD
                DestinationName: Reykjavik, Iceland (KEF)
                Destination: KEF
                DepartureTime: '2024-08-15T20:30:00.000-04:00'
                DepartureTimestamp: 1723768200
                ArrivalTime: '2024-08-16T06:25:00.000+00:00'
                ArrivalTimestamp: 1723789500
                FlightNumber: '644'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 355
                AircraftType: 7M9
                AvailabilitySource: S
                Key: H1rAnAUqWDKAEOOmOAAAAA==
                BookingCode: O
                cabin_class: Economy
              - OriginName: Reykjavik, Iceland (KEF)
                Origin: KEF
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-16T07:40:00.000+00:00'
                DepartureTimestamp: 1723794000
                ArrivalTime: '2024-08-16T11:55:00.000+01:00'
                ArrivalTimestamp: 1723805700
                FlightNumber: '450'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 195
                AircraftType: 75T
                AvailabilitySource: S
                Key: H1rAnAUqWDKAGOOmOAAAAA==
                BookingCode: O
                cabin_class: Economy
          markup: 38
        - itinerary_id: 4353f4caf9958b7327825165a99a5c9a453273b4
          total_price: 670.7
          weight: 1275.7
          transportation_time: 1210
          refundable: false
          is_virtual_interline: true
          structure: '[0]'
          flight_numbers:
          - FI454
          - FI648
          - UA2494
          segments:
          - pricing_solution_id: 8373483e6353fd4a3833f8971feb9e70f0cc74ba
            is_vi_segment: true
            price: 217.5
            weight: 263
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: 8373483e6353fd4a3833f8971feb9e70f0cc74ba__6f27b5cdeabda2e890e7145357057971c8eeb9ce
            vi_solution_index: 0
            risk_profile: 20
            legs:
            - departure_time: '2024-08-15T19:10:00.000-04:00'
              departure_timestamp: 1723763400
              arrival_time: '2024-08-15T20:41:00.000-04:00'
              arrival_timestamp: 1723768860
              flight_number: '2494'
              operating_carrier: UA
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: EWR
              to_iata: IAD
              cancellation_probability: 0
              average_delay_time: 31
              is_international: false
              self_transfer_time: 154
              segment_leg_position: 0
          - pricing_solution_id: 6f27b5cdeabda2e890e7145357057971c8eeb9ce
            is_vi_segment: true
            price: 453.2
            weight: 935.7
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: 8373483e6353fd4a3833f8971feb9e70f0cc74ba__6f27b5cdeabda2e890e7145357057971c8eeb9ce
            vi_solution_index: 1
            risk_profile: 20
            legs:
            - departure_time: '2024-08-15T23:15:00.000-04:00'
              departure_timestamp: 1723778100
              arrival_time: '2024-08-16T09:05:00.000+00:00'
              arrival_timestamp: 1723799100
              flight_number: '648'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: IAD
              to_iata: KEF
              segment_leg_position: 0
            - departure_time: '2024-08-16T16:10:00.000+00:00'
              departure_timestamp: 1723824600
              arrival_time: '2024-08-16T20:20:00.000+01:00'
              arrival_timestamp: 1723836000
              flight_number: '454'
              operating_carrier: FI
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: KEF
              to_iata: LHR
              segment_leg_position: 0
          metadata:
          - - segment_source: travelport
              legs:
              - OriginName: Newark, NJ, USA (EWR)
                Origin: EWR
                DestinationName: Washington, DC, USA (IAD)
                Destination: IAD
                DepartureTime: '2024-08-15T19:10:00.000-04:00'
                DepartureTimestamp: 1723763400
                ArrivalTime: '2024-08-15T20:41:00.000-04:00'
                ArrivalTimestamp: 1723768860
                FlightNumber: '2494'
                Carrier: UA
                CarrierFullName: United Airlines Inc.
                FlightTime: 91
                AircraftType: '752'
                AvailabilitySource: S
                Key: FywAnATqWDKAv6EuOAAAAA==
                BookingCode: T
                cabin_class: Economy
            - segment_source: travelport
              legs:
              - OriginName: Washington, DC, USA (IAD)
                Origin: IAD
                DestinationName: Reykjavik, Iceland (KEF)
                Destination: KEF
                DepartureTime: '2024-08-15T23:15:00.000-04:00'
                DepartureTimestamp: 1723778100
                ArrivalTime: '2024-08-16T09:05:00.000+00:00'
                ArrivalTimestamp: 1723799100
                FlightNumber: '648'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 350
                AircraftType: 7M8
                AvailabilitySource: S
                Key: H1rAnAUqWDKAVOOmOAAAAA==
                BookingCode: W
                cabin_class: Economy
              - OriginName: Reykjavik, Iceland (KEF)
                Origin: KEF
                DestinationName: London, United Kingdom (LHR)
                Destination: LHR
                DepartureTime: '2024-08-16T16:10:00.000+00:00'
                DepartureTimestamp: 1723824600
                ArrivalTime: '2024-08-16T20:20:00.000+01:00'
                ArrivalTimestamp: 1723836000
                FlightNumber: '454'
                Carrier: FI
                CarrierFullName: Icelandair
                FlightTime: 190
                AircraftType: 7M8
                AvailabilitySource: S
                Key: H1rAnAUqWDKAXOOmOAAAAA==
                BookingCode: W
                cabin_class: Economy
          markup: 36
    TwoWayVIGenerateSolutionRequest:
      summary: Two Way VI Generate Solution Request
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        datasource_responses:
          d8aaf7973d68ad6822463df65e9911745ceacbd4:
          - pricing_solution_id: 442e59fe6d2ccca4c1b8dba751de42c9cba25b9a
            total_price: 90.7
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T22:37:00.000-04:00'
                departure_timestamp: 1729046220
                arrival_time: '2024-08-15T23:59:00.000-05:00'
                arrival_timestamp: 1729054740
                flight_number: '2495'
                operating_carrier: F9
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: ATL
                to_iata: DFW
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Atlanta, GA, USA (ATL)
                Origin: ATL
                DestinationName: Dallas, TX, USA (DFW)
                Destination: DFW
                DepartureTime: '2024-08-15T22:37:00.000-04:00'
                DepartureTimestamp: 1729046220
                ArrivalTime: '2024-08-15T23:59:00.000-05:00'
                ArrivalTimestamp: 1729054740
                FlightNumber: '2495'
                Carrier: F9
                CarrierFullName: Frontier Airlines Inc.
                FlightTime: 142
                AircraftType: 32N
                AvailabilitySource: A
                Key: eAo/mASqWDKAgzw+PAAAAA==
                BookingCode: G
                cabin_class: Economy
          7481a5c50efd1733253a829e2689ca8a553b1a16:
          - pricing_solution_id: 717ba6018b6afb373b2cb0a10595216b86aee1be
            total_price: 218.21
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-20T12:00:00-05:00'
                departure_timestamp: 1729443600
                arrival_time: '2024-08-20T16:07:00-04:00'
                arrival_timestamp: 1729454820
                flight_number: '1032'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: YYZ
              - departure_time: '2024-08-20T19:20:00-04:00'
                departure_timestamp: 1729466400
                arrival_time: '2024-08-20T22:26:00-03:00'
                arrival_timestamp: 1729473960
                flight_number: '616'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YYZ
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Toronto, ON, Canada (YYZ)
                Destination: YYZ
                DepartureTime: '2024-08-20T12:00:00-05:00'
                DepartureTimestamp: 1729443600
                ArrivalTime: '2024-08-20T16:07:00-04:00'
                ArrivalTimestamp: 1729454820
                FlightNumber: '1032'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 187
                Key: aeead66e790e3e373d9085d622ec7a1024915683
                fare_type: Published fare
                FareBasisCode: GNA2A0BA
                BookingCode: G
                cabin_class: Economic Standard
              - OriginName: Toronto, ON, Canada (YYZ)
                Origin: YYZ
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-20T19:20:00-04:00'
                DepartureTimestamp: 1729466400
                ArrivalTime: '2024-08-20T22:26:00-03:00'
                ArrivalTimestamp: 1729473960
                FlightNumber: '616'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 126
                Key: d3cddcde4410844e57064b69b29d36c553019e45
                fare_type: Published fare
                FareBasisCode: GNA2A0BA
                BookingCode: G
                cabin_class: Economic Standard
          - pricing_solution_id: e7740575592f5028be3d3079732e456e4c2b987b
            total_price: 218.21
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-20T12:00:00-05:00'
                departure_timestamp: 1729443600
                arrival_time: '2024-08-20T16:07:00-04:00'
                arrival_timestamp: 1729454820
                flight_number: '1032'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: YYZ
              - departure_time: '2024-08-20T18:00:00-04:00'
                departure_timestamp: 1729461600
                arrival_time: '2024-08-20T19:16:00-04:00'
                arrival_timestamp: 1729466160
                flight_number: '422'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YYZ
                to_iata: YUL
              - departure_time: '2024-08-20T22:10:00-04:00'
                departure_timestamp: 1729476600
                arrival_time: '2024-08-21T00:42:00-03:00'
                arrival_timestamp: 1729482120
                flight_number: '670'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YUL
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Toronto, ON, Canada (YYZ)
                Destination: YYZ
                DepartureTime: '2024-08-20T12:00:00-05:00'
                DepartureTimestamp: 1729443600
                ArrivalTime: '2024-08-20T16:07:00-04:00'
                ArrivalTimestamp: 1729454820
                FlightNumber: '1032'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 187
                Key: aeead66e790e3e373d9085d622ec7a1024915683
                fare_type: Published fare
                FareBasisCode: GNA2A0BA
                BookingCode: G
                cabin_class: Economic Standard
              - OriginName: Toronto, ON, Canada (YYZ)
                Origin: YYZ
                DestinationName: Montreal, PQ, Canada (YUL)
                Destination: YUL
                DepartureTime: '2024-08-20T18:00:00-04:00'
                DepartureTimestamp: 1729461600
                ArrivalTime: '2024-08-20T19:16:00-04:00'
                ArrivalTimestamp: 1729466160
                FlightNumber: '422'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 76
                Key: 04be45bf428b9ac05df3021d1d05e09a37a4a370
                fare_type: Published fare
                FareBasisCode: GNA2A0BA
                BookingCode: G
                cabin_class: Economic Standard
              - OriginName: Montreal, PQ, Canada (YUL)
                Origin: YUL
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-20T22:10:00-04:00'
                DepartureTimestamp: 1729476600
                ArrivalTime: '2024-08-21T00:42:00-03:00'
                ArrivalTimestamp: 1729482120
                FlightNumber: '670'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 92
                Key: 1955589866961bcf63ead28094869df7f9d0d057
                fare_type: Published fare
                FareBasisCode: GNA2A0BA
                BookingCode: G
                cabin_class: Economic Standard
          d86d57ec1b366316918a7ceb7a4c66d5cdbb1088:
          - pricing_solution_id: 638c2099ddf5cd6ea461861d8eb75837a75d504c
            total_price: 648
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T06:25:00-04:00'
                departure_timestamp: 1728987900
                arrival_time: '2024-08-15T07:45:00-05:00'
                arrival_timestamp: 1728996300
                flight_number: '2770'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATL
                to_iata: DFW
            - - departure_time: '2024-08-20T05:30:00-05:00'
                departure_timestamp: 1729420200
                arrival_time: '2024-08-20T09:50:00-04:00'
                arrival_timestamp: 1729432200
                flight_number: '1971'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: PHL
              - departure_time: '2024-08-20T10:30:00-04:00'
                departure_timestamp: 1729434600
                arrival_time: '2024-08-20T13:35:00-03:00'
                arrival_timestamp: 1729442100
                flight_number: '2252'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: PHL
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Atlanta, GA, USA (ATL)
                Origin: ATL
                DestinationName: Dallas, TX, USA (DFW)
                Destination: DFW
                DepartureTime: '2024-08-15T06:25:00-04:00'
                DepartureTimestamp: 1728987900
                ArrivalTime: '2024-08-15T07:45:00-05:00'
                ArrivalTimestamp: 1728996300
                FlightNumber: '2770'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 140
                Key: abb66f9aa245ee672546edf213a6b23ac4d14b93
                fare_type: Published fare
                FareBasisCode: SXAHZNM3
                BookingCode: S
                cabin_class: Economic Standard
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Philadelphia, PA, USA (PHL)
                Destination: PHL
                DepartureTime: '2024-08-20T05:30:00-05:00'
                DepartureTimestamp: 1729420200
                ArrivalTime: '2024-08-20T09:50:00-04:00'
                ArrivalTimestamp: 1729432200
                FlightNumber: '1971'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 200
                Key: 3e46e2c0a3e7a04c0b88c7d1abcff93bd84d7f3b
                fare_type: Published fare
                FareBasisCode: N7AHZSN1
                BookingCode: N
                cabin_class: Economic Standard
              - OriginName: Philadelphia, PA, USA (PHL)
                Origin: PHL
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-20T10:30:00-04:00'
                DepartureTimestamp: 1729434600
                ArrivalTime: '2024-08-20T13:35:00-03:00'
                ArrivalTimestamp: 1729442100
                FlightNumber: '2252'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 125
                Key: 1234ac4514ed324501832b983bfa3c2fc14ada64
                fare_type: Published fare
                FareBasisCode: N7AHZSN1
                BookingCode: N
                cabin_class: Economic Standard
          - pricing_solution_id: 9cbcc45860e038bd144aa550bbd398494632f687
            total_price: 648
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T08:15:00-04:00'
                departure_timestamp: 1728994500
                arrival_time: '2024-08-15T09:35:00-05:00'
                arrival_timestamp: 1729002900
                flight_number: '1567'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: ATL
                to_iata: DFW
            - - departure_time: '2024-08-20T05:30:00-05:00'
                departure_timestamp: 1729420200
                arrival_time: '2024-08-20T09:50:00-04:00'
                arrival_timestamp: 1729432200
                flight_number: '1971'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: PHL
              - departure_time: '2024-08-20T10:30:00-04:00'
                departure_timestamp: 1729434600
                arrival_time: '2024-08-20T13:35:00-03:00'
                arrival_timestamp: 1729442100
                flight_number: '2252'
                operating_carrier: AA
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: PHL
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Atlanta, GA, USA (ATL)
                Origin: ATL
                DestinationName: Dallas, TX, USA (DFW)
                Destination: DFW
                DepartureTime: '2024-08-15T08:15:00-04:00'
                DepartureTimestamp: 1728994500
                ArrivalTime: '2024-08-15T09:35:00-05:00'
                ArrivalTimestamp: 1729002900
                FlightNumber: '1567'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 140
                Key: 0665073f531bf9dcd535cc487fadad2550c37e4e
                fare_type: Published fare
                FareBasisCode: SXAHZNM3
                BookingCode: S
                cabin_class: Economic Standard
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Philadelphia, PA, USA (PHL)
                Destination: PHL
                DepartureTime: '2024-08-20T05:30:00-05:00'
                DepartureTimestamp: 1729420200
                ArrivalTime: '2024-08-20T09:50:00-04:00'
                ArrivalTimestamp: 1729432200
                FlightNumber: '1971'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 200
                Key: 3e46e2c0a3e7a04c0b88c7d1abcff93bd84d7f3b
                fare_type: Published fare
                FareBasisCode: N7AHZSN1
                BookingCode: N
                cabin_class: Economic Standard
              - OriginName: Philadelphia, PA, USA (PHL)
                Origin: PHL
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-20T10:30:00-04:00'
                DepartureTimestamp: 1729434600
                ArrivalTime: '2024-08-20T13:35:00-03:00'
                ArrivalTimestamp: 1729442100
                FlightNumber: '2252'
                Carrier: AA
                CarrierFullName: American Airlines Inc.
                FlightTime: 125
                Key: 1234ac4514ed324501832b983bfa3c2fc14ada64
                fare_type: Published fare
                FareBasisCode: N7AHZSN1
                BookingCode: N
                cabin_class: Economic Standard
          55cb8b35e01d9af0d8985dbc8e5be0a4ad39bd4e:
          - pricing_solution_id: 32372b6ed0e97975e807459fd27e1f11ce25ac67
            total_price: 60.6
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T13:18:00.000-04:00'
                departure_timestamp: 1729012680
                arrival_time: '2024-08-15T15:30:00.000-04:00'
                arrival_timestamp: 1729020600
                flight_number: '4348'
                operating_carrier: F9
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: ATL
                to_iata: LGA
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Atlanta, GA, USA (ATL)
                Origin: ATL
                DestinationName: New York, NY, USA (LGA)
                Destination: LGA
                DepartureTime: '2024-08-15T13:18:00.000-04:00'
                DepartureTimestamp: 1729012680
                ArrivalTime: '2024-08-15T15:30:00.000-04:00'
                ArrivalTimestamp: 1729020600
                FlightNumber: '4348'
                Carrier: F9
                CarrierFullName: Frontier Airlines Inc.
                FlightTime: 132
                AircraftType: 32N
                AvailabilitySource: A
                Key: eAo/mASqWDKAusw+PAAAAA==
                BookingCode: W
                cabin_class: Economy
          - pricing_solution_id: 9204f066b119174f7625e05873d08a9586a73697
            total_price: 60.6
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T07:49:00.000-04:00'
                departure_timestamp: 1728992940
                arrival_time: '2024-08-15T10:06:00.000-04:00'
                arrival_timestamp: 1729001160
                flight_number: '3288'
                operating_carrier: F9
                transportation_type: flight
                fare_type: PublicFare
                cabin_class: E
                from_iata: ATL
                to_iata: LGA
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Atlanta, GA, USA (ATL)
                Origin: ATL
                DestinationName: New York, NY, USA (LGA)
                Destination: LGA
                DepartureTime: '2024-08-15T07:49:00.000-04:00'
                DepartureTimestamp: 1728992940
                ArrivalTime: '2024-08-15T10:06:00.000-04:00'
                ArrivalTimestamp: 1729001160
                FlightNumber: '3288'
                Carrier: F9
                CarrierFullName: Frontier Airlines Inc.
                FlightTime: 137
                AircraftType: 32N
                AvailabilitySource: A
                Key: eAo/mASqWDKA9sw+PAAAAA==
                BookingCode: W
                cabin_class: Economy
          038a44c5a33242b40e1d7a7fbe2457741e46c056:
          - pricing_solution_id: 7c660b97551eaa09f86beada0c6da3e4a2146a11
            total_price: 109
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T06:00:00-04:00'
                departure_timestamp: 1728986400
                arrival_time: '2024-08-15T08:58:00-05:00'
                arrival_timestamp: 1729000680
                flight_number: '878'
                operating_carrier: DL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LGA
                to_iata: DFW
            metadata:
              segment_source: travelport
              legs:
              - OriginName: New York, NY, USA (LGA)
                Origin: LGA
                DestinationName: Dallas, TX, USA (DFW)
                Destination: DFW
                DepartureTime: '2024-08-15T06:00:00-04:00'
                DepartureTimestamp: 1728986400
                ArrivalTime: '2024-08-15T08:58:00-05:00'
                ArrivalTimestamp: 1729000680
                FlightNumber: '878'
                Carrier: DL
                CarrierFullName: Delta Airlines Inc.
                FlightTime: 238
                Key: 27643ac857494657ec72732470ea8570bfb8754c
                fare_type: Published fare
                FareBasisCode: VAWNH3BG
                BookingCode: E
                cabin_class: Economic Standard
          - pricing_solution_id: 67f5e3de9be1c0ea1f157d2d38656b01e523741d
            total_price: 109
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-15T08:00:00-04:00'
                departure_timestamp: 1728993600
                arrival_time: '2024-08-15T11:03:00-05:00'
                arrival_timestamp: 1729008180
                flight_number: '873'
                operating_carrier: DL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: LGA
                to_iata: DFW
            metadata:
              segment_source: travelport
              legs:
              - OriginName: New York, NY, USA (LGA)
                Origin: LGA
                DestinationName: Dallas, TX, USA (DFW)
                Destination: DFW
                DepartureTime: '2024-08-15T08:00:00-04:00'
                DepartureTimestamp: 1728993600
                ArrivalTime: '2024-08-15T11:03:00-05:00'
                ArrivalTimestamp: 1729008180
                FlightNumber: '873'
                Carrier: DL
                CarrierFullName: Delta Airlines Inc.
                FlightTime: 243
                Key: ce34f4b4eb15369a48401d63f8a5efe36bba2083
                fare_type: Published fare
                FareBasisCode: VAWNH3BG
                BookingCode: E
                cabin_class: Economic Standard
          332b75ffc09b255cbbaaa5516ba56e445ba90765:
          - pricing_solution_id: 833f64439cbc836e89d723a9cc7187d9a36b8495
            total_price: 229.3
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-20T08:15:00-05:00'
                departure_timestamp: 1729430100
                arrival_time: '2024-08-20T10:10:00-06:00'
                arrival_timestamp: 1729440600
                flight_number: '7266'
                operating_carrier: DL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: SLC
              - departure_time: '2024-08-20T11:00:00-06:00'
                departure_timestamp: 1729443600
                arrival_time: '2024-08-20T12:28:00-07:00'
                arrival_timestamp: 1729452480
                flight_number: '6322'
                operating_carrier: WS
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: SLC
                to_iata: YVR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Salt Lake City, UT, USA (SLC)
                Destination: SLC
                DepartureTime: '2024-08-20T08:15:00-05:00'
                DepartureTimestamp: 1729430100
                ArrivalTime: '2024-08-20T10:10:00-06:00'
                ArrivalTimestamp: 1729440600
                FlightNumber: '7266'
                Carrier: WS
                CarrierFullName: Westjet
                FlightTime: 175
                Key: 38c030aed16363b5ccb29322980482a1c862dac4
                fare_type: Published fare
                OperatingCarrier: DL
                OperatingCarrierFullName: Delta Airlines Inc.
                FareBasisCode: LOUD0ZES
                BookingCode: L
                cabin_class: Economic Standard
              - OriginName: Salt Lake City, UT, USA (SLC)
                Origin: SLC
                DestinationName: Vancouver, BC, Canada (YVR)
                Destination: YVR
                DepartureTime: '2024-08-20T11:00:00-06:00'
                DepartureTimestamp: 1729443600
                ArrivalTime: '2024-08-20T12:28:00-07:00'
                ArrivalTimestamp: 1729452480
                FlightNumber: '6322'
                Carrier: WS
                CarrierFullName: Westjet
                FlightTime: 148
                Key: 48190325d2e87dd320186d46ee799aeaa2e31f0b
                fare_type: Published fare
                FareBasisCode: LOUD0ZES
                BookingCode: L
                cabin_class: Economic Standard
          - pricing_solution_id: 5944062191c5dd610f89214a7b346daea9d749d2
            total_price: 229.3
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-20T18:00:00-05:00'
                departure_timestamp: 1729465200
                arrival_time: '2024-08-20T19:54:00-06:00'
                arrival_timestamp: 1729475640
                flight_number: '7527'
                operating_carrier: DL
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: DFW
                to_iata: SLC
              - departure_time: '2024-08-20T21:10:00-06:00'
                departure_timestamp: 1729480200
                arrival_time: '2024-08-20T22:37:00-07:00'
                arrival_timestamp: 1729489020
                flight_number: '6695'
                operating_carrier: WS
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: SLC
                to_iata: YVR
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Dallas, TX, USA (DFW)
                Origin: DFW
                DestinationName: Salt Lake City, UT, USA (SLC)
                Destination: SLC
                DepartureTime: '2024-08-20T18:00:00-05:00'
                DepartureTimestamp: 1729465200
                ArrivalTime: '2024-08-20T19:54:00-06:00'
                ArrivalTimestamp: 1729475640
                FlightNumber: '7527'
                Carrier: WS
                CarrierFullName: Westjet
                FlightTime: 174
                Key: 62028cbd729315ecbb6e00c2d83474589bdda54d
                fare_type: Published fare
                OperatingCarrier: DL
                OperatingCarrierFullName: Delta Airlines Inc.
                FareBasisCode: LOUD0ZES
                BookingCode: L
                cabin_class: Economic Standard
              - OriginName: Salt Lake City, UT, USA (SLC)
                Origin: SLC
                DestinationName: Vancouver, BC, Canada (YVR)
                Destination: YVR
                DepartureTime: '2024-08-20T21:10:00-06:00'
                DepartureTimestamp: 1729480200
                ArrivalTime: '2024-08-20T22:37:00-07:00'
                ArrivalTimestamp: 1729489020
                FlightNumber: '6695'
                Carrier: WS
                CarrierFullName: Westjet
                FlightTime: 147
                Key: 77a53b5e28f954bb6cbd244b06f7df95b52c5b13
                fare_type: Published fare
                FareBasisCode: LOUD0ZES
                BookingCode: L
                cabin_class: Economic Standard
          184d8564262a1548983fe8ee687f4759c3b31868:
          - pricing_solution_id: 966bff2f90e33a840ec2b4009e353c3d97b4e734
            total_price: 356.43
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-21T12:20:00-07:00'
                departure_timestamp: 1729538400
                arrival_time: '2024-08-21T19:55:00-04:00'
                arrival_timestamp: 1729554900
                flight_number: '264'
                operating_carrier: PD
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YVR
                to_iata: YOW
              - departure_time: '2024-08-21T20:30:00-04:00'
                departure_timestamp: 1729557000
                arrival_time: '2024-08-21T23:09:00-03:00'
                arrival_timestamp: 1729562940
                flight_number: '247'
                operating_carrier: PD
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YOW
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Vancouver, BC, Canada (YVR)
                Origin: YVR
                DestinationName: Ottawa, ON, Canada (YOW)
                Destination: YOW
                DepartureTime: '2024-08-21T12:20:00-07:00'
                DepartureTimestamp: 1729538400
                ArrivalTime: '2024-08-21T19:55:00-04:00'
                ArrivalTimestamp: 1729554900
                FlightNumber: '264'
                Carrier: PD
                CarrierFullName: Porter Airlines, Inc.
                FlightTime: 275
                Key: b454fca2cb27098c574e3688cd697ee5f181d34e
                fare_type: Published fare
                FareBasisCode: WXC0ZRLL
                BookingCode: W
                cabin_class: Economic Standard
              - OriginName: Ottawa, ON, Canada (YOW)
                Origin: YOW
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-21T20:30:00-04:00'
                DepartureTimestamp: 1729557000
                ArrivalTime: '2024-08-21T23:09:00-03:00'
                ArrivalTimestamp: 1729562940
                FlightNumber: '247'
                Carrier: PD
                CarrierFullName: Porter Airlines, Inc.
                FlightTime: 99
                Key: 4e919f9dfd64798a23559ef98d5dba0d92b6eab2
                fare_type: Published fare
                FareBasisCode: WXC0ZRLL
                BookingCode: W
                cabin_class: Economic Standard
          - pricing_solution_id: 1280e019cba654a2f26882dee8791973f5b187dd
            total_price: 387.93
            segment_source: travelport
            is_private_fare: false
            refundable: false
            baggage: 23kg
            segments:
            - - departure_time: '2024-08-21T08:40:00-07:00'
                departure_timestamp: 1729525200
                arrival_time: '2024-08-21T18:27:00-03:00'
                arrival_timestamp: 1729546020
                flight_number: '362'
                operating_carrier: AC
                transportation_type: flight
                fare_type: Published fare
                cabin_class: E
                from_iata: YVR
                to_iata: YHZ
            metadata:
              segment_source: travelport
              legs:
              - OriginName: Vancouver, BC, Canada (YVR)
                Origin: YVR
                DestinationName: Halifax, NS, Canada (YHZ)
                Destination: YHZ
                DepartureTime: '2024-08-21T08:40:00-07:00'
                DepartureTimestamp: 1729525200
                ArrivalTime: '2024-08-21T18:27:00-03:00'
                ArrivalTimestamp: 1729546020
                FlightNumber: '362'
                Carrier: AC
                CarrierFullName: Air Canada
                FlightTime: 347
                Key: 946b98a308896e3ec6e633b2ed28c732d268b3db
                fare_type: Published fare
                FareBasisCode: TW9LZCTG
                BookingCode: T
                cabin_class: Economic Standard
    TwoWayVIGenerateSolutionResponse:
      summary: Two Way VI Generate Solution Response
      value:
        trip_id: gAAAAABlSXcLA0ChTKO9-iZT-sveIYqZ4tEluxEBAnSupx0rIBvx1NI4_7apGXoe8iTtZ4iytATGyURN7IGDUnWmSKXMYhQfA7DhlPOY4SidBcigPAKWH7k=
        currency: CAD
        itineraries:
        - itinerary_id: 936ed916636c36f13743e4f95331de89da0713dd
          total_price: 308.91
          weight: 700.91
          transportation_time: 784
          refundable: false
          is_virtual_interline: false
          structure: '[0, 1]'
          flight_numbers:
          - AC1032
          - AC422
          - AC670
          - F92495
          segments:
          - pricing_solution_id: 442e59fe6d2ccca4c1b8dba751de42c9cba25b9a
            is_vi_segment: false
            price: 90.7
            weight: 161.7
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            legs:
            - departure_time: '2024-08-15T22:37:00.000-04:00'
              departure_timestamp: 1729046220
              arrival_time: '2024-08-15T23:59:00.000-05:00'
              arrival_timestamp: 1729054740
              flight_number: '2495'
              operating_carrier: F9
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: ATL
              to_iata: DFW
              segment_leg_position: 0
          - pricing_solution_id: e7740575592f5028be3d3079732e456e4c2b987b
            is_vi_segment: false
            price: 218.21
            weight: 539.21
            segment_position: 1
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            legs:
            - departure_time: '2024-08-20T12:00:00-05:00'
              departure_timestamp: 1729443600
              arrival_time: '2024-08-20T16:07:00-04:00'
              arrival_timestamp: 1729454820
              flight_number: '1032'
              operating_carrier: AC
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: DFW
              to_iata: YYZ
              segment_leg_position: 1
            - departure_time: '2024-08-20T18:00:00-04:00'
              departure_timestamp: 1729461600
              arrival_time: '2024-08-20T19:16:00-04:00'
              arrival_timestamp: 1729466160
              flight_number: '422'
              operating_carrier: AC
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: YYZ
              to_iata: YUL
              segment_leg_position: 1
            - departure_time: '2024-08-20T22:10:00-04:00'
              departure_timestamp: 1729476600
              arrival_time: '2024-08-21T00:42:00-03:00'
              arrival_timestamp: 1729482120
              flight_number: '670'
              operating_carrier: AC
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: YUL
              to_iata: YHZ
              segment_leg_position: 1
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: Atlanta, GA, USA (ATL)
              Origin: ATL
              DestinationName: Dallas, TX, USA (DFW)
              Destination: DFW
              DepartureTime: '2024-08-15T22:37:00.000-04:00'
              DepartureTimestamp: 1729046220
              ArrivalTime: '2024-08-15T23:59:00.000-05:00'
              ArrivalTimestamp: 1729054740
              FlightNumber: '2495'
              Carrier: F9
              CarrierFullName: Frontier Airlines Inc.
              FlightTime: 142
              AircraftType: 32N
              AvailabilitySource: A
              Key: eAo/mASqWDKA7EOFQAAAAA==
              BookingCode: G
              cabin_class: Economy
          - segment_source: travelport
            legs:
            - OriginName: Dallas, TX, USA (DFW)
              Origin: DFW
              DestinationName: Toronto, ON, Canada (YYZ)
              Destination: YYZ
              DepartureTime: '2024-08-20T12:00:00-05:00'
              DepartureTimestamp: 1729443600
              ArrivalTime: '2024-08-20T16:07:00-04:00'
              ArrivalTimestamp: 1729454820
              FlightNumber: '1032'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 187
              Key: aeead66e790e3e373d9085d622ec7a1024915683
              fare_type: Published fare
              FareBasisCode: GNA2A0BA
              BookingCode: G
              cabin_class: Economic Standard
            - OriginName: Toronto, ON, Canada (YYZ)
              Origin: YYZ
              DestinationName: Montreal, PQ, Canada (YUL)
              Destination: YUL
              DepartureTime: '2024-08-20T18:00:00-04:00'
              DepartureTimestamp: 1729461600
              ArrivalTime: '2024-08-20T19:16:00-04:00'
              ArrivalTimestamp: 1729466160
              FlightNumber: '422'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 76
              Key: 04be45bf428b9ac05df3021d1d05e09a37a4a370
              fare_type: Published fare
              FareBasisCode: GNA2A0BA
              BookingCode: G
              cabin_class: Economic Standard
            - OriginName: Montreal, PQ, Canada (YUL)
              Origin: YUL
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-08-20T22:10:00-04:00'
              DepartureTimestamp: 1729476600
              ArrivalTime: '2024-08-21T00:42:00-03:00'
              ArrivalTimestamp: 1729482120
              FlightNumber: '670'
              Carrier: AC
              CarrierFullName: Air Canada
              FlightTime: 92
              Key: 1955589866961bcf63ead28094869df7f9d0d057
              fare_type: Published fare
              FareBasisCode: GNA2A0BA
              BookingCode: G
              cabin_class: Economic Standard
          markup: 154
        - itinerary_id: e63b14042374db18df58c2a800d8b8bb8f10b877
          total_price: 648
          weight: 941
          transportation_time: 636
          refundable: false
          is_virtual_interline: false
          structure: '[(0, 1)]'
          flight_numbers:
          - AA1089
          - AA1971
          - AA2252
          - AA767
          segments:
          - pricing_solution_id: 638c2099ddf5cd6ea461861d8eb75837a75d504c
            is_vi_segment: false
            price: 648
            weight: 966
            segment_position:
            - 0
            - 1
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            legs:
            - departure_time: '2024-08-15T18:14:00-04:00'
              departure_timestamp: 1729030440
              arrival_time: '2024-08-15T19:40:00-04:00'
              arrival_timestamp: 1729035600
              flight_number: '767'
              operating_carrier: AA
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: ATL
              to_iata: CLT
              segment_leg_position: 0
            - departure_time: '2024-08-15T20:10:00-04:00'
              departure_timestamp: 1729037400
              arrival_time: '2024-08-15T21:45:00-05:00'
              arrival_timestamp: 1729046700
              flight_number: '1089'
              operating_carrier: AA
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: CLT
              to_iata: DFW
              segment_leg_position: 0
            - departure_time: '2024-08-20T05:30:00-05:00'
              departure_timestamp: 1729420200
              arrival_time: '2024-08-20T09:50:00-04:00'
              arrival_timestamp: 1729432200
              flight_number: '1971'
              operating_carrier: AA
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: DFW
              to_iata: PHL
              segment_leg_position: 1
            - departure_time: '2024-08-20T10:30:00-04:00'
              departure_timestamp: 1729434600
              arrival_time: '2024-08-20T13:35:00-03:00'
              arrival_timestamp: 1729442100
              flight_number: '2252'
              operating_carrier: AA
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: PHL
              to_iata: YHZ
              segment_leg_position: 1
          metadata:
          - segment_source: travelport
            legs:
            - OriginName: Atlanta, GA, USA (ATL)
              Origin: ATL
              DestinationName: Charlotte, NC, USA (CLT)
              Destination: CLT
              DepartureTime: '2024-08-15T18:14:00-04:00'
              DepartureTimestamp: 1729030440
              ArrivalTime: '2024-08-15T19:40:00-04:00'
              ArrivalTimestamp: 1729035600
              FlightNumber: '767'
              Carrier: AA
              CarrierFullName: American Airlines Inc.
              FlightTime: 86
              Key: f3b97f7ce422a7a1b0a88ab2172f48ca048698d1
              fare_type: Published fare
              FareBasisCode: SXAHZNM3
              BookingCode: S
              cabin_class: Economic Standard
            - OriginName: Charlotte, NC, USA (CLT)
              Origin: CLT
              DestinationName: Dallas, TX, USA (DFW)
              Destination: DFW
              DepartureTime: '2024-08-15T20:10:00-04:00'
              DepartureTimestamp: 1729037400
              ArrivalTime: '2024-08-15T21:45:00-05:00'
              ArrivalTimestamp: 1729046700
              FlightNumber: '1089'
              Carrier: AA
              CarrierFullName: American Airlines Inc.
              FlightTime: 155
              Key: d30051f62539b041be10c756d92e33dc23066bf9
              fare_type: Published fare
              FareBasisCode: SXAHZNM3
              BookingCode: S
              cabin_class: Economic Standard
            - OriginName: Dallas, TX, USA (DFW)
              Origin: DFW
              DestinationName: Philadelphia, PA, USA (PHL)
              Destination: PHL
              DepartureTime: '2024-08-20T05:30:00-05:00'
              DepartureTimestamp: 1729420200
              ArrivalTime: '2024-08-20T09:50:00-04:00'
              ArrivalTimestamp: 1729432200
              FlightNumber: '1971'
              Carrier: AA
              CarrierFullName: American Airlines Inc.
              FlightTime: 200
              Key: 3e46e2c0a3e7a04c0b88c7d1abcff93bd84d7f3b
              fare_type: Published fare
              FareBasisCode: N7AHZSN1
              BookingCode: N
              cabin_class: Economic Standard
            - OriginName: Philadelphia, PA, USA (PHL)
              Origin: PHL
              DestinationName: Halifax, NS, Canada (YHZ)
              Destination: YHZ
              DepartureTime: '2024-08-20T10:30:00-04:00'
              DepartureTimestamp: 1729434600
              ArrivalTime: '2024-08-20T13:35:00-03:00'
              ArrivalTimestamp: 1729442100
              FlightNumber: '2252'
              Carrier: AA
              CarrierFullName: American Airlines Inc.
              FlightTime: 125
              Key: 1234ac4514ed324501832b983bfa3c2fc14ada64
              fare_type: Published fare
              FareBasisCode: N7AHZSN1
              BookingCode: N
              cabin_class: Economic Standard
          markup: 39
        - itinerary_id: 4581f59c05b4e40b5f30d13a41744d7d0cf819cf
          total_price: 387.81
          weight: 1016.31
          transportation_time: 1257
          refundable: false
          is_virtual_interline: true
          structure: '[0, 1]'
          flight_numbers:
          - AC1032
          - AC422
          - AC670
          - DL860
          - F94348
          segments:
          - pricing_solution_id: 32372b6ed0e97975e807459fd27e1f11ce25ac67
            is_vi_segment: true
            price: 60.6
            weight: 126.6
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: 32372b6ed0e97975e807459fd27e1f11ce25ac67__7c660b97551eaa09f86beada0c6da3e4a2146a11
            vi_solution_index: 0
            risk_profile: 11.43
            legs:
            - departure_time: '2024-08-15T13:18:00.000-04:00'
              departure_timestamp: 1729012680
              arrival_time: '2024-08-15T15:30:00.000-04:00'
              arrival_timestamp: 1729020600
              flight_number: '4348'
              operating_carrier: F9
              transportation_type: flight
              fare_type: PublicFare
              cabin_class: E
              from_iata: ATL
              to_iata: LGA
              cancellation_probability: 1.59
              average_delay_time: 26
              is_international: false
              self_transfer_time: 240
              segment_leg_position: 0
          - pricing_solution_id: 7c660b97551eaa09f86beada0c6da3e4a2146a11
            is_vi_segment: true
            price: 109
            weight: 230.5
            segment_position: 0
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            vi_solution_id: 32372b6ed0e97975e807459fd27e1f11ce25ac67__7c660b97551eaa09f86beada0c6da3e4a2146a11
            vi_solution_index: 1
            risk_profile: 11.43
            legs:
            - departure_time: '2024-08-15T19:30:00-04:00'
              departure_timestamp: 1729035000
              arrival_time: '2024-08-15T22:33:00-05:00'
              arrival_timestamp: 1729049580
              flight_number: '860'
              operating_carrier: DL
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: LGA
              to_iata: DFW
              segment_leg_position: 0
          - pricing_solution_id: e7740575592f5028be3d3079732e456e4c2b987b
            is_vi_segment: false
            price: 218.21
            weight: 539.21
            segment_position: 1
            segment_source: travelport
            is_private_fare: false
            baggage: 23kg
            legs:
            - departure_time: '2024-08-20T12:00:00-05:00'
              departure_timestamp: 1729443600
              arrival_time: '2024-08-20T16:07:00-04:00'
              arrival_timestamp: 1729454820
              flight_number: '1032'
              operating_carrier: AC
              transportation_type: flight
              fare_type: Published fare
              cabin_class: E
              from_iata: DFW
              to_iata: YYZ
              segment_leg_position: 1
            - departure_time: '2024-08-20T18:00:00-04:00'
              departure_timestamp: 1729461600
              arrival_time: '2024-08-20T19:16:00-04:00'
              arrival_timestamp: 1729466160
              flight_number: '422'
              operating_carrier: AC
              transportation_type: flight
[...]
